@box-loyalty-border-size: 3px;
@box-loyalty-vertical-padding-desktop: 30px;
@box-loyalty-padding-mobile: 20px;

.box-loyalty {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;

    border-radius: @radius;
    border: @box-loyalty-border-size solid @color-primary;

    @media @query-lg {
        flex-direction: row;
        margin-bottom: 100px;
    }

    &:before {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: @box-loyalty-border-size;
        
        background-color: @color-primary;

        @media @query-lg {
            display: block;
        }
    }

    &__item {
        width: 100%;
        padding: @box-loyalty-padding-mobile;

        @media @query-lg {
            width: 50%;
            padding: @box-loyalty-vertical-padding-desktop 40px;
        }

        &--right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0;

            @media @query-lg {
                padding-top: @box-loyalty-vertical-padding-desktop;
            }
        }
    }

    &__title {
        line-height: 32px;
        margin-bottom: 34px;

        font-size: 28px;

        @media @query-lg {
            line-height: 43px;
            margin-bottom: 21px;

            font-size: 36px;
        }

        strong {
            color: @color-primary;
        }

        br {
            @media @query-sm {
                display: none;
            }

            @media @query-lg {
                display: block;
            }
        }
    }

    &__form {
        width: 100%;

        @media @query-lg {
            max-width: 370px;
        }

        &__item {
            margin-bottom: 15px;

            @media @query-lg {
                margin-bottom: 30px;
            }
        }
    }
}
