# @deprecated
# This file is kept to provide a backward compatibility for parameters set in services.
# All values should be set with ENV variables exclusively.
# This file will be removed in the next major, when all occurrences of parameters will be replaced.

parameters:
    database_host: '%env(DATABASE_HOST)%'
    database_port: '%env(DATABASE_PORT)%'
    database_name: '%env(DATABASE_NAME)%'
    database_user: '%env(DATABASE_USER)%'
    database_password: '%env(DATABASE_PASSWORD)%'
    elasticsearch_host: '%env(ELASTICSEARCH_HOST)%'
    redis_host: '%env(REDIS_HOST)%'
    mailer_transport: '%env(MAILER_TRANSPORT)%'
    mailer_host: '%env(MAILER_HOST)%'
    mailer_user: '%env(MAILER_USER)%'
    mailer_password: '%env(MAILER_PASSWORD)%'
    mailer_disable_delivery: false
    mailer_master_email_address: no-reply@shopsys.com
    mailer_delivery_whitelist: [/@shopsys\.com$/]
    secret: '%env(APP_SECRET)%'
