td.column--superadmin {
    background-color: lighten(@color-red, 53%);
}

#js-overlay {
    background: rgba(36,51,58,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:10001;
}

.js-validation-error-toggle {
    cursor: pointer;
}

.js-sortable-values-item {
    background-color: @color-f;

    &:hover {
        background-color: @color-e;
    }
}

.width-50-percent {
    width: 50%;
}

.height-150 {
    height: 150px;
}

.mt15 {
    margin-top: 15px;
}
