// Settings for default elements

// TODO: Fonts would be fetched with async approach (in first site access) in the future (before production).
.font-face("GraphikRegular", "GraphikRegular", @font-weight: '400', @font-style: 'normal');
.font-face("GraphikSemiBold", "GraphikSemiBold", @font-weight: '400', @font-style: 'normal');
.font-face("GraphikBold", "GraphikBold", @font-weight: '400', @font-style: 'normal');
.font-face("GraphikMedium", "GraphikMedium", @font-weight: '400', @font-style: 'normal');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

html, body {
    min-height: 100%;
    padding: 0;
}

body, form, input, select, button, p, pre, dfn, address, ul, ol, li,
h1, h2, h3, h4, h5, h6, img,
table, tr, td, th, input, textarea {
    color: @color-base;
    font-family: @font-base;
    font-size: @font-size-mobile;
    line-height: @line-height-mobile;

    @media @query-lg {
        font-size: @font-size;
        line-height: @line-height;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

td, th {
    text-align: left;
}

hr {
    height: 1px;
}

dfn {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

p {
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    color: @color-primary;
    font-family: @font-secondary;
    font-weight: 400;
    line-height: 1.3em;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
    text-transform: uppercase;
}

h1 {
    margin: 0 0 10px 0;

    font-size: 29px;
    font-weight: normal;

    @media @query-md {
        font-size: 31px;
    }

    @media @query-lg {
        margin-bottom: 15px;

        font-size: 34px;
    }

    @media @query-vl {
        font-size: 36px;
    }
}

h2 {
    margin: 0 0 10px 0;

    font-size: 28px;    

    @media @query-md {
        font-size: 29px;
    }

    @media @query-lg {
        font-size: 30px;
    }
}

h3 {
    margin: 0 0 10px 0;

    font-size: 20px;
    font-weight: normal;

    @media @query-md {
        font-size: 20px;
    }

    @media @query-lg {
        margin-bottom: 15px;

        font-size: 23px;
    }

    @media @query-vl {
        font-size: 24px;
    }
}

h4 {
    margin: 0 0 10px 0;

    font-size: 19px;
    font-weight: bold;

    @media @query-md {
        font-size: 20px;
    }

    @media @query-lg {
        font-size: 21px;
    }

    @media @query-vl {
        margin-bottom: 20px;

        font-size: 21px;
    }
}

h5 {
    margin: 0 0 10px 0;

    font-size: @font-size-mobile;
    text-transform: uppercase;
    font-weight: bold;

    @media @query-lg {
        margin-bottom: 15px;

        font-size: 15px;
    }

    @media @query-vl {
        margin-bottom: 20px;

        font-size: 16px;
    }
}

h6 {
    margin: 0 0 10px 0;

    font-size: @font-size-mobile;
    font-weight: bold;

    @media @query-lg {
        font-size: @font-size;
    }
}

a {
    text-decoration: none;
    color: @color-link;
    cursor: pointer;
    outline: none;
    transition: @transition color;

    &:hover {
        text-decoration: underline;
        color: @color-link-hover;
    }
}
