.in-action {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @query-lg {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &--with-gap {
        margin-top: 30px;
    }

    &__left {
        order: 2;

        @media @query-lg {
            order: 1;
        }
    }

    &__right {
        margin-bottom: 30px;
        order: 1;

        @media @query-lg {
            order: 2;
            margin-bottom: 0;
        }
    }

    &__back {
        position: relative;
        padding-left: 23px;

        text-decoration: none;
        text-transform: uppercase;
        font-size: @font-size-small;
        font-weight: 700;
        color: @color-0;

        &:before {
            &:extend(.svg-arrow:before);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(90deg);

            font-family: svg;
            font-style: normal;
            font-weight: 400;
            opacity: 0.5;
        }
    }

    &__next {
        @media @query-mobile-xs {
            border-radius: @radius-medium;
        }

        &:before {
            transform: translateY(-50%) rotate(-90deg);
        }
    }
}
