@in-flag-position-top: 30px;
@in-flag-position-left: 0;
@in-flag-in-list-position-top: 0;
@in-flag-in-list-position-left: 0;

.in-flag {
    position: absolute;
    top: @in-flag-position-top;
    left: @in-flag-position-left;
    .clearfix();

    &--in-list {
        top: @in-flag-in-list-position-top;
        left: @in-flag-in-list-position-left;
    }

    &__item {
        float: left;
        clear: left;
        padding: 3px 12px 3px 6px;
        margin-bottom: 9px;

        font-size: 15px;
        border: 1px solid @color-border-lighter;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
    }
}
