@in-hamburger-icon-item-width: 16px;
@in-hamburger-icon-item-height: 2px;
@in-hamburger-icon-item-gap: 3px;

.in-hamburger {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 40px;

    cursor: pointer;
    background-color: @color-orange-light;
    border-radius: @radius;

    &__icon {
        width: @in-hamburger-icon-item-width;
        height: (@in-hamburger-icon-item-height * 3) + (@in-hamburger-icon-item-gap * 2);
        position: relative;
        transform: rotate(0deg);
        
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: @in-hamburger-icon-item-height;
            width: 100%;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);

            transition: .25s ease-in-out;
            background-color: @color-0;

            &:nth-child(1) {
                top: 0;

                .in-hamburger--active & {
                    top: @in-hamburger-icon-item-height + @in-hamburger-icon-item-gap;
                    width: 0%;
                    left: 50%;
                }
            }

            &:nth-child(2) {
                top: @in-hamburger-icon-item-height + @in-hamburger-icon-item-gap;

                .in-hamburger--active & {
                    transform: rotate(45deg);
                }
            }

            &:nth-child(3) {
                top: @in-hamburger-icon-item-height + @in-hamburger-icon-item-gap;

                .in-hamburger--active & {
                    transform: rotate(-45deg);
                }
            }

            &:nth-child(4) {
                top: (@in-hamburger-icon-item-height + @in-hamburger-icon-item-gap) * 2;

                .in-hamburger--active & {
                    top: @in-hamburger-icon-item-height + @in-hamburger-icon-item-gap;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    
    &__text {
        width: 29px;
        margin-left: 4px;

        font-size: 11px;

        &--open {
            display: inline;

            .in-hamburger--active & {
                display: none;
            }
        }

        &--close {
            display: none;

            .in-hamburger--active & {
                display: inline;
            }
        }
    }
}
