@in-hamburger-item-width: 16px;
@in-hamburger-item-height: 2px;
@in-hamburger-item-gap: 3px;

.in-hamburger-icon {
    width: @in-hamburger-item-width;
    height: (@in-hamburger-item-height * 3) + (@in-hamburger-item-gap * 2);
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: @in-hamburger-item-height;
        width: 100%;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        background-color: @color-0;

        &:nth-child(1) {
            top: 0;

            .active & {
                top: @in-hamburger-item-height + @in-hamburger-item-gap;
                width: 0%;
                left: 50%;
            }
        }

        &:nth-child(2) {
            top: @in-hamburger-item-height + @in-hamburger-item-gap;

            .active & {
                transform: rotate(45deg);
            }
        }

        &:nth-child(3) {
            top: @in-hamburger-item-height + @in-hamburger-item-gap;

            .active & {
                transform: rotate(-45deg);
            }
        }

        &:nth-child(4) {
            top: (@in-hamburger-item-height + @in-hamburger-item-gap) * 2;

            .active & {
                top: @in-hamburger-item-height + @in-hamburger-item-gap;
                width: 0%;
                left: 50%;
            }
        }
    }
}
