.in-icon {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;

    text-decoration: none;

    &--info {
        color: @color-add-secondary;
        font-size: 16px;
        height: 16px;
        cursor: help;
    }

    &--detail {
        color: @color-inactive;
    }
}
