@in-message-icon-size: 18px;
@in-message-remove-size: 13px;

.in-message {
    display: flex;
    align-items: center;
    padding: 15px 44px;
    line-height: 18px;
    margin-bottom: 10px;

    cursor: pointer;
    font-size: @font-size-small;
    color: @color-0;
    border-radius: @radius;

    &:before {
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
        line-height: @in-message-icon-size;
        overflow: hidden;

        font-family: svg;
        font-size: @in-message-icon-size;
        background-color: @color-f;
        border-radius: 100%;
    }

    &:after {
        &:extend(.svg-remove:before);
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        line-height: @in-message-remove-size;

        font-family: svg;
        color: @color-0;
        font-size: @in-message-remove-size;
        cursor: pointer;
    }

    &--error,
    &--alert {
        background-color: #ffc4c4;

        &:before {
            &:extend(.svg-error:before);
            color: @color-alert;
        }
    }

    &--warning {
        background-color: #ffdbc4;

        &:before {
            &:extend(.svg-warning:before);
            color: @color-warning;
        }
    }

    &--info {
        background-color: @color-light-secondary;

        &:before {
            &:extend(.svg-question-mark:before);
            color: @color-primary;
        }
    }

    &--success {
        background-color: #ddf9f5;

        &:before {
            &:extend(.svg-success:before);
            color: @color-info;
        }
    }

    &__list {
        .reset-ul();
    }
}
