.in-mobile-dropdown {
    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    z-index: @z-index-menu;
    overflow: hidden;
    padding-top: 48px;

    background-color: @color-f;

    &__button {
        top: 8px;
        right: 10px;
        position: absolute;
        z-index: @z-index-above;
    }

    .show-position {
        position: relative;
        left: 0;
    }
}
