.in-tab {
    &__head {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        z-index: @z-index-above;

        border-bottom: 1px solid @color-border;

        &__item {
            position: relative;
            margin: 0 16px;
            padding: 3px 8px;

            text-decoration: none;
            color: @color-0;

            &:hover {
                text-decoration: none;
            }

            &.active {
                color: @color-primary;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -1px;
                    height: 2px;

                    background-color: @color-primary;
                }
            }
        }
    }

    &__content {
        &__title {
            margin-bottom: 8px;
        }

        &__item {
            display: none;
            padding-top: 48px;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 10px;

            &.active {
                display: flex;
            }
        }

        &__left {
            width: 100%;

            @media @query-lg {
                flex: 1;
                margin-right: 126px;
            }
        }

        &__right {
            width: 100%;

            @media @query-lg {
                width: 300px;
            }

            @media @query-vl {
                width: 485px;
            }
        }

        &__block {
            margin-bottom: 32px;
            padding: 16px;

            border-radius: @radius;
            background-color: @color-light-secondary;

            &--without-background {
                padding: 0;
                
                background-color: transparent;
            }
        }
    }
}
