.in-tab {
    &__heading {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 33px;
        margin-bottom: 6px;

        text-transform: none;
        font-family: @font-base;
        font-size: 18px;
        color: @color-primary;

        .box-chooser__item__tooltip__wrap {
            margin-left: 15px;
            top: -2px;
        }
    }

    &__head {
        display: inline-flex;
        position: relative;
        z-index: 2;
        margin-bottom: 15px;

        &__item {
            display: inline-flex;
            align-items: center;
            position: relative;
            flex-grow: 1;
            margin-right: 30px;

            color: @color-primary;
            font-size: 15px;

            &::before {
                top: 0;
                width: @box-chooser-check-size;
                height: @box-chooser-check-size;
                content: '';

                background-image: none;
                background-color: @color-f;
                border-radius: 100%;
                border: 1px solid @box-chooser-check-border-color;
                transition: border-color @transition;
            }

            &::after {
                position: absolute;
                left: 5px;
                top: 8px;
                width: 10px;
                height: 10px;
                content: '';

                border-radius: 100%;
                background-color: @color-add-light;
                opacity: 0;
                transform: scale(0.5);
                transition: all @transition;
            }

            &.active,
            &:hover {
                text-decoration: none;

                &::before {
                    border-color: @box-chooser-check-border-color-active;
                }

                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &__text {
                position: relative;
                z-index: 1;
                margin-left: 10px;
            }
        }
    }

    &__content {
        &--spaced {
            padding-top: 30px;

            &-small {
                padding-top: 15px;
            }
        }

        &__title {
            display: none;

            .svg {
                position: absolute;
                top: 13px;
                right: 10px;

                font-size: 10px;
            }

            &.active {
                color: @color-primary;

                .svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__item {
            display: none;
            padding-top: 30px;

            &--no-padding {
                padding-top: 0;
            }

            &--no-spacing {
                padding-top: 0;

                .form-line-block-section {
                    margin-top: 0;
                }
            }

            &.active {
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    &__password-box {
        position: relative;
        padding: 20px 50px 20px 20px;
        margin-bottom: 20px;

        border-radius: @radius;
        background-color: #fff3b2;

        &__heading {
            margin-bottom: 0;

            font-size: 18px;
            text-transform: none;
            font-family: @font-base;
        }

        &__link {
            display: block;
            height: auto;
            text-align: left;

            text-decoration: underline;
            color: @color-primary-light;

            &:hover {
                text-decoration: none;
            }
        }

        &__icon {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);

            color: @color-add-light;
            font-size: 30px;
        }
    }
}
