.in-tab {
    &__head {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 2;
        margin-top: 0.5rem;

        border: 1px solid @color-border-lighter;
        border-radius: @radius;

        &__item {
            position: relative;
            flex-grow: 1;
            width: 50%;
            padding: 13px 0;
            text-align: center;

            text-transform: uppercase;
            color: @color-primary-light;
            font-family: @font-tertiary;
            font-size: 13px;
            letter-spacing: 1px;
            white-space: nowrap;

            @media @query-md {
                padding: 10px 15px 7px;
            }

            &::after {
                position: absolute;
                left: 4px;
                top: 4px;
                width: calc(100% - 8px);
                height: calc(100% - 8px);
                content: '';

                opacity: 0;
                pointer-events: none;
                transition: all @transition;
                background: linear-gradient(to top, #ffad00, #ffd500);
                border-radius: @radius;
                transform: scale(0.8);
            }

            &.active {
                color: @color-f;
                text-decoration: none;

                &::after {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &__text {
                position: relative;
                z-index: 1;

                @media @query-mobile {
                    letter-spacing: 0;
                    font-size: 12px;
                }
            }
        }
    }

    &__content {
        &--spaced {
            padding-top: 30px;
        }

        &__title {
            display: none;

            .svg {
                position: absolute;
                top: 13px;
                right: 10px;

                font-size: 10px;
            }

            &.active {
                color: @color-primary;

                .svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__item {
            display: none;
            padding-top: 30px;

            &.active {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}
