.in-title {
    margin-bottom: 0.75rem;

    font-size: 18px;
    font-weight: 400;
    text-transform: none;

    &--small-spacing {
        margin-bottom: 0.5rem;
    }

    &--mini {
        margin: -15px 0 15px 35px;

        color: @color-primary;
        font-size: 15px;
    }
}
