.js-not-implemented-yet + .tooltip {
    .tooltip-inner {
        border-color: red;
        background-color: #ffaaaa;
        color: #000000;
    }
}

.svg-kose:before {
    content: "\f10f";
}

.box-chooser__wide-button {
    width: 100%;
    padding: 5px;
    text-align: center;
}
