.js-not-implemented-yet + .tooltip {
    .tooltip-inner {
        border-color: red;
        background-color: #ffaaaa;
        color: #000000;
    }
}

.svg-kose:before {
    content: "\f10f";
}

.box-chooser__wide-button {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.form-input-spinbox {
    &.disabled {
        opacity: 0.5;
        cursor: no-drop;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
