.wrap-box {
    margin-bottom: 1.5rem;

    border-radius: @radius;
    background-color: @color-f;

    @media @query-md {
        margin-bottom: 3rem;
    }

    &--small-spacing {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--v2 {
        border: 2px solid @color-border-lighter;

        border-radius: @radius + 2;

        .box-table {
            margin-bottom: 0;

            border: 0;
            border-radius: 0;
        }
    }

    &__block {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .payment-price {
            color: @color-add;
        }
    }

    &__title {
        margin-bottom: 0;
        padding-bottom: 15px;

        font-family: @font-quartenary;
        font-size: 18px;
        font-weight: 400;
        border-bottom: 2px solid @color-border-lighter;
        text-transform: none;

        &--spaced {
            padding: 16px 15px 12px;

            border-bottom-width: 1px;

            @media @query-lg {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    &__button {
        margin: 0 10px 10px 0;

        &__price {
            position: relative;
            top: 1px;

            font-family: @font-quartenary;
            color: @color-add-secondary;
            text-transform: none;

            @media screen and (min-width: 1400px) {
                font-size: 18px;
            }

            &--not-free {
                color: @color-base-secondary;
            }
        }
    }

    &__in {
        width: 100%;
        padding: 15px;

        @media @query-md {
            padding: 25px;
        }

        @media @query-lg {
            display: flex;
        }

        &--no-spacing {
            display: block;
            padding: 0;
        }

        &__col {
            @media @query-lg {
                width: 50%;
                padding-right: 15px;
            }

            &--last {
                margin-top: 1rem;

                @media @query-lg {
                    margin-top: 0;
                    padding-right: 0;
                    padding-left: 15px;
                }
            }

            &--payment-repeat {
                @media @query-md {
                    text-align: right;
                }
            }
        }
    }

    &-separator {
        display: block;
        position: relative;
        left: calc(-50vw + 50%);
        width: 100vw;
        height: 2px;
        margin-bottom: 1.5rem;

        border: 0;
        background-color: @color-light;

        @media @query-md {
            margin-bottom: 3rem;
        }

        &--no-spacing {
            @media @query-md {
                margin-bottom: 1.5rem;
            }
        }
    }

    &--payment-error {
        .wrap-box__heading {
            text-transform: none;
            font-family: @font-tertiary;
        }

        .wrap-box__desc {
            margin: 1rem auto;
            max-width: 600px;
            text-align: center;

            font-size: 16px;
            line-height: 22px;
            color: @color-base-secondary;

            strong {
                color: @color-primary-light;
                font-family: @font-quartenary;
                font-weight: 400;
            }
        }

        .wrap-box__button-wrap {
            margin-top: 1.75rem;
            text-align: center;
        }

        .wrap-box__buttons {
            margin-top: 1rem;

            @media @query-md {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left: -30px;
                width: calc(100% + 30px);
            }
        }

        .wrap-box__button-label {
            display: block;
            width: 100%;
            margin-bottom: 1rem;

            @media @query-md {
                width: 50%;
                padding-left: 30px;
                margin-bottom: 30px;
            }

            @media @query-vl-up {
                width: 25%;
            }
        }

        .wrap-box__in {
            padding: 2rem 0;
        }

        .wrap-box__button {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 1rem 0 1rem;
            margin: 0;
            height: 60px;
            text-align: left;

            border: 2px solid @color-border-lighter;
            background-color: transparent;

            @media @query-vl-up {
                padding-left: 1.5rem;
            }

            @media @query-vl {
                transition: all @transition;
                will-change: transform;

                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 10px 20px 5px @color-border-lighter;
                }
            }

            &__content {
                flex-grow: 1;
            }

            &__name {
                position: relative;
                top: 1px;
                margin-right: 10px;

                text-transform: none;
                font-family: @font-quartenary;
                font-size: 15px;
                letter-spacing: 0;

                @media screen and (min-width: 1400px) {
                    margin-right: 15px;

                    font-size: 18px;
                }
            }

            &__icon {
                font-size: 30px;
            }
        }

        .btn--success {
            display: inline-flex;
            padding-left: 20px;
            padding-right: 20px;
        }

        & + .form-line {
            display: none;
        }
    }
}
