.wrap-box {
    margin-bottom: 1.5rem;

    border-radius: @radius;
    background-color: @color-f;

    @media @query-md {
        margin-bottom: 3rem;
    }

    &--small-spacing {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .payment-price {
            color: @color-add;
        }
    }

    &__title {
        margin-bottom: 0;
        padding-bottom: 15px;

        font-family: @font-quartenary;
        font-size: 18px;
        font-weight: 400;
        border-bottom: 2px solid @color-border-lighter;
        text-transform: none;

        &--spaced {
            padding: 16px 15px 12px;

            border-bottom-width: 1px;

            @media @query-lg {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    &__button {
        margin: 0 10px 10px 0;

        &__price {
            color: @color-add;
        }
    }

    &__in {
        width: 100%;
        padding: 15px;

        @media @query-md {
            padding: 25px;
        }

        @media @query-lg {
            display: flex;
        }

        &--no-spacing {
            display: block;
            padding: 0;
        }

        &__col {
            @media @query-lg {
                width: 50%;
                padding-right: 15px;
            }

            &--last {
                margin-top: 1rem;

                @media @query-lg {
                    margin-top: 0;
                    padding-right: 0;
                    padding-left: 15px;
                }
            }

            &--payment-repeat {
                @media @query-md {
                    text-align: right;
                }
            }
        }
    }

    &-separator {
        display: block;
        position: relative;
        left: calc(-50vw + 50%);
        width: 100vw;
        height: 2px;
        margin-bottom: 1.5rem;

        border: 0;
        background-color: @color-light;

        @media @query-md {
            margin-bottom: 3rem;
        }

        &--no-spacing {
            @media @query-md {
                margin-bottom: 1.5rem;
            }
        }
    }
}
