.wrap-box {
    margin-bottom: @margin-gap;

    border: 1px solid @color-border;

    &__block {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .payment-price {
            color: @color-add;
        }
    }

    &__title {
        padding: 10px 20px;
        margin-bottom: 0;

        border-bottom: 1px solid @color-border;
        background: @color-box;
    }

    &__button {
        margin: 0 10px 10px 0;

        &__price {
            color: @color-add;
        }
    }

    &__in {
        padding: 20px;
    }
}
