# ignore .git (can be volume-mounted in development environment)
.git

# ignore directories with meta-data
.ci
.idea
.github
nbproject

# ignore directories that should be created and filled during the image build
project-base/app/node_modules
project-base/app/var
!project-base/app/var/.gitkeep
project-base/app/web/assets/scripts
project-base/app/web/bundles
project-base/app/web/components
project-base/app/web/content
vendor

# ignore kubernetes manifests
project-base/app/infrastructure
project-base/app/kubernetes
