/.idea
/nbproject
/vendor
/.php_cs.cache
/.docker-sync
.DS_Store
/composer.lock
/docker-compose.yml
/docker-sync.yml
/project-base/composer.lock
/project-base/package-lock.json
/project-base/migrations-lock.yml
/project-base/.phpunit.result.cache
/.env.local
/.env.local.php
/.env.*.local
/utils/releaser/.phpunit.result.cache
