/.idea
/nbproject
/.npm-global
/vendor
/.php_cs.cache
/.phpcs-cache
/.docker-sync
.DS_Store
/composer.lock
/docker-compose.yml
/docker-sync.yml
/project-base/app/composer.lock
/project-base/app/package-lock.json
/project-base/app/migrations-lock.yml
/project-base/app/.phpunit.cache
/.env.local
/.env.local.php
/.env.*.local
/utils/releaser/.phpunit.cache
/packages/frontend-api/.phpunit.cache
