includes:
    - packages/coding-standards/shopsys-coding-standard.neon
    - vendor/symplify/easy-coding-standard/config/psr2.neon

parameters:
    exclude_checkers:
        # requires deeper refactoring
        - ObjectCalisthenics\Sniffs\Files\ClassTraitAndInterfaceLengthSniff
        - ObjectCalisthenics\Sniffs\Files\FunctionLengthSniff
        - ObjectCalisthenics\Sniffs\Metrics\PropertyPerClassLimitSniff

    skip:
        Shopsys\CodingStandards\Sniffs\ForbiddenSuperGlobalSniff:
            # allow $_SERVER
            - project-base/app/router.php

    skip_codes:
        PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\EmptyStatementSniff.DetectedCatch:
            # intentional
            - packages/framework/src/Component/Domain/Domain.php
            - packages/framework/src/Controller/Admin/ProductController.php
            - packages/framework/src/Model/Order/OrderFacade.php

        PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\EmptyStatementSniff.DetectedWhile:
            # simple message queues
            - packages/framework/src/Model/Product/Availability/ProductAvailabilityRecalculator.php
            - packages/framework/src/Model/Product/Pricing/ProductPriceRecalculator.php

        PHP_CodeSniffer\Standards\Squiz\Sniffs\NamingConventions\ValidVariableNameSniff.NotCamelCaps:
            # 3rd party Xml value
            - packages/product-feed-heureka/src/Model/HeurekaCategory/HeurekaCategoryDownloader.php
