@theme-kitchen-color: #3892A4;
@theme-kitchen-color-secondary: #105765;
@theme-kitchen-color-tertiary: #a1eadb;
@theme-kitchen-bg: #E4F5F0;
@theme-kitchen-bg-darker: #a1eadb;
@theme-kitchen-bg-very-dark: #105765;

.theme {
    &-kitchen-color {
        color: @theme-kitchen-color;
    }

    &-kitchen-color-secondary {
        color: @theme-kitchen-color-secondary;
    }

    &-kitchen-color-tertiary {
        color: @theme-kitchen-color-tertiary;
    }

    &-kitchen-color-white {
        color: @color-f;
    }

    &-kitchen-bg {
        background-color: @theme-kitchen-bg;
    }

    &-kitchen-bg-darker {
        background-color: @theme-kitchen-bg-darker;
    }

    &-kitchen-bg-very-dark {
        background-color: @theme-kitchen-bg-very-dark;
    }
}
