@form-columns-item-gap: 12px;
@form-columns-left-width: 65%;

.form-columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -@form-columns-item-gap;

    &__left {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media @query-lg {
            width: @form-columns-left-width;
        }

        &--full-width {
            width: 100%;
        }
    }

    &__right {
        width: 100%;
        line-height: 14px;
        padding-left: @form-columns-item-gap;
        margin-bottom: 26px;

        font-size: @font-size-small;

        @media @query-lg {
            display: flex;
            height: @input-height;
            align-items: center;
            width: calc(~"100% - @{form-columns-left-width}");
            padding-left: 20px;
            margin-bottom: 0;
        }
    }

    &__item {
        width: 100%;
        padding-left: @form-columns-item-gap;

        @media @query-sm {
            flex: 1;
            width: auto;
        }

        &--postcode {
            @media @query-sm {
                width: 130px;
                flex: none;
            }
        }

        &--title {
            @media @query-sm {
                width: 80px;
                flex: none;
            }
        }
    }

    &__link {
        font-weight: 700;
    }
}
