@form-input-spinbox-padding-vertical: 3px;
@form-input-spinbox-buttons-width: 16px;
@form-input-spinbox-input-width: 40px;
@form-input-spinbox-input-bg: @color-light-secondary;
@form-input-spinbox-border-color: @form-input-spinbox-input-bg;

.form-input-spinbox {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: @form-input-spinbox-padding-vertical 3px @form-input-spinbox-padding-vertical 3px;

    border: 2px solid @form-input-spinbox-border-color;
    border-radius: @radius;
    background-color: @form-input-spinbox-input-bg;
    overflow: hidden;

    &__input {
        width: @form-input-spinbox-input-width;
        padding: 0;
        height: @input-height - 2 * @form-input-spinbox-padding-vertical;
        line-height: normal;
        text-align: center;

        background-color: inherit;
        font-size: 15px;
        color: @color-primary;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3px;
        right: 3px;
        width: @form-input-spinbox-buttons-width;
        height: calc(100% - 6px);

        background: @color-f;
        color: @color-primary;
        cursor: pointer;
        border-radius: @radius / 2;

        &--minus {
            left: 3px;
            right: auto;
        }

        &__icon {
            transform: rotate(90deg);
            font-size: 8px;

            &--plus {
                transform: rotate(-90deg);
            }
        }

        &:hover {
            background: @color-light;
        }
    }

    &--light {
        background-color: @color-f;
        border-color: @color-border-lighter;

        .form-input-spinbox__btn {
            background-color: @color-border-lighter;

            &:hover {
                background-color: darken(@color-border-lighter, 3%);
            }
        }
    }

    &--big {
        width: 90px;
        height: 60px;

        @media @query-md {
            width: 100px;
        }

        .form-input-spinbox__input {
            width: 100%;
            height: 100%;

            font-size: 19px;
        }

        .form-input-spinbox__btn {
            width: 20px;

            &__icon {
                font-size: 12px;
            }
        }
    }

    &--mini {
        width: 60px;
        height: 38px;

        .form-input-spinbox__input {
            width: 100%;
            height: 100%;

            @media @query-md {
                font-size: 14px;
            }
        }

        .form-input-spinbox__btn {
            width: 12px;

            &__icon {
                font-size: 6px;
            }
        }
    }

    &--light {
        border: 1px solid @color-border-tertiary;
    }
}
