@form-input-spinbox-buttons-width: 32px;

.form-input-spinbox {
    display: inline-flex;
    width: 120px;
    height: @input-height;

    border: 2px solid @color-border-secondary;
    border-radius: @radius;
    background-color: @color-f;
    overflow: hidden;

    &--small {
        width: 100px;
        height: 30px;

        border-radius: @radius-medium;
    }

    &.disabled {
        border-color: @color-light-secondary;
    }

    &__input {
        flex: 1;
        text-align: center;
        padding: 0;
        height: 100%;
        min-width: 0;

        font-size: 18px;
        color: @color-base;
        font-weight: 700;

        .disabled & {
            color: @color-light;
            cursor: no-drop;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: @form-input-spinbox-buttons-width;

        color: @color-base;
        cursor: pointer;
        font-size: 12px;

        .disabled & {
            color: @color-light;
            cursor: no-drop;
        }
    }
}
