@form-line-block-margin-bottom: 15px;
@form-line-block-label-field-gap: 5px;

.form-line-block {
    position: relative;
    margin: 0 0 @form-line-block-margin-bottom + 5;
    padding: 0;

    @media @query-md {
        margin-bottom: @form-line-block-margin-bottom;
    }

    dt {
        margin: 0 0 @form-line-block-label-field-gap;
        padding: 0;
        display: block;
    }

    dd {
        margin: 0 0 @form-line-block-label-field-gap;
        padding: 0;
        display: block;
        position: relative;
    }

    .input {
        width: 100%;
        transition: padding .2s ease-in-out;
        will-change: padding;
    }

    label {
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 1;

        transition: transform .2s ease-in-out;
        transform-origin: top left;
        will-change: transform;
    }

    &.is-focused {
        label {
            transform: scale(0.8) translateY(-12px);
        }

        .input {
            padding-top: 18px;
        }
    }
}
