@form-line-block-margin-bottom: 15px;
@form-line-block-label-field-gap: 5px;

.form-line-block {
    position: relative;
    margin: 0 0 @form-line-block-margin-bottom;
    padding: 0;

    dt {
        padding: 0;
        display: block;
    }

    dd {
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
    }

    .input {
        width: 100%;
        transition: padding .2s ease-in-out;
        will-change: padding;
    }

    label {
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 1;

        transition: transform .2s ease-in-out;
        transform-origin: top left;
        will-change: transform;
    }

    &.is-focused {
        label {
            transform: scale(0.8) translateY(-12px);
        }

        .input {
            padding-top: 18px;
        }
    }

    &--three-quarters {
        max-width: 75%;
    }

    &--small-width {
        width: 150px;
    }

    &--full-width {
        width: 100%;
    }

    &--check {
        .css-checkbox__image {
            top: 5px;
            left: 0;
        }
    }

    &-section {
        margin-top: 2rem;

        &--no-spacing {
            margin: 0;
        }

        &__heading {
            margin-bottom: 1rem;

            font-size: 18px;
            font-family: @font-quartenary;
            font-weight: 400;
            text-transform: none;
        }

        &__grid {
            @media @query-md {
                display: flex;
                margin-bottom: @form-line-block-margin-bottom;

                .form-line-block {
                    margin: 0;
                }

                .form-line-block--first {
                    margin-right: @form-line-block-margin-bottom;
                }
            }
        }
    }
}
