@form-line-margin-bottom: 12px;
@form-line-label-field-gap: 5px;

.form-line {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: 0 0 @form-line-margin-bottom;
    padding: 0;

    &--without-gap {
        margin: 0;
    }

    &__input {
        display: flex;
        position: relative;
        
        &--max-width {
            max-width: 300px;
        }
    }

    &__error {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%;

        font-size: 0;
    }
}
