front_error_page:
    defaults:
        _controller: App\Controller\Admin\ErrorController::errorPagePreviewAction
    path: /_error/{code}/
    requirements:
        code: \d+

front_error_page_format:
    defaults:
        _controller: App\Controller\Admin\ErrorController::errorPagePreviewAction
    path: /_error/{code}/{_format}/
    requirements:
        _format: css|html|js|json|txt|xml
        code: \d+

shopsys_administration:
    prefix: /%admin_url%
    resource: "@ShopsysAdministrationBundle/Controller"

shopsys_convertim:
    prefix: /convertim
    resource: "@ShopsysConvertimBundle/Controller"

shopsys_framework:
    prefix: /%admin_url%
    resource: "@ShopsysFrameworkBundle/Controller/Admin"
