.svg {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.svg:before {
    vertical-align: middle;
}

.svg.svg-fw-bold::before {
    font-weight: 900 !important;
}
