@box-cart-info-width: (100% / 3 * 2);
@box-cart-preview-width: ~"calc(100% - @{box-cart-info-width})";

.js-not-implemented-yet + .tooltip {
    .tooltip-inner {
        border-color: red;
        background-color: #ffaaaa;
        color: #000000;
    }
}

.svg-kose:before {
    content: "\f10f";
}

.box-chooser__wide-button {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.form-input-spinbox {
    &.disabled {
        opacity: 0.5;
        cursor: no-drop;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.box-cart-info {
    width: @box-cart-info-width;
    float: left;

    &__oversized {
        padding: 1.5em;
        background-color: @color-add;

        p {
            margin: 0;
        }
    }
}

.box-cart__preview {
    width: @box-cart-preview-width;
    float: left;
    padding-left: 20px;
}

.color-purple {
    color: purple;
}

.line-through {
    text-decoration: line-through;
}

.preview-vat-info {
    font-size: 70%;
    color: grey;
    display: block;
}

.in-message--danger {
    color: red;
    border: 1px solid red;
    background: #f6fbe2;
}

.form-choice-color-picker {
    border: 1px solid silver;
    padding: 15px;
    margin: 5px;
    float: left;
    width: 20px;
    height: 20px;

    &:before {
        background: none;
    }
}

input[type=checkbox].css-checkbox {
    &:checked {
        & + .form-choice-color-picker {
            -webkit-box-shadow: 0 0 2px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: 0 0 2px 3px rgba(0,0,0,0.5);
            box-shadow: 0 0 2px 3px rgba(0,0,0,0.5);
        }
    }
}