@box-cart-info-width: (100% / 3 * 2);
@box-cart-preview-width: ~"calc(100% - @{box-cart-info-width})";

.js-not-implemented-yet + .tooltip {
    .tooltip-inner {
        border-color: red;
        background-color: #ffaaaa;
        color: #000000;
    }
}

.svg-kose:before {
    content: "\f10f";
}

.box-chooser__wide-button {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.category-product-series-box {
    display: inline-block;

    .left-box {
        float: left;

        p {
            font-weight: bold;
        }
    }

    .right-box {
        .box-detail {
            float: left;
            width: 25%;
        }
    }
}

.form-input-spinbox {
    &.disabled {
        opacity: 0.5;
        cursor: no-drop;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.box-cart-info {
    width: @box-cart-info-width;
    float: left;
}

.box-cart__preview {
    width: @box-cart-preview-width;
    float: left;
    padding-left: 20px;
}
