@cart-box-border: 2px solid #E7EBED;
@cart-box-border-radius: 6px;
@cart-box-color: #909194;
@cart-box-items-count-size: 17px;
@cart-box-items-count-font-size: 12px;

.cart {
    display: none;
    position: relative;

    @media @query-lg {
        display: block;
    }

    &__block {
        display: flex;
        align-items: center;

        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        font-size: 40px;
        line-height: 1;
    }

    &__info {
        @media @query-md {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 0.75rem 0.75rem 1rem;
            margin-right: 1rem;
            min-width: 65px;
            text-align: right;

            border: @cart-box-border;
            border-radius: @cart-box-border-radius;
            color: @cart-box-color;

            &:hover {
                border-color: @color-border;
            }
        }

        &::after {
            @media @query-vl {
                position: absolute;
                right: 50px;
                top: 20px;
                width: 10px;
                height: 10px;
                content: '';

                background-color: @color-f;
                border-right: @cart-box-border;
                border-top: @cart-box-border;
                transform: rotate(45deg);
            }
        }
    }

    &__state {
        display: none;

        @media @query-md {
            display: block;
        }

        &--active {
            font-family: @font-quartenary;
            color: @color-primary;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: -4px;
        width: @cart-box-items-count-size;
        height: @cart-box-items-count-size;

        border-radius: 100%;
        background-color: @color-add;
        background: linear-gradient(to bottom, #ffb300 40%, @color-add);
        color: @color-f;
        font-family: @font-tertiary;
        font-size: @cart-box-items-count-font-size;
        line-height: 1;

        @media @query-lg {
            top: 3px;
        }
    }
}
