@cart-box-border: 2px solid #f4f6f6;
@cart-box-border-radius: 6px;
@cart-box-color: #909194;

.cart {
    display: none;
    position: relative;

    @media @query-lg {
        display: block;
    }

    &__block {
        display: flex;
        align-items: center;

        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        font-size: 40px;
        line-height: 1;
    }

    &__info {
        @media @query-md {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem;
            margin-right: 0.5rem;
            min-width: 65px;

            border: @cart-box-border;
            border-radius: @cart-box-border-radius;
            color: @cart-box-color;
        }
    }

    &__state {
        display: none;

        @media @query-md {
            display: block;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: -4px;
        width: 17px;
        height: 17px;

        border-radius: 100%;
        background-color: @color-add;
        background: linear-gradient(to bottom, #ffb300, @color-add);
        color: @color-f;
        font-family: @font-tertiary;
        font-size: 12px;
        line-height: 1;

        @media @query-lg {
            top: 3px;
        }
    }
}
