@logo-height: 50px;
@logo-height-lg: 60px;
@logo-max-width: 112px;
@logo-max-width-lg: 135px;

.logo {
    display: flex;
    width: 100%;
    height: @logo-height;
    max-width: @logo-max-width;
    margin: 0;

    @media @query-lg {
        max-width: @logo-max-width-lg;
        height: @logo-height-lg;
    }

    &__img {
        max-height: 100%;
    }
}
