.logo {
    display: inline-block;
    width: 100%;
    height: 50px;
    max-width: 112px;
    margin: 0;

    @media @query-lg {
        max-width: 135px;
        height: 60px;
    }

    img {
        max-height: 100%;
    }
}
