@search-form-height: 52px;
@search-form-width-lg: 430px;
@search-form-bg-color: #f0f3f4;
@search-form-border-color: @search-form-bg-color;
@search-form-border-radius: @radius;

.search {
    display: none;
    position: relative;

    @media @query-md {
        display: block;
    }

    &__form {
        display: flex;

        &__input {
            position: relative;
            width: @search-form-width-lg;
            height: @search-form-height;
        }

        &__icon {
            position: absolute;
            top: 16px;
            left: 14px;
            transition: @transition color;

            color: @color-inactive;

            .search__input:focus + & {
                color: @color-primary;
            }
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        padding-left: 45px;

        border-radius: @search-form-border-radius;
        background-color: @search-form-bg-color;
        border-color: @search-form-border-color;
    }

    &__hint {
        .reset-ul();
        position: absolute;
        top: 34px;
        left: 0;
        width: 100%;
        z-index: 10;

        border: 1px solid @color-border;
        border-top: 0;
        background: @color-f;
        border-radius: 0 0 @radius @radius;

        &__item {
            border-top: 1px dashed @color-border;

            &__link {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 10px;
                .clearfix();

                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            &--info {
                padding: 10px 0;
                text-align: center;

                font-size: 12px;
                border: none;
            }

            &:last-child {
                border-radius: 0 0 @radius @radius;
            }
        }

        &__image {
            position: relative;
            height: 30px;
            width: 30px;

            img {
                .center-image();
            }

            .svg {
                position: relative;
                top: -2px;
                margin-bottom: -2px;

                font-size: 20px;
                color: @color-base;
            }
        }

        &__name {
            padding-left: 10px;
            flex: 1;
        }
    }
}
