/**
* use this file for temporary css changes
* content will be added at the end of css file
*/

.list-files__item .form-line__side {
    margin-left: 0;
}

.table-fixed {
    table-layout: fixed;
}

.edit-uuid {
    font-size: 45%;
    color: grey;
    margin-left: 1em;
}

.opening-hours-widget {
    display: flex;
    align-items: baseline;

    .form-line {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.js-promo-code-group-unpack {
    float: right;
}

.box-dropdown__options__item label {
    color: @color-base;
}

.table-form-cell-short {
    width: 335px;
}

.form-bg-color {
    background-color: @color-f;
}

.table-col-200px {
    width: 200px;
}

.web__header__search {
    display: none;

    @media @query-tablet {
        position: absolute;
        top: 50px;
        width: 100%;
        padding: 10px;

        background-color: @color-f;
        border-bottom: 1px solid @color-border-dark;

        &.active {
            display: block!important;
        }

        .input {
            width: 100%;
        }
    }

    @media @query-lg {
        display: block;
        position: relative;

        padding-left: 15px;
        width : 200px;
    }


    &__icon {
        display: block;
        margin-left: 10px;

        @media @query-lg {
            display: none;
        }
    }

    &--input {
        display: inline-block;
    }

    &--results {
        position: absolute;
        display: none;
        padding: 5px;
        width: 50vw;

        color: #3b3b1f;
        border: 1px solid @color-border-dark;
        background-color: white;

        @media @query-tablet {
            margin-right: 5px;
            width: calc(~'100% - 20px');
        }

        &__close {
            display: inline-block;
            float: right;
        }

        &__hint {
            float: right;
            color: #8a8a8a;
            display: inline-block;
            margin: 0 5px 0 3px;
        }

        .focused {
            background-color: #b9e5ff;
        }
    }

    .result--path {
        color: #8a8a8a;
    }
}
