/**
* use this file for temporary css changes
* content will be added at the end of css file
*/

.list-files__item .form-line__side {
  margin-left: 0;
}

.table-fixed {
  table-layout: fixed;
}

.edit-uuid {
  font-size: 45%;
  color: grey;
  margin-left: 1em;
}

.opening-hours-widget {
  display: flex;
  align-items: baseline;
  .form-line {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.js-promo-code-group-unpack {
  float: right;
}

.multi-column-list {
    .form-choice {
        padding: 10px 10px 10px 18px;
    }

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
    background-color: white;
    padding: 0;
}

.multi-column-list .box-dropdown__options__item {
    &:first-child {
        border-top: 1px solid @bg-page;
    }
    box-sizing: border-box;
    break-inside: avoid;
}

.table-form-cell-short {
  width: 335px;
}

.administrator_customer_list .table-grid__cell--actions {
    width: 130px;
}

.form-bg-color {
  background-color: @color-f;
}

.table-col-200px{
    width: 200px;
}
