{
    "customSyntax": "postcss-scss",
    "rules": {
        "block-no-empty": true,
        "color-no-invalid-hex": true,
        "comment-empty-line-before": [ "always", {
            "ignore": ["stylelint-commands", "after-comment"]
        } ],
        "declaration-block-no-duplicate-properties": [ true, {
            ignore: ["consecutive-duplicates"]
        } ],
        "function-calc-no-unspaced-operator": true,
        "length-zero-no-unit": true,
        "property-disallowed-list": [ "widht", "marign", "pading", "blcok" ],
        "rule-empty-line-before": [ "always", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        } ],
        "unit-allowed-list": ["em", "rem", "%", "px", "s", "ms", "deg", "vh", "vw"]
    }
}
