parameters:

    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: '%currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml'
        constantHassers: false

    ignoreErrors:
        -
            message: '#^Service "test.service_container" is not registered in the container.$#'
            path: %currentWorkingDirectory%/tests/*
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/shopsys/coding-standards/extension.neon
    - vendor/shopsys/mcp/extension.neon
