parameters:

    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: '%currentWorkingDirectory%/var/cache/dev/App_KernelDevDebugContainer.xml'
        constantHassers: false

    ignoreErrors:
        -
            # We need to have undefined variable for testing purposes
            message: '#^Undefined variable: \$undefined$#'
            path: %currentWorkingDirectory%/src/Controller/Test/ErrorHandlerController.php
        -
            # We need to have undefined variable for testing purposes
            message: '#^Expression "\$undefined\[42\]" on a separate line does not do anything\.$#'
            path: %currentWorkingDirectory%/src/Controller/Test/ErrorHandlerController.php
        -
            # Ignore annotations in generated code
            message: '#^PHPDoc tag @(param|return) has invalid value (.|\n)+ expected type at offset \d+$#'
            path: %currentWorkingDirectory%/tests/App/Test/Codeception/_generated/AcceptanceTesterActions.php
        -
            # Ignore annotations in generated code
            message: '#^PHPDoc tag @throws with type .+ is not subtype of Throwable$#'
            path: %currentWorkingDirectory%/tests/App/Test/Codeception/_generated/AcceptanceTesterActions.php
        -
            # Ignore annotations in generated code
            message: '#^PHPDoc tag @param for parameter \$function with type callable is not subtype of native type Closure.$#'
            path: %currentWorkingDirectory%/tests/App/Test/Codeception/_generated/AcceptanceTesterActions.php
        -
            # phpstan-symfony extension cannot work right with symfony test container at the moment https://github.com/phpstan/phpstan-symfony/issues/27
            message: '#^Service "[^"]+" is private.$#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#^Service "test.service_container" is not registered in the container.$#'
            path: %currentWorkingDirectory%/tests/*
        -
            message: '#^Service "snc_redis.test" is not registered in the container.$#'
            path: %currentWorkingDirectory%/tests/App/Functional/Component/Redis/Redis*FacadeTest.php
        -
            # Annotations in Codeception are not well describing
            message: '#^Parameter \#(\d+) (\$cssOrXPath|\$cssOrXPathOrRegex|\$field|\$selector|\$element) of method (Tests\\(.*)\\Codeception\\(.*)|Codeception\\Module\\WebDriver::moveMouseOver\(\)) expects (.*)#'
            path: %currentWorkingDirectory%/tests/App/*
        -
            message: '#^Unreachable statement - code above always terminates\.#'
            path: %currentWorkingDirectory%/tests/App/Functional/Model/Order/OrderFacade*Test.php
        -
            message: "#^PHPDoc tag @param for parameter \\$function with type callable is not subtype of native type Closure\\.$#"
            path: tests/App/Test/Codeception/AcceptanceTester.php
        -
            # in fact, anything can be passed to the load function, it just has a bad annotation
            message: '#^Parameter \#1 \$key of method Overblog\\DataLoader\\DataLoaderInterface::load\(\) expects string#'
            path: %currentWorkingDirectory%/src/FrontendApi/*
        -
            message: '#^Unreachable statement - code above always terminates\.#'
            path: %currentWorkingDirectory%/tests/App/Functional/EntityExtension/EntityExtensionTest.php

    excludePaths:
        - tests/App/Unit/PhpStan/GedmoTestEntity.php
        # Exclude coding standards for generated files
        - %currentWorkingDirectory%/tests/App/Test/Codeception/_generated/*
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/shopsys/coding-standards/extension.neon
    - sniffer/PhpStan/extension.neon
