<div class="web__line">
    <div class="web__container">
        <h1>
            {% block h1 %}
                {{ 'Order [noun]'|trans }}
            {% endblock %}
        </h1>
    </div>
</div>

{% block content %}
{% endblock %}
