@header-mobile-button-size: 50px;
@header-mobile-button-border: 2px solid #f4f6f6;
@header-mobile-button-border-radius: 5px;
@header-mobile-button-font-size: 33px;
@header-mobile-button-search-bg: #f0f3f4;
@header-mobile-button-dropdown-position: @web-header-mobile-dropdown-position;

@header-padding: 15px 0;
@header-padding-lg: 5px 0;

@header-middle-width-lg: 280px;
@header-middle-width-vl: 350px;
@header-middle-width-xl: 440px;


.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @header-padding;

    @media @query-lg {
        padding: @header-padding-lg;
    }

    @media screen and (min-width: 769px) and (max-width: 992px) {
        padding-bottom: 75px;
    }

    &__logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-right: 8px;

        @media @query-lg {
            padding-right: 20px;
            margin-right: 0;
        }

        @media screen and (min-width: 769px) and (max-width: 992px) {
            flex-grow: 2;
        }

        @media @query-xl {
            max-width: 360px;
        }
    }

    &__middle {
        display: none;

        @media @query-lg {
            display: block;
            width: @header-middle-width-lg;
            margin-right: 0.5rem;
        }

        @media screen and (min-width: 769px) and (max-width: 992px) {
            position: absolute;
            left: 0;
            bottom: 15px;
            width: 100%;

            .search__form__input {
                width: 100%;
            }
        }

        @media @query-vl {
            width: @header-middle-width-vl;
        }

        @media @query-xl {
            width: @header-middle-width-xl;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 4px;

        @media @query-lg {
            flex: 1;
            padding-left: 20px;
            margin-left: 0;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__mobile-button {
        display: none;

        @media @query-tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @header-mobile-button-size;
            height: @header-mobile-button-size;
            margin-left: 4px;

            border: @header-mobile-button-border;
            border-radius: @header-mobile-button-border-radius;
            outline: 0;
            cursor: pointer;
            font-size: @header-mobile-button-font-size;

            @media @query-lg {
                display: none;
            }

            &--menu {
                order: 2;
            }

            &--search {
                font-size: 30px;
                background-color: @header-mobile-button-search-bg;
            }

            &--login {
                font-size: 24px;
            }

            &__in {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: @transition color;

                color: @color-base;
                text-decoration: none;

                &.active {
                    color: @color-primary;
                    text-decoration: none;
                }
            }

            .svg {
                display: flex;
            }

            &__menu {
                display: none;
                position: absolute;
                top: @header-mobile-button-dropdown-position;
                left: -@web-padding;
                right: -@web-padding;

                background: @color-f;
                border-top: 1px solid @color-border;
                box-shadow: 0 10px 15px rgba(0,0,0, 0.2);

                a {
                    display: block;
                    padding: 3px 10px;

                    border-bottom: 1px solid @color-border;
                    text-decoration: none;
                }
            }
        }
    }
}
