MutationDecorator:
    type: object
    decorator: true
    config:
        fields:
            CreateOrder:
                type: Order!
                description: "Creates complete order with products and addresses"
                args:
                    input:
                        type: OrderInput!
                        validation: cascade
                resolve: "@=mutation('create_order', args, validator)"
            Login:
                type: Token!
                description: "Login user and return access and refresh tokens"
                args:
                    input:
                        type: LoginInput!
                resolve: "@=mutation('user_login', args)"
            Logout:
                type: Boolean!
                description: "Logout user"
                resolve: "@=mutation('user_logout')"
            RefreshTokens:
                type: Token!
                description: "Refreshes access and refresh tokens"
                args:
                    input:
                        type: RefreshTokenInput!
                resolve: "@=mutation('refresh_tokens', args)"
            ChangePassword:
                type: 'CurrentCustomerUser!'
                description: "Changes customer user password"
                args:
                    input:
                        type: ChangePasswordInput!
                        validation: cascade
                resolve: "@=mutation('customer_user_change_password', args, validator)"
            ChangePersonalData:
                type: 'CurrentCustomerUser!'
                description: "Changes customer user personal data"
                args:
                    input:
                        type: ChangePersonalDataInput!
                        validation: cascade
                resolve: "@=mutation('customer_user_change_personal_data', args, validator)"
            Register:
                type: Token!
                description: "Register new customer user"
                args:
                    input:
                        type: RegistrationDataInput!
                        validation: cascade
                resolve: "@=mutation('customer_user_register', args, validator)"
            NewsletterSubscribe:
                type: Boolean!
                description: "Subscribe for e-mail newsletter"
                args:
                    input:
                        type: NewsletterSubscriptionDataInput!
                        validation: cascade
                resolve: "@=mutation('newsletter_subscribe', args, validator)"
