QueryDecorator:
    type: object
    decorator: true
    config:
        fields:
            categories:
                type: '[Category!]!'
                resolve: "@=resolver('categories')"
                description: "Returns complete list of categories"
            products:
                type: "ProductConnection"
                argsBuilder: "Relay::Connection"
                resolve: "@=resolver('products', [args])"
                description: "Returns list of product that can be paginated using `first`, `last`, `before` and `after` keywords"
            product:
                type: 'Product'
                resolve: "@=resolver('product', [args['uuid']])"
                args:
                    uuid:
                        type: "Uuid!"
                description: "Returns product filtered using UUID"
            RegularProduct:
                type: 'RegularProduct'
            category:
                type: 'Category'
                resolve: "@=resolver('category', [args['uuid']])"
                args:
                    uuid:
                        type: "Uuid!"
                description: "Returns category filtered using UUID"
            payments:
                type: '[Payment!]!'
                resolve: "@=resolver('payments')"
                description: "Returns complete list of payment methods"
            payment:
                type: 'Payment'
                resolve: "@=resolver('payment', [args['uuid']])"
                args:
                    uuid:
                        type: "Uuid!"
                description: "Returns payment filtered using UUID"
            transports:
                type: '[Transport!]!'
                resolve: "@=resolver('transports')"
                description: "Returns complete list of transport methods"
            transport:
                type: 'Transport'
                resolve: "@=resolver('transport', [args['uuid']])"
                args:
                    uuid:
                        type: "Uuid!"
                description: "Returns complete list of transport methods"
            currentCustomerUser:
                type: 'CurrentCustomerUser!'
                resolve: "@=resolver('currentCustomerUser')"
                description: "Returns currently logged in customer user"
            orders:
                type: "OrderConnection"
                argsBuilder: "Relay::Connection"
                resolve: "@=resolver('orders', [args])"
                description: "Returns list of orders that can be paginated using `first`, `last`, `before` and `after` keywords"
            order:
                type: 'Order'
                resolve: "@=resolver('order', [args['uuid'], args['urlHash']])"
                args:
                    uuid:
                        type: "Uuid"
                    urlHash:
                        type: "String"
                description: "Returns order filtered using UUID or urlHash"
            articles:
                type: "ArticleConnection"
                argsBuilder: "Relay::Connection"
                resolve: "@=resolver('articles', [args, args['placement']])"
                args:
                    placement:
                        type: "String"
                description: "Returns list of articles that can be paginated using `first`, `last`, `before` and `after` keywords and filtered by `placement`"
            article:
                type: 'Article'
                resolve: "@=resolver('article', [args['uuid']])"
                args:
                    uuid:
                        type: "Uuid!"
                description: "Returns article filtered using UUID"
