/docs/generated
/node_modules
/node_modules/
/.npm-global
/var/*
!/var/.gitkeep
/vendor
/ACCEPTANCE
/DEVELOPMENT
/PRODUCTION
/TEST
/MAINTENANCE
/.php_cs.cache
/.env.local
/.env.local.php
/.env.*.local

/web/build/
npm-debug.log
yarn-error.log

/assets/js/translations.json
/assets/js/bundles
/assets/public/admin_svg.less
/assets/public/frontend_svg.less

/web/assets/frontend/files
/.phpunit.result.cache

/schema.graphql
