.box-articles {
    @media @query-lg {
        margin-top: 5rem;
    }

    &__wrap {
        position: relative;
        z-index: 1;

        @media @query-lg {
            display: flex;
        }
    }

    &__text {
        width: 100%;
        margin-bottom: 2rem;
        padding: 2rem;

        background-color: @color-light-secondary;
        border-radius: @radius;

        @media @query-lg {
            position: absolute;
            left: 0;
            top: -2rem;
            width: 95%;
        }

        &__inner {
            @media @query-lg {
                min-width: 33%;
                max-width: 33%;
            }
        }
    }

    &__desc {
        margin-bottom: 1rem;

        @media @query-md {
            max-width: 70%;
        }

        @media @query-vl {
            max-width: 100%;
            padding-right: 2.5rem;
        }
    }
}
