@box-articles-heading-title-gap: 7px;

.box-articles {
    padding: 50px 0 60px;

    &__heading {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 27px - @box-articles-heading-title-gap;

        &__title {
            line-height: 36px;
            margin: 0 32px @box-articles-heading-title-gap 0;

            font-size: 32px;
            color: @color-f;
            text-transform: none;
        }

        &__link {
            display: flex;
            align-items: center;
            margin-bottom: @box-articles-heading-title-gap;

            color: @color-f;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                color: @color-f;
                text-decoration: none;

                .box-articles__heading__link__text {
                    text-decoration: underline;
                }
            }

            .svg {
                position: relative;
                top: -1px;
                margin-left: 6px;

                font-size: 14px;
            }
        }
    }
}
