@box-breadcrumb-padding-horizontal: 10px;
@box-breadcrumb-padding-vertical: 3px;
@box-breadcrumb-item-font-size: 12px;
@box-breadcrumb-item-icon-font-size: 12px;
@box-breadcrumb-item-color: #8a8b8f;

.box-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
    margin-top: @margin-gap;
    margin-bottom: @margin-gap;

    text-align: center;

    &__item {
        padding: 0 8px;

        font-size: @box-breadcrumb-item-font-size;
        color: @box-breadcrumb-item-color;

        &:hover {
            text-decoration: none;
        }

        &--separator {
            padding-left: 0;
            padding-right: 0;

            font-size: @box-breadcrumb-item-font-size;
        }

        &--icon {
            text-decoration: none;
        }

        &--current {
            font-family: @font-quartenary;
            color: @color-primary;
        }

        &__icon {
            position: relative;
            top: -2px;
            left: -3px;

            font-size: @box-breadcrumb-item-icon-font-size;
        }
    }
}
