@box-breadcrumb-item-gap: 11px;
@box-breadcrumb-item-font-size: 13px;
@box-breadcrumb-item-color: @color-primary;
@box-breadcrumb-item-color-current: #555764;

.box-breadcrumb {
    margin: 0 -@web-padding 36px;
    padding: 11px @web-padding 9px;

    font-size: 0;
    border-bottom: 2px solid @color-border;

    @media @query-lg {
        padding: 0;
        margin: 0 0 36px;

        border-bottom: 0;
    }

    &__item {
        display: none;
        vertical-align: middle;
        margin-right: @box-breadcrumb-item-gap;

        font-size: @box-breadcrumb-item-font-size;
        color: @color-base-lighter;
        text-decoration: none;

        @media @query-lg {
            display: inline-block;

            color: @box-breadcrumb-item-color;
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }

        &--separator {
            transform: rotate(180deg) translateY(2px);
            margin-right: 7.5px;

            font-size: @box-breadcrumb-item-font-size;
            color: @color-base-lighter;
            text-decoration: none;

            @media @query-lg {
                transform: rotate(0) translateY(0);
                margin-right: @box-breadcrumb-item-gap;
            }

            &:before {
                &:extend(.svg-arrow-thin:before);

                font-family: SVG;

                @media @query-lg {
                    content: '/';

                    font-family: @font-base;
                }
            }
        }

        &--current {
            color: @box-breadcrumb-item-color-current;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        &--only-mobile {
            @media @query-lg {
                display: none !important;
            }
        }

        &:nth-last-child(4) {
            display: inline-block;

            .svg {
                transform: rotate(90deg);

                @media @query-lg {
                    transform: rotate(-90deg);
                }
            }
        }

        &:nth-last-child(3) {
            display: inline-block;
        }
    }
}
