.box-cart {
    margin-bottom: 48px;

    @media @query-lg {
        margin-bottom: 90px;
    }

    &__top {
        margin-bottom: 30px;
    }

    &__promo {
        margin-bottom: 18px;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        &__desc {
            margin: 10px 0 0;

            font-size: 12px;
            line-height: 1.2;
            color: #646f7c;

            &--apply {
                margin-top: 17px;
            }

            &__link {
                color: @color-primary;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
