@box-cart-preview-width: 100%;
@box-cart-preview-width-vl: 300px;
@box-cart-preview-width-xl: 375px;
@box-cart-card-padding: 15px;
@box-cart-card-bg: @color-f;

@query-cart-vl: ~"(min-width: 1200px)";

.box-cart {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media @query-cart-vl {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    &__col {
        &--info {
            @media @query-cart-vl {
                width: calc(100% - @box-cart-preview-width-vl - 30px);
            }

            @media @query-xl {
                width: calc(100% - @box-cart-preview-width-xl - 70px);
            }
        }

        &--preview {
            width: 100%;
            margin-top: 30px;

            @media @query-cart-vl {
                width: @box-cart-preview-width-vl;
                margin-top: -5px;
            }

            @media @query-xl {
                width: @box-cart-preview-width-xl;
            }

            &-step-2,
            &-step-3 {
                .box-cart__promo {
                    display: none;
                }
            }
        }
    }

    &-card {
        padding: @box-cart-card-padding;

        background-color: @box-cart-card-bg;
        border-radius: @radius;
        transition: all @transition;

        &--preview {
            position: relative;
            top: 20px;
            padding: 25px 20px 20px;

            border-radius: 0;

            &::before,
            &::after {
                position: absolute;
                left: 0;
                top: -15px;
                width: 100%;
                height: 15px;
                content: '';

                background-image: url('@{path-design}/spines.png');
                background-repeat: repeat;
            }

            &::after {
                top: auto;
                bottom: -15px;
                transform: scaleY(-1);
            }

            .box-cart-card__title {
                margin-bottom: 15px;

                &--no-margin {
                    margin-bottom: 0;
                }
            }
        }

        &.is-disabled {
            position: relative;

            opacity: 0.5;
            pointer-events: none;

            img {
                filter: grayscale(1);
                opacity: 0.5;
            }

            .box-chooser__item,
            .box-cart-card__title {
                filter: blur(2px);
            }
        }

        &__top {
            margin-bottom: 15px;

            @media @query-lg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 40px;
            }

            &--bordered {
                margin: -@box-cart-card-padding -@box-cart-card-padding 0;
                padding: @box-cart-card-padding;

                border-bottom: 1px solid @color-border-light;
            }
        }

        &__title {
            margin-bottom: 10px;

            font-family: @font-quartenary;
            font-size: 18px;
            text-transform: none;

            &--no-margin {
                margin: 0;
            }

            &--no-margin-lg-up {
                @media @query-lg {
                    margin: 0;
                }
            }
        }

        &--2 {
            margin-top: 15px;

            @media @query-md {
                margin-top: 30px;
            }
        }

        &--transport {
            margin-bottom: 30px;
        }

        &__form {
            width: 100%;
            padding: 15px 0;
            margin: auto;

            @media @query-lg {
                width: 570px;
                max-width: 570px;
            }

            &__title {
                margin-bottom: 15px;

                font-family: @font-tertiary;
                font-size: 20px;
                font-weight: 400;
                text-transform: none;
            }
        }
    }

    &__promo {
        padding: 15px 10px;
        margin-bottom: 18px;

        border: 2px solid @color-border-light;
        border-radius: @radius;

        &--active {
            padding: 10px;

            border-width: 1px;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        &__link {
            text-decoration: underline;
            color: @color-light-tertiary;
            font-size: 12px;

            &:hover {
                text-decoration: none;
            }
        }

        .image-noticer-cartPreview {
            display: block;
            margin: auto;

            border-radius: @radius;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        @media @query-mobile {
            position: absolute;
            left: 0;
            bottom: 60px;
            width: 100%;
            padding: 0 15px;
        }

        @media @query-md {
            flex-direction: row;
        }

        @media @query-vl {
            margin-top: 45px;
        }

        &--mobile {
            display: none;

            @media @query-mobile {
                position: static;
                display: block;
                margin: 0 0 25px;
                padding: 0;
            }
        }

        &--personal-info {
            @media @query-mobile {
                position: static;
            }
        }

        &__next {
            @media @query-mobile {
                width: 100%;
                margin-bottom: 25px;
            }

            &--terms {
                @media @query-md {
                    display: flex;
                    align-items: center;
                }
            }
        }

        &__back {
            @media @query-mobile {
                order: 1;
            }
        }

        &__terms {
            display: block;
            margin-bottom: 15px;

            @media @query-md {
                margin-bottom: 0;
                text-align: right;
                padding-right: 15px;

                line-height: 1.4;
                font-size: 12px;
            }

            a {
                text-decoration: underline;
                color: @color-primary;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &-message-box {
        display: flex;
        align-items: flex-start;
        padding: 15px 17px;
        margin-bottom: 15px;

        background-color: @color-f;
        border-radius: @radius;

        @media @query-md {
            margin-bottom: 30px;
            align-items: center;
        }

        @media @query-cart-vl {
            max-width: 700px;
        }

        @media @query-xl {
            margin-bottom: 50px;
        }

        &__img {
            width: 48px;
            max-width: 48px;
            margin-right: 15px;
        }

        &__title {
            display: block;
            margin-bottom: 4px;
            text-align: left;

            font-family: @font-quartenary;
            line-height: 1.3;
            font-size: 15px;
        }

        &__desc {
            margin: 0;

            font-size: 13px;
            line-height: 1.6;

            @media @query-md {
                font-size: 14px;
            }
        }
    }
}

.cart-price {
    display: block;

    color: @color-primary;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

    &--primary {
        font-family: @font-quartenary;
        font-size: 15px;
    }

    &--secondary {
        font-size: 13px;

        &-2 {
            color: rgba(21,22,30,0.7);
        }
    }

    &--smaller {
        font-size: 12px;
    }

    &--bigger {
        font-size: 17px;
    }

    &--big {
        font-size: 22px;
        line-height: 1;
    }

    &--previous {
        text-decoration: line-through;
        color: @color-base-lighter;
    }

    &--promo {
        color: #7f00ff;
    }

    &-caption {
        font-weight: 400;

        &--primary {
            font-family: @font-quartenary;
            line-height: 1.2;

            @media @query-xl {
                white-space: nowrap;
            }
        }

        &--big {
            font-size: 16px;
            color: @color-primary;

            @media @query-cart-vl {
                font-size: 18px;
            }
        }
    }
}

.cart-tag {
    &--promo {
        display: inline-block;
        padding: 4px 8px 3px;

        font-family: @font-quartenary;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
        background-color: rgba(#7f00ff, .18);
        color: #7f00ff;
        border-radius: 2em;
        font-weight: 400;

        &--primary {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 3px 10px 3px 10px;
            min-width: 85px;

            font-size: 14px;

            &::after {
                position: absolute;
                right: 27px;
                top: 0;
                width: 1px;
                height: 100%;
                content: '';

                background-color: rgba(#7f00ff, .3);
            }
        }
    }
}
