@box-cart-sent-text-width-mobile: 240px;
@box-cart-sent-email-color: #555764;

.box-cart-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px 0 40px;

    @media @query-lg {
        flex-direction: row;
        margin: 70px 0 90px;
    }

    &__image {
        width: 160px;
        margin-bottom: 40px;

        @media @query-lg {
            margin-right: 125px;
            margin-bottom: 0;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        text-align: center;

        @media @query-lg {
            text-align: left;
        }
    }

    &__title {
        width: @box-cart-sent-text-width-mobile;

        @media @query-lg {
            width: auto;
        }
    }

    &__text {
        margin: 0;
        width: @box-cart-sent-text-width-mobile;

        font-size: @font-size;

        @media @query-lg {
            width: auto;
        }
    }

    &__email {
        margin: 0;

        color: @box-cart-sent-email-color;
    }
}
