@box-chooser-item-spacing: @box-cart-card-padding;
@box-chooser-item-padding: 14px @box-chooser-item-spacing;
@box-chooser-item-hover-bg: #e6eaeb;

@box-chooser-check-size: 20px;
@box-chooser-image-width: 70px;
@box-chooser-price-width: 80px;
@box-chooser-check-border-color: darken(@color-border-lighter, 5%);
@box-chooser-check-border-color-active: darken(@color-border-lighter, 10%);
@box-chooser-title-width: ~"calc(100% - @{box-chooser-check-size} - @{box-chooser-image-width} - @{box-chooser-price-width})";

.box-chooser {
    &--check {
        .box-chooser__item {
            padding: 0;
            margin: 0;

            border: 0;

            &::after {
                display: none;
            }

            &:hover {
                background-color: transparent;
            }

            .form-line {
                width: 100%;
            }

            .form-choice {
                display: block;
                width: 100%;
                height: 50px;
            }

            input[type=checkbox].css-checkbox + .css-checkbox__image {
                display: flex;
                align-items: center;
                padding: 10px 15px 10px 50px;
                width: 100%;
                height: 100%;

                border: 2px solid @input-background;
                border-radius: @radius;
                font-family: @font-quartenary;
                font-size: 15px;
                color: @color-primary;
                transition: border-color @transition;

                &:hover {
                    border-color: rgba(21,22,30,0.7);
                }

                &::before {
                    top: 13px;
                    left: 14px;
                }

                &::after {
                    left: 19px;
                    top: 18px;
                }
            }

            &__marker {
                position: absolute;
                right: 15px;
                top: 14px;

                pointer-events: none;
            }
        }
    }

    &--in-popup {
        @box-chooser-popup-item-spacing: 30px;
        @box-chooser-popup-item-line-height: 1.3;

        .box-chooser__item {
            margin: 0 -@window-popup-inner-padding;

            border-bottom: 1px solid @color-border-lighter;
            font-size: 14px;

            @media @query-mobile {
                padding-left: 50px;
            }

            &:first-child {
                border-top: 1px solid @color-border-lighter;
            }

            &::after {
                display: none;
            }

            &__title {
                width: 220px;

                font-size: 16px;

                @media @query-mobile {
                    width: 100%;
                    margin-bottom: 4px;
                }

                @media @query-md {
                    padding-left: 15px;
                }
            }

            &__address {
                line-height: @box-chooser-popup-item-line-height;
                color: #5b5b61;

                @media @query-mobile {
                    width: 100%;
                    margin-bottom: 4px;
                }

                @media @query-md {
                    flex-grow: 1;
                    flex-basis: 0;
                    padding-left: @box-chooser-popup-item-spacing;
                }

                &__street {
                    display: block;
                }
            }

            &__opening {
                line-height: @box-chooser-popup-item-line-height;
                color: #8a8b8f;

                @media @query-mobile {
                    width: 100%;
                    margin-bottom: 4px;
                }

                @media @query-md {
                    flex-grow: 1;
                    flex-basis: 0;
                    padding-left: @box-chooser-popup-item-spacing;
                    max-width: 175px;
                }

                &__title {
                    display: block;

                    color: @color-primary-light;
                    line-height: @box-chooser-popup-item-line-height;
                }
            }

            &__avail {
                flex-grow: 1;
                color: #8a8b8f;

                @media @query-md {
                    flex-grow: 1;
                    flex-basis: 0;
                    padding-left: @box-chooser-popup-item-spacing;
                }

                &__time {
                    font-family: @font-tertiary;
                    color: #5b5b61;

                    &--now {
                        color: #73a90d;
                    }
                }

                &__text {
                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                        width: 24px;
                        height: 24px;
                        content: '';

                        background-image: url('@{path-design}/package-icon-out-of-stock.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &--now {
                        &::before {
                            background-image: url('@{path-design}/package-icon-stock.svg');
                        }
                    }
                }
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-width: 100%;
        padding: @box-chooser-item-padding;
        margin: 0 -@box-chooser-item-spacing;

        cursor: pointer;
        transition: all @transition;

        @media @query-mobile {
            padding-left: 100px;
        }

        @media @query-lg {
            flex-wrap: nowrap;
        }

        &::after {
            position: absolute;
            left: @box-chooser-item-spacing;
            bottom: 0;
            width: calc(100% - 2 * @box-chooser-item-spacing);
            height: 1px;
            content: '';

            background-color: @color-border-lighter;
        }

        &:hover {
            background-color: @box-chooser-item-hover-bg;

            input[type=checkbox].css-checkbox + .css-checkbox__image::before,
            input[type=radio].css-checkbox + .css-checkbox__image::before {
                border-color: rgba(21,22,30,0.7);
            }
        }

        &--inactive {
            pointer-events: none;
            cursor: not-allowed;

            .box-chooser__item__check,
            .box-chooser__item__image,
            .box-chooser__item__title,
            .box-chooser__item__price {
                opacity: 0.4;

                .is-disabled & {
                    opacity: 1;
                }
            }

            img {
                filter: grayscale(1);
            }
        }

        &--payment {
            @media @query-mobile {
                padding-left: 50px;
            }

            .box-chooser__item__title {
                @media @query-md {
                    padding-left: 25px;
                }
            }

            .box-chooser__item__image {
                width: auto;
                order: 1;

                @media @query-mobile {
                    position: static;
                    width: 100%;
                    justify-content: flex-start;
                    margin-top: 3px;

                    transform: none;
                }

                @media @query-md {
                    justify-content: flex-end;
                }

                img {
                    max-width: none;
                }
            }

            .box-chooser__item__price {
                order: 2;

                @media @query-md {
                    min-width: 200px;
                }
            }
        }

        &.is-disabled {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 0;
            overflow: hidden;

            opacity: 0;
            pointer-events: none;
        }

        &__check {
            position: relative;
            width: @box-chooser-check-size;
            height: @box-chooser-check-size;

            @media @query-mobile {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        input[type=checkbox].css-checkbox + .css-checkbox__image,
        input[type=radio].css-checkbox + .css-checkbox__image {
            position: absolute;
            left: 0;
            top: 0;
            width: @box-chooser-check-size;
            height: @box-chooser-check-size;
            padding: 0;

            &::before {
                top: 0;
                width: @box-chooser-check-size;
                height: @box-chooser-check-size;

                background-image: none;
                background-color: @color-f;
                border-radius: 100%;
                border: 1px solid @box-chooser-check-border-color;
                transition: border-color @transition;
            }

            &::after {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 10px;
                height: 10px;
                content: '';

                border-radius: 100%;
                background-color: @color-add-secondary;
                opacity: 0;
                transform: scale(0.5);
                transition: all @transition;
            }
        }

        input[type=checkbox].css-checkbox:checked + .css-checkbox__image,
        input[type=radio].css-checkbox:checked + .css-checkbox__image {
            &::before {
                border-color: @box-chooser-check-border-color-active;
            }

            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @box-chooser-image-width;

            @media @query-mobile {
                position: absolute;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
            }

            img {
                display: block;
            }
        }

        &__title {
            @media @query-md {
                width: @box-chooser-title-width;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }

            &__name {
                display: block;

                line-height: 1.1;
                font-family: @font-quartenary;
                font-weight: 400;
                color: @color-primary;
            }

            &__description {
                display: block;
            }
        }

        &__price {
            width: 100%;
            text-align: left;
            margin-top: 5px;

            font-family: @font-quartenary;
            color: @color-primary;

            @media @query-md {
                width: @box-chooser-price-width;
                margin-top: 0;
                text-align: right;
            }

            .box-chooser__item--active & {
                color: @color-price-main;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }
    }

    &__toggle {
        position: relative;
        margin: 0 -@box-chooser-item-spacing -@box-chooser-item-spacing;

        &::after {
            position: absolute;
            left: 0;
            top: -1px;
            width: 100%;
            height: 1px;
            content: '';

            background-color: @color-border-lighter;
        }

        &__btn {
            display: block;
            width: 100%;
            padding: 17px 0 15px;

            background-color: transparent;
            border-radius: 0;
            font-size: 14px;
            text-transform: none;
            font-family: @font-quartenary;
            color: @color-primary;
            letter-spacing: 0;

            &:hover {
                background-color: @box-chooser-item-hover-bg;
            }

            &__icon {
                position: relative;
                top: -2px;
                margin-left: 5px;

                font-size: 8px;
            }
        }
    }
}
