@box-chooser-item-hover-bg: @color-light-secondary;
@box-chooser-item-gap: 15px;
@box-chooser-check-size: 20px;
@box-chooser-item-arrow-size: 12px;
@box-chooser-item-tooltip-width: 240px;
@box-chooser-item-tooltip-handler-size: 18px;
@box-chooser-item-price-width: 100px;

.box-chooser {
    &__in {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        padding: 12px 10px;
        order: 1;

        border-bottom: 1px solid @color-border;
        cursor: pointer;
        transition: padding @transition, transform @transition, max-height @transition, min-height @transition;

        &:hover {
            background-color: @box-chooser-item-hover-bg;
        }

        &.active {
            background-color: @box-chooser-item-hover-bg;
            border-bottom: 0;
        }

        &.is-disabled {
            order: 2;
            opacity: 0.3;
            pointer-events: none;
        }

        &__side {
            display: flex;
            flex-direction: row;
        }

        &__info {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            flex-direction: row;
            align-items: center;
        }

        &__check {
            display: block;
            width: @box-chooser-check-size;
            height: @box-chooser-check-size;
            margin-right: 10px;
            padding-top: 3px;

            font-size: 0;
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 20px;
            margin-right: @box-chooser-item-gap;

            font-size: 0;

            @media @query-lg {
                width: 45px;
                height: 25px;
            }

            img {
                mix-blend-mode: multiply;
            }
        }

        &__title {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;

            font-size: @font-size-small;

            @media @query-lg {
                width: auto;
                flex: 1;
                margin-right: @box-chooser-item-gap;
            }

            @media @query-vl {
                align-items: center;
                flex-direction: row;
            }

            .box-chooser__item__info--in-row & {
                width: auto;
                flex: 1;
            }

            &__description {
                font-size: @font-size-small;
                color: @color-grey-light;

                @media @query-lg {
                    display: flex;
                }
            }
        }

        &__availability {
            width: 50%;
            text-align: left;
            align-self: center;

            font-size: 13px;
            color: @color-green-secondary;

            @media @query-lg {
                width: 135px;
                text-align: right;
            }
        }

        &__price {
            width: 50%;
            text-align: right;

            font-size: @font-size-small;

            @media @query-lg {
                width: @box-chooser-item-price-width;
            }

            .box-chooser__item__info--in-row & {
                width: 100%;

                @media @query-lg {
                    width: @box-chooser-item-price-width;
                }
            }

            .box-chooser__item--active & {
                color: @color-price-main;
            }
        }

        &__tooltip {
            display: block;

            @media @query-vl {
                position: absolute;
                left: 50%;
                bottom: 35px;
                margin-left: -@box-chooser-item-tooltip-width / 2;
                width: @box-chooser-item-tooltip-width;
                z-index: @z-index-above;
                padding: 10px;
                transition: all @transition;
                transform: scale(0.5);

                transform-origin: center bottom;
                pointer-events: none;
                opacity: 0;
                font-size: @font-size-small;
                background-color: @color-f;
                border-radius: @radius;
                border: 1px solid @color-border;
                box-shadow: 0 0 0 3px rgba(@color-border, 0.5);

                &::after {
                    position: absolute;
                    left: 50%;
                    bottom: -8px;
                    width: 14px;
                    height: 14px;
                    margin-left: -7px;
                    content: '';

                    background-color: @color-f;
                    border-left: 1px solid @color-border;
                    border-bottom: 1px solid @color-border;
                    box-shadow: -2px 2px 0 2px rgba(@color-border, 0.5);
                    transform: rotate(-45deg);
                }
            }

            &__wrap {
                @media @query-vl {
                    position: relative;
                    margin-left: 10px;
                }
            }

            &__handler {
                display: none;

                @media @query-vl {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: @box-chooser-item-tooltip-handler-size;
                    height: @box-chooser-item-tooltip-handler-size;

                    color: @color-f;
                    font-style: normal;
                    border-radius: 100%;
                    background-color: @color-grey-light;
                    font-size: 12px;
                    cursor: pointer;

                    &:hover {
                        background-color: darken(@color-grey-light, 5%);

                        & + .box-chooser__item__tooltip {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__free-transport {
        display: flex;
        margin: 10px 0 15px;

        @media @query-lg {
            margin: -10px 0 30px;
        }
    }

    &__toggle {
        position: relative;
        order: 3;

        &__btn {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 6px 13px;
            line-height: 17px;
            text-align: left;

            background-color: @color-grey-lighter;
            border-radius: 0;
            font-size: 13px;
            font-weight: 400;
            text-transform: none;
            color: @color-0;

            &:hover {
                background-color: darken(@color-grey-lighter, 5%);
            }

            &__icon {
                margin-left: 10px;

                font-size: @box-chooser-item-arrow-size;
            }
        }
    }

    &__sub-selection {
        margin: 0 1rem;

        border-top: 1px solid @color-border;

        @media @query-lg {
            margin: 0 0 0 2.5rem;
        }

        .box-chooser__item__title {
            width: 100%;
        }

        .box-chooser__item {
            margin: 0;
            min-height: 50px;
        }

        .box-chooser__item__img {
            max-height: 20px;
        }

        .box-chooser__item__price {
            display: none;
        }
    }

    &--in-popup {
        .box-chooser__item {
            margin: 0 -15px;

            @media @query-md {
                margin: 0 -@window-popup-inner-padding;
            }

            &:first-child {
                border-top: 1px solid @color-border;
            }

            &__check {
                padding-top: 0;
            }
        }
    }
}
