@box-chooser-item-spacing: @box-cart-card-padding;
@box-chooser-item-padding: 14px @box-chooser-item-spacing;
@box-chooser-item-hover-bg: @color-light-secondary;

@box-chooser-check-size: 20px;
@box-chooser-image-width: 150px;
@box-chooser-price-width: 80px;
@box-chooser-check-border-color: darken(@color-border-lighter, 5%);
@box-chooser-check-border-color-active: darken(@color-border-lighter, 10%);
@box-chooser-title-width: ~"calc(100% - @{box-chooser-check-size} - @{box-chooser-image-width} - @{box-chooser-price-width})";

.box-chooser {
    &-check-wrap {
        margin-top: 2rem;

        &--checkout {
            .box-chooser-adresses-wrap {
                margin-top: 0;
            }
        }

        &__in {
            margin-bottom: 25px;

            border: 2px solid @color-border-lighter;
            border-radius: @radius;

            &:hover {
                border-color: darken(@color-border-lighter, 5%);
            }
        }

        .box-chooser__item__in {
            padding: 1rem 1rem 0.5rem;
        }
    }

    &--check {
        .box-chooser__item {
            padding: 0;
            margin: 0;

            border: 0;

            &::after {
                display: none;
            }

            &:hover {
                background-color: transparent;
            }

            .form-line,
            .form-choice {
                margin-bottom: 0;
                width: 100%;
            }

            .form-choice {
                display: block;
                width: 100%;
                height: 50px;
            }

            input[type=checkbox].css-checkbox + .css-checkbox__image {
                display: flex;
                align-items: center;
                padding: 10px 15px 10px 50px;
                width: 100%;
                height: 100%;

                font-family: @font-quartenary;
                font-size: 15px;
                color: @color-primary;

                &::before {
                    top: 13px;
                    left: 14px;
                }

                &::after {
                    left: 19px;
                    top: 18px;
                }
            }

            &__marker {
                position: absolute;
                right: 15px;
                top: 14px;

                pointer-events: none;
            }
        }
    }

    &-adresses-wrap {
        margin-top: 1rem;
    }

    &--adresses {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        list-style: none;

        .box-chooser__item {
            margin: 0 0 0.75rem;
            padding: 0;

            border: 0;

            &::after {
                display: none;
            }

            &--last {
                order: 1;

                .box-chooser__item__marker {
                    position: absolute;
                    right: 1rem;
                    top: 15px;
                }
            }

            &__title {
                font-family: @font-quartenary;
                color: @color-primary;
            }

            input[type=radio].css-checkbox + .css-checkbox__image {
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
            }

            // in-overlay class added position: relative !important, which in this case caused unwanted jumping
            // TODO: Try to fix common .in-overlay css class
            .css-checkbox.in-overlay {
                position: absolute !important;
            }

            &__remove {
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);

                .svg {
                    font-size: 25px;

                    &:hover {
                        color: @color-add-secondary;
                    }
                }
            }

            &__name {
                display: block;
                margin-bottom: 1px;

                color: @color-primary;
                font-family: @font-quartenary;
                font-weight: 400;
            }

            &__address {
                display: block;

                font-size: 14px;
                color: @color-base-secondary;
            }

            &__company {
                display: inline-block;
                margin-left: 2px;

                font-size: 14px;
                color: @color-base-secondary;
                font-family: @font-base;
            }

            &__phone {
                display: flex;
                align-items: center;
                margin-top: 3px;

                font-size: 13px;

                .svg {
                    margin-right: 4px;

                    color: @color-add;
                    font-size: 18px;
                }
            }
        }

        .form-choice {
            position: relative;
            display: block;
            width: 100%;
            padding: 1rem 50px 1rem 50px;
            margin: 0;

            border: 2px solid @color-border-lighter;
            border-radius: @radius;
            cursor: pointer;

            &:hover {
                background-color: @color-f;
                border-color: darken(@color-border-lighter, 5%);
            }
        }
    }

    &--in-popup {
        @box-chooser-popup-item-spacing: 30px;
        @box-chooser-popup-item-line-height: 1.3;

        .box-chooser__item {
            margin: 0 -15px;

            border-bottom: 1px solid @color-border-lighter;
            font-size: 14px;

            @media @query-md {
                margin: 0 -@window-popup-inner-padding;
            }

            @media @query-tablet {
                padding-left: 50px;
            }

            &:first-child {
                border-top: 1px solid @color-border-lighter;
            }

            &::after {
                display: none;
            }

            &__title {
                font-size: 16px;

                @media @query-mobile {
                    width: 100%;
                    margin-bottom: 4px;
                }

                @media @query-md {
                    padding-left: 15px;
                    width: 150px;
                }

                @media screen and (min-width: 900px) {
                    width: 220px;
                }
            }

            &__address {
                line-height: @box-chooser-popup-item-line-height;
                color: @color-base-lighter;

                @media @query-mobile {
                    width: 100%;
                    margin-bottom: 4px;
                }

                @media @query-md {
                    flex-grow: 1;
                    flex-basis: 0;
                    padding-left: @box-chooser-popup-item-spacing;
                }

                &__street {
                    display: block;
                }
            }

            &__opening {
                line-height: @box-chooser-popup-item-line-height;
                color: #8a8b8f;

                @media @query-mobile {
                    width: 100%;
                    margin-bottom: 4px;
                }

                @media @query-md {
                    flex-grow: 1;
                    flex-basis: 0;
                    padding-left: @box-chooser-popup-item-spacing;
                    max-width: 175px;
                }

                &__title {
                    display: block;

                    color: @color-primary-light;
                    line-height: @box-chooser-popup-item-line-height;
                }
            }

            &__avail {
                flex-grow: 1;
                color: #8a8b8f;

                @media @query-md {
                    flex-grow: 1;
                    flex-basis: 0;
                    padding-left: @box-chooser-popup-item-spacing;
                }

                &__time {
                    font-family: @font-tertiary;
                    color: @color-base-lighter;

                    &--now {
                        color: #73a90d;
                    }
                }

                &__text {
                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                        width: 24px;
                        height: 24px;
                        content: '';

                        background-image: url('@{path-design}/package-icon-out-of-stock.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &--now {
                        &::before {
                            background-image: url('@{path-design}/package-icon-stock.svg');
                        }
                    }
                }
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-width: 100%;
        padding: @box-chooser-item-padding;
        margin: 0 -@box-chooser-item-spacing;

        cursor: pointer;
        transition: padding @transition, transform @transition, max-height @transition;

        @media @query-tablet {
            padding-left: 110px;
        }

        @media @query-lg {
            flex-wrap: nowrap;
            padding-right: 25px;
        }

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            content: '';

            background-color: @color-border-lighter;
        }

        &:hover {
            background-color: @box-chooser-item-hover-bg;

            input[type=checkbox].css-checkbox + .css-checkbox__image::before,
            input[type=radio].css-checkbox + .css-checkbox__image::before {
                border-color: rgba(21,22,30,0.7);
            }
        }

        &--inactive {
            display: none;
        }

        &--payment {
            @media @query-mobile {
                padding-left: 110px;
            }

            .box-chooser__item__title {
                @media @query-lg {
                    padding-left: 25px;
                }
            }

            .box-chooser__item__image {
                width: auto;
                order: 1;

                @media @query-md {
                    justify-content: flex-end;
                }

                img {
                    @media @query-lg {
                        max-width: none;
                    }
                }
            }

            .box-chooser__item__price {
                order: 2;

                @media @query-lg {
                    min-width: 200px;
                }
            }
        }

        &.is-disabled {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 0;
            overflow: hidden;

            opacity: 0;
            pointer-events: none;
        }

        &__check {
            position: relative;
            width: @box-chooser-check-size;
            height: @box-chooser-check-size;

            @media @query-tablet {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        input[type=checkbox].css-checkbox + .css-checkbox__image,
        input[type=radio].css-checkbox + .css-checkbox__image {
            position: absolute;
            left: 0;
            top: 0;
            width: @box-chooser-check-size;
            height: @box-chooser-check-size;
            padding: 0;

            &::before {
                top: 0;
                width: @box-chooser-check-size;
                height: @box-chooser-check-size;

                background-image: none;
                background-color: @color-f;
                border-radius: 100%;
                border: 1px solid @box-chooser-check-border-color;
                transition: border-color @transition;
            }

            &::after {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 10px;
                height: 10px;
                content: '';

                border-radius: 100%;
                background-color: @color-add-secondary;
                opacity: 0;
                transform: scale(0.5);
                transition: all @transition;
            }
        }

        input[type=checkbox].css-checkbox:checked + .css-checkbox__image,
        input[type=radio].css-checkbox:checked + .css-checkbox__image {
            &::before {
                border-color: @box-chooser-check-border-color-active;
            }

            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @box-chooser-image-width;

            @media @query-tablet {
                position: absolute;
                left: 42px;
                top: 50%;
                transform: translateY(-50%);
                max-width: 50px;
            }

            @media @query-mobile {
                left: 38px;
            }

            img {
                display: block;
            }
        }

        &__title {
            @media @query-md {
                width: @box-chooser-title-width;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }

            &__name {
                display: block;

                line-height: 1.1;
                font-family: @font-quartenary;
                font-weight: 400;
                color: @color-primary;
            }

            &__description {
                font-size: 14px;
                line-height: 1.3;

                @media @query-lg {
                    display: flex;
                }

                &__name {
                    display: block;
                }

                &__hours {
                    display: block;
                    margin-top: 0.25rem;
                    max-width: 160px;

                    @media @query-lg {
                        margin-left: 2rem;
                        margin-top: 0;
                    }

                    @media @query-xl {
                        margin-left: 3rem;
                    }

                    strong {
                        display: block;

                        font-weight: 400;
                        color: @color-primary-light;
                    }
                }

                &__availability {
                    display: block;
                    margin-top: 0.25rem;

                    @media @query-lg {
                        margin-left: 2rem;
                        margin-top: 0;
                    }

                    @media @query-xl {
                        margin-left: 3rem;
                    }

                    strong {
                        color: #73a90d;
                    }
                }
            }
        }

        &__price {
            width: 100%;
            text-align: left;
            margin-top: 5px;

            font-family: @font-quartenary;
            color: @color-primary-light;
            font-size: 14px;

            @media @query-md {
                flex-grow: 1;
                width: @box-chooser-price-width;
                margin-top: 0;
                text-align: right;
            }

            .box-chooser__item--active & {
                color: @color-price-main;
            }

            .box-chooser__item--inactive & {
                color: @color-inactive;
            }
        }

        &__in {
            padding: 1rem;
        }

        &__title {
            &--checkout {
                @media screen and (max-width: 1200px) {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    &__delivery-address-fields {
        position: relative;
        z-index: 1;
        padding: 1rem;
        margin: -20px 0 15px;

        border-top: 0;
        border-radius: @radius;
        background-color: @color-f;
    }

    &__free-transport {
        display: flex;
        margin: 10px 0 15px;

        &--empty {
            display: none;
        }
    }

    &__toggle {
        position: relative;
        margin: 0 -@box-chooser-item-spacing -@box-chooser-item-spacing;

        &::after {
            position: absolute;
            left: 0;
            top: -1px;
            width: 100%;
            height: 1px;
            content: '';

            background-color: @color-border-lighter;
        }

        &__btn {
            display: block;
            width: 100%;
            padding: 17px 0 15px;

            background-color: transparent;
            border-radius: 0;
            font-size: 14px;
            text-transform: none;
            font-family: @font-quartenary;
            color: @color-primary;
            letter-spacing: 0;

            &:hover {
                background-color: @box-chooser-item-hover-bg;
            }

            &__icon {
                position: relative;
                top: -2px;
                margin-left: 5px;

                font-size: 8px;
            }
        }
    }

    &__sub-selection {
        margin: 1rem 0;

        border: 2px solid @color-border-lighter;
        border-bottom-width: 1px;
        border-radius: @radius;

        @media @query-lg {
            margin: 1.5rem;
        }

        .box-chooser__item {
            margin: 0;
        }

        .box-chooser__item__img {
            max-height: 20px;
        }

        .box-chooser__item__price {
            @media @query-md {
                min-width: 157px;
            }
        }
    }

    &__item__delivery-information {
        white-space: nowrap;
        font-size: 14px;
        color: @color-light-tertiary;

        .box-chooser__item__avail__time {
            font-family: @font-tertiary;

            &--now {
                color: #73a90d;
            }
        }
    }

    &__item__price {
        @media @query-lg {
            min-width: 100px;
        }
    }
}
