@box-detail-info-width-small: 346px;
@box-detail-info-width: 512px;
@box-detail-image-gallery-width: 100px;

.box-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media @query-lg {
        flex-direction: row;
    }

    &__heading {
        margin-bottom: 8px;

        font-size: 24px;
        color: @color-0;

        &__prefix {
            margin-bottom: 4px;

            color: @color-base-lighter;
            font-size: @font-size;
            font-weight: 400;
        }
    }

    &__image {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        position: relative;

        @media @query-lg {
            width: calc(~"100% - @{box-detail-info-width-small}");
            margin-bottom: 0;
        }
        
        @media @query-vl {
            width: calc(~"100% - @{box-detail-info-width}");
        }

        &__gallery {
            width: 100%;

            @media @query-lg {
                width: @box-detail-image-gallery-width;
                padding-right: 24px;
            }
        }

        &__main {
            display: none;
            position: relative;
            align-items: center;
            justify-content: center;
            margin-bottom: @margin-gap;
            overflow: hidden;

            border-radius: @radius;
            font-size: 0;

            @media @query-lg {
                display: flex;
                width: calc(~"100% - @{box-detail-image-gallery-width}");
            }

            &--everytime-visible {
                display: flex;
                margin: 0 auto;
            }

            &__item {
                height: 100%;

                &__link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    padding: 15px;
                }
            }

            img {
                max-height: 218px;
                
                @media @query-lg {
                    max-height: 454px;
                }
            }
        }
    }

    &__info {
        width: 100%;
        margin-bottom: 16px;

        @media @query-lg {
            padding-left: 26px;
            width: @box-detail-info-width-small;
            margin-bottom: 30px;
        }

        @media @query-vl {
            width: @box-detail-info-width;
        }

        &__code {
            margin-bottom: 20px;

            color: @color-base-lighter;
            font-size: 13px;
        }

        &__usp {
            column-count: 2;
        }

        &__description {
            margin-bottom: 20px;
        }

        &__availability {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 10px;

            background-color: @color-light-secondary;
            border-radius: @radius-big;

            &__text {
                display: flex;
                align-items: center;

                text-decoration: none;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }

                &--in-stock {
                    color: @color-green-secondary;

                    &:hover {
                        color: @color-green-secondary;
                    }
                }
        
                &--out-of-stock {
                    color: @color-red;

                    &:hover {
                        color: @color-red;
                    }
                }

                .svg {
                    margin-left: 8px;
                }
            }

            &__info {
                font-size: @font-size-small;
            }
        }
    }
}
