@box-detail-package-main-width: 260px;
@box-detail-package-width: 210px;
@box-detail-package-margin-right: 30px;

.box-detail {
    &-breadcrumb {
        padding-top: 1.25rem;
    }

    &--primary {
        position: relative;

        @media @query-lg-up {
            padding-left: calc(45% + 20px);
            min-height: 850px;
        }

        @media screen and (min-width: 1500px) {
            padding-left: calc(50% + 20px);
        }

        .box-detail__wrap {
            @media @query-lg-up {
                display: flex;
            }
        }
    }

    &--no-gallery {
        @media @query-lg-up {
            min-height: 710px;
        }
    }

    &--accessories,
    &--similar {
        margin-top: 3rem;

        @media @query-md {
            margin-top: 4rem;
        }
    }

    &--similar {
        position: relative;
        padding-bottom: 1rem;

        &::after {
            position: absolute;
            width: 100vw;
            height: 2px;
            top: 100%;
            left: calc(-50vw + 50%);
            content: '';

            background-color: @color-border-lighter;
        }

        .box-detail__title {
            @media @query-vl {
                margin-bottom: 3rem;
            }
        }

        .box-products-carousel--detail {
            @media @query-mobile {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &__image {
        position: relative;
        margin-bottom: @margin-gap;

        @media @query-lg-up {
            position: absolute;
            left: 0;
            top: 0;
            width: 45%;
            padding-right: 20px;
        }

        @media screen and (min-width: 1500px) {
            width: 50%;
        }

        &__main {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 345px;
            margin-bottom: @margin-gap;

            border: 1px solid @color-border-lighter;
            border-radius: @radius;
            font-size: 0;

            @media @query-md {
                height: 500px;
            }

            @media @query-lg-up {
                height: 645px;
                max-width: 645px;
            }

            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                padding: 15px;
            }

            img {
                width: auto;
                height: auto;
            }
        }

        .in-flag__item {
            margin-left: 0;
        }
    }

    &__heading {
        font-family: @font-tertiary;
        font-size: 24px;
        line-height: 1.4;
        color: @color-primary-light;
        text-transform: none;

        @media @query-md {
            margin-bottom: 0;
        }

        @media @query-lg {
            font-size: 28px;
        }

        &__prefix {
            display: block;
            font-size: 22px;
        }
    }

    &__info {
        width: 100%;
        margin-bottom: @margin-gap;

        &__availability {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem 1rem 5.5rem;
            margin-bottom: @margin-gap;
            min-height: 80px;
            border-radius: @radius * 2;

            @media @query-lg {
                padding-right: 2.5rem;
            }

            &--in-stock {
                background-color: #f1f6e6;
            }

            &--out-of-stock {
                background-color: @color-light-secondary;
            }

            &__anchor {
                display: none;

                @media @query-vl {
                    display: block;
                }

                .box-detail__info__anchor__icon {
                    position: relative;
                    top: -1px;
                    margin-left: 4px;
                    vertical-align: middle;

                    color: #cbe49b;
                }
            }
        }

        &__params {
            display: none;

            @media @query-lg {
                display: flex;
                flex-wrap: wrap;
                margin: 0 0 @margin-gap;

                color: @color-light-tertiary;
            }

            dt, dd {
                margin: 0;
                padding: 5px 0;
                display: inline-block;
                vertical-align: top;

                font-size: 13px;
            }

            dt {
                padding-right: 5px;
            }

            dd {
                margin-right: 16px;

                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &:empty {
                display: none;
            }
        }

        &__desc {
            display: none;

            @media @query-lg {
                display: block;
                margin-bottom: 1.5rem;
            }
        }

        &__anchor {
            font-family: @font-quartenary;
            font-size: 15px;

            &__underline {
                text-decoration: underline;
            }

            &__icon {
                font-size: 18px;

                &--down {
                    transform: rotate(90deg);
                }

                &--spaced {
                    margin-left: 10px;
                }
            }
        }
    }

    &__avail {
        font-family: @font-quartenary;
        font-size: 16px;

        &--in-stock {
            color: @list-products-availability-primary-color;
        }

        &__text {
            display: block;

            font-size: 15px;
            line-height: 1;

            &__strong {
                font-family: @font-tertiary;
                color: @list-products-availability-primary-color;
            }
        }

        &__icon {
            &--out-of-stock {
                .box-detail__avail__icon__image {
                    filter: grayscale(1);
                }
            }

            &__image {
                position: absolute;
                left: 15px;
                top: 50%;
                width: 52px;
                height: 44px;
                margin-top: -20px;
            }
        }
    }

    &-cats {
        &__wrap {
            @media @query-lg {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &__heading {
            text-transform: none;

            @media @query-md {
                margin-bottom: 1rem;

                font-size: 26px;
            }
        }

        &__item {
            display: block;
            margin: 0 1rem 1rem 0;
            padding: 0.75rem 1rem;

            border-radius: @radius;
            background-color: @color-light-secondary;
            font-size: 15px;
            font-family: @font-quartenary;

            @media @query-lg {
                padding: 0.75rem 1.25rem 0.75rem 1rem;
                text-align: center;
            }

            &__icon {
                position: relative;
                left: -2px;
                top: -1px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
            }
        }
    }


    &-list {
        padding: 0;
        margin: 0;

        &--columns {
            column-count: 2;
        }

        &--params {
            margin-bottom: 1rem;

            @media @query-lg {
                width: calc(50% - 30px);
                padding: 0 30px 30px 0;
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--package {
            margin-top: 25px;
            margin-bottom: 1rem;

            @media @query-md {
                margin: 25px @box-detail-package-margin-right 0 0;
                min-width: calc(50% - @box-detail-package-margin-right);
                max-width: calc(50% - @box-detail-package-margin-right);
            }

            @media @query-lg {
                min-width: calc(33.333% - @box-detail-package-margin-right);
                max-width: calc(33.333% - @box-detail-package-margin-right);
            }

            @media @query-vl {
                min-width: calc(25% - @box-detail-package-margin-right);
                max-width: calc(25% - @box-detail-package-margin-right);
            }

            @media @query-xl {
                min-width: @box-detail-package-width;
                max-width: @box-detail-package-width;
                margin: 25px @box-detail-package-margin-right + 15px 0 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &--main,
            &:nth-child(5n + 1) {
                @media @query-xl {
                    min-width: @box-detail-package-main-width;
                    max-width: @box-detail-package-main-width;
                }
            }
        }

        &__item {
            position: relative;
            padding-left: 15px;

            list-style: none;

            &--anchor,
            &--heading {
                padding-left: 0;

                &::before {
                    display: none;
                }
            }

            &::before {
                position: absolute;
                left: 0;
                top: 8px;
                width: 5px;
                height: 5px;
                content: '';

                border-radius: 100%;
                background-color: @color-primary;

                @media @query-md {
                    top: 10px;
                }
            }
        }
    }

    &-files {
        @media @query-lg {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 20px 10px;
            margin-bottom: 1rem;
            width: 100%;

            font-family: @font-quartenary;
            border: 1px solid @color-border-lighter;
            border-radius: @radius;
            color: @color-primary;

            &:last-child {
                margin-bottom: 0;
            }

            @media @query-lg {
                width: calc(50% - 10px);
                margin-bottom: 0;
            }

            &__name {
                font-size: 16px;
            }

            &__download {
                &__icon {
                    margin-left: 8px;

                    font-size: 22px;
                    color: @color-add-secondary;
                }
            }
        }
    }

    &-series {
        position: relative;
        padding: 3rem 0 1rem 0;

        @media @query-md {
            padding-bottom: 2rem;
        }

        @media @query-vl {
            margin-top: 3rem;
        }

        &::after,
        &::before {
            position: absolute;
            width: 100vw;
            height: 2px;
            top: 0;
            left: calc(-50vw + 50%);
            content: '';

            background-color: @color-border-lighter;
        }

        &::before {
            height: 3px;
        }

        &::after {
            top: auto;
            bottom: 0;
        }
    }

    &-breadcrumb {
        .box-breadcrumb {
            justify-content: flex-start;

            &__item {
                text-align: left;
            }
        }
    }

    &-variants {
        margin-bottom: 2rem;
    }

    &-variant {
        position: relative;
        margin-bottom: 0.75rem;

        &__link {
            display: flex;
            align-items: center;
            height: 55px;
            padding: 0 15px;

            background-color: @color-f;
            border-radius: @radius;
            text-decoration: none;
            transition: border-color @transition;
            border: 2px solid @color-border-lighter;

            @media @query-vl {
                padding: 0 20px;
                height: 60px;
            }

            &:hover {
                text-decoration: none;
                border-color: darken(@color-border-lighter, 10%);
            }

            &--drop {
                padding: 10px 35px 10px 20px;

                border: 0;
                border-radius: 0;

                &:hover {
                    background-color: @color-light-secondary;
                }
            }

            &__wrap {
                flex-grow: 1;
            }
        }

        &__name {
            display: block;

            font-size: 12px;
            color: @color-base-lighter;
            line-height: 1.6;
        }

        &__value {
            display: flex;
            align-items: center;
            flex-grow: 1;

            line-height: 1.6;

            &__text {
                font-family: @font-quartenary;
                font-weight: 400;
                color: @color-primary-light;
            }

            &__icon {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                margin-right: 6px;

                border-radius: 100%;
            }
        }

        &__img {
            width: 50px;
            max-width: 50px;
            margin-right: 15px;

            @media @query-lg {
                margin-right: 35px;
            }

            img {
                display: block;
            }
        }

        &__price {
            display: none;

            @media @query-md {
                display: inline;
                margin-right: 25px;
            }
        }

        &__toggle {
            font-size: 11px;
        }

        &__drop {
            display: none;
            position: absolute;
            left: 0;
            top: 65px;
            width: 100%;
            margin: 0;
            padding: 0;
            z-index: 10;

            list-style: none;
            background-color: @color-f;
            border-radius: @radius;
            box-shadow: 0 10px 10px 2px rgba(@color-0, 0.1);

            &__item {
                border-bottom: 1px solid @color-border-lighter;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}
