.box-detail-add {
    padding: 1rem;
    margin-bottom: @margin-gap;

    background-color: @color-light-secondary;
    border-radius: @radius;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__prices {
        display: flex;
        align-items: center;

        &__item {
            color: @color-price;
            line-height: 1;

            &--main {
                font-size: 30px;
                font-family: @font-quartenary;
                color: @color-price-main;
            }

            &--high-price {
                margin-bottom: 6px;

                text-decoration: line-through;
                font-size: 18px;
            }
        }
    }

    &__discount {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        margin-right: 15px;

        border-radius: 100%;
        background-color: @color-add-secondary;
        color: @color-f;
        font-family: @font-secondary;
        font-size: 21px;
    }
}
