@box-filter-subtitle-item: 6px;
@box-filter-choice-border-width: 1px;
@box-filter-opener-btn-gap: 10px;
@box-filter-block-side-gap: 14px;

.box-filter {
    position: relative;
    margin-bottom: 20px;
    z-index: @z-index-overlay;

    @media @query-vl {
        display: block;
        z-index: 0;
    }

    &__block {
        padding: 0 @box-filter-block-side-gap;
        overflow: hidden;

        background-color: @color-light-secondary;
        border-radius: @radius;

        &--with-gap {
            margin-bottom: 20px;
        }
    }

    &__selected {
        padding: 28px 0 14px;

        &__list {
            .reset-ul();
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: -@box-filter-subtitle-item;
            margin-bottom: 20px - @box-filter-subtitle-item;

            &__item {
                display: flex;
                align-items: center;
                margin-left: @box-filter-subtitle-item;
                margin-bottom: @box-filter-subtitle-item;
                padding: 6px 10px;

                color: @color-0;
                font-size: @font-size-small;
                background-color: @color-f;
                border-radius: @radius-small;

                .svg {
                    margin-left: 10px;

                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 16px;
    }

    &__reset {
        display: flex;
        align-items: center;

        text-decoration: none;
        color: @color-base-lighter;
        font-size: @font-size-small;
        transition: @transition;

        &:hover {
            text-decoration: none;
            color: @color-base;
        }

        &__text {
            margin-right: 8px;

            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__action {
        margin: 0 -@box-filter-block-side-gap;

        @media @query-vl {
            display: none;
        }
    }

    &__choice {
        margin-bottom: -@box-filter-choice-border-width;

        border-bottom: @box-filter-choice-border-width solid @color-border;

        &__title {
            display: block;
            position: relative;
            padding: 25px 20px 25px 0;
            margin: 0;

            text-transform: uppercase;
            color: @color-0;
            font-size: @font-size;
            cursor: pointer;

            &.active {
                .svg {
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            .svg {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(0deg);

                color: @color-0;
                font-size: 12px;
                transition: @transition color;
                -webkit-tap-highlight-color: transparent; // Android Chrome
                -webkit-user-select: none; // Chrome
                user-select: none;

                &:hover {
                    color: @color-link-hover;
                }
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-bottom: 24px;

            &--row {
                flex-direction: row;
            }
        }

        &__more {
            font-size: @font-size-small;
        }
    }

    .form-choice:not(.form-choice--color) {
        width: 100%;
    }
}
