@box-filter-input-width: 100px;
@box-filter-input-bg-color: #f0f3f4;
@box-filter-input-border-color: @box-filter-input-bg-color;
@box-filter-padding: 20px;
@box-filter-width-lg: 250px;
@box-filter-width-xl: @web-panel-width-xl;
@box-filter-z-index: 10001;
@box-filter-background: @color-f;
@box-filter-delimiter-color: #f0f3f4;
@box-filter-arrow-size: 12px;
@box-filter-title-font-size: 16px;
@box-filter-price-currency-color: @color-0;
@box-filter-input-font-size: 14px;
@box-filter-input-color: @color-primary-light;

.box-filter {
    display: none;
    position: relative;
    margin-bottom: 20px;
    z-index: @box-filter-z-index;

    background-color: @box-filter-background;
    border-radius: @radius;

    @media @query-lg {
        display: block;
        width: @box-filter-width-lg;
        z-index: 0;
    }

    @media @query-xl {
        width: @box-filter-width-xl;
    }

    &.active {
        display: block;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @box-filter-padding;
    }

    &__heading {
        margin-bottom: 0;

        font-family: @font-tertiary;
        font-size: 17px;
        text-transform: none;
    }

    &__reset,
    &__more {
        font-family: @font-base;
        color: #8a8b8f;
        text-transform: none;
        text-decoration: underline;
        letter-spacing: 0;

        &:hover {
            text-decoration: none;
        }
    }

    &__opener {
        position: relative;
        display: flex;
        margin-bottom: 1.5rem;

        background-color: @color-f;
        border: 1px solid @color-border-light;
        border-radius: @radius;

        &::after {
            position: absolute;
            left: 50%;
            margin-left: -1px;
            width: 1px;
            height: 100%;
            content: '';

            background-color: @color-border-light;
        }

        @media @query-lg {
            display: none;
        }

        &__btn {
            display: flex;
            align-items: center;
            flex-grow: 1;
            height: 55px;
            width: 50%;
            padding: 0 15px;

            background-color: transparent;
            text-transform: none;
            font-size: 16px;
            font-family: @font-quartenary;
            border-radius: 0;

            &__text {
                padding-left: 6px;
                text-align: left;
            }

            &__icon {
                font-size: 24px;
            }

            &__info {
                color: @color-add-secondary;

                &--sort {
                    display: block;
                    margin-top: 3px;
                    white-space: nowrap;

                    font-size: 13px;
                }
            }
        }
    }

    &__slider {
        &__wrap {
            font-size: 0;
            margin-top: 15px;

            &__range {
                .is-no-js & {
                    display: none;
                }
            }
        }
    }

    &__content {
        width: 100%;
        padding: @box-filter-padding;

        font-size: 0;
        border-top: 1px solid @box-filter-delimiter-color;

        &__item {
            width: @box-filter-input-width;
            display: inline-block;
            line-height: @form-item-height;
            margin-top: 15px;

            &__wrap {
                display: flex;
                justify-content: space-between;
            }

            .input {
                height: 32px;
                width: @box-filter-input-width;
                text-align: right;

                font-size: @box-filter-input-font-size;
                font-weight: 400;
                color: @box-filter-input-color;
                border-radius: @radius;
                background-color: @box-filter-input-bg-color;
                border-color: @box-filter-input-border-color;

                &::-webkit-input-placeholder { /* Firefox 18- */
                    opacity: 1;

                    font-size: @box-filter-input-font-size;
                    color: @box-filter-input-color;
                    font-style: normal;
                    font-weight: 400;
                }

                &::-moz-placeholder { /* Firefox 18- */
                    opacity: 1;

                    font-size: @box-filter-input-font-size;
                    color: @box-filter-input-color;
                    font-style: normal;
                    font-weight: 400;
                }

                &:-ms-input-placeholder { /* Firefox 18- */
                    opacity: 1;

                    font-size: @box-filter-input-font-size;
                    color: @box-filter-input-color;
                    font-style: normal;
                    font-weight: 400;
                }

                &:-moz-placeholder { /* Firefox 18- */
                    opacity: 1;

                    font-size: @box-filter-input-font-size;
                    color: @box-filter-input-color;
                    font-style: normal;
                    font-weight: 400;
                }
            }

            &--text {
                width: calc(~"100% - 2*@{box-filter-input-width}");
                padding: 0 5px;
                text-align: center;

                font-size: 15px;
            }

            &--right {
                text-align: right;
            }
        }
    }

    &__choice {
        padding: @box-filter-padding;

        border-top: 1px solid @box-filter-delimiter-color;

        &--first {
            padding-top: 0;
            margin-top: 0;

            border-top: 0;
        }

        &__title {
            display: block;
            position: relative;
            padding-right: 20px;

            font-family: @font-quartenary;
            font-size: @box-filter-title-font-size;

            .svg {
                position: absolute;
                right: 0;
                top: 2px;

                color: @color-0;
                font-size: @box-filter-arrow-size;
                transition: @transition color;
                transform: rotate(0deg);

                -webkit-tap-highlight-color: transparent; // Android Chrome
                -webkit-user-select: none; // Chrome
                user-select: none;

                &:hover {
                    color: @color-link-hover;
                }
            }

            &.active .svg {
                top: 2px;
                transform: rotate(180deg);
            }

            &__link {
                display: block;

                font-size: 12px;
            }
        }

        &__inputs {
            margin-top: 15px;

            &--color {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -7px;

                .form-choice--color {
                    position: relative;
                    margin: 14px 6px 1px;

                    &:hover::after {
                        opacity: 1;
                    }

                    &::after {
                        position: absolute;
                        top: -4px;
                        left: -4px;
                        width: 31px;
                        height: 31px;
                        content: '';

                        border-radius: 100%;
                        border: 1px solid @color-border-light;
                        pointer-events: none;
                        opacity: 0;
                    }
                }

                .css-checkbox {
                    &:checked {
                        & + .form-choice-color-picker::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &__input {
            display: block;
            margin: 0 0 8px;

            &--color {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &__action {
        // TODO: Designer and PO must determine, if we keep this button or not - they had gotten info.
        // So it`s only hidden for now.
        display: none;
    }
}
