@box-form-bg-color: @color-f;
@box-form-width: 960px;
@box-form-padding: 3rem 10rem;
@box-form-radius: @radius;

.box-form {
    width: @box-form-width;
    max-width: 100%;
    padding: @box-form-padding;
    margin: 0 auto 3rem;

    background-color: @box-form-bg-color;
    border-radius: @box-form-radius;

    &--registration {
        margin-top: 2.5rem;
    }
}
