.box-free-transport {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__icon {
        margin-right: 10px;

        color: @color-green-secondary;
        font-size: 18px;
    }

    &__desc {
        flex: 1;

        text-transform: uppercase;
        font-size: @font-size-small;
        font-weight: 700;
        color: @color-0;

        &__colored {
            color: @color-primary;
        }
    }

    &__progress {
        height: 6px;
        width: 100%;
        margin-top: 5px;

        background-color: @color-light;

        &__bar {
            display: block;
            width: 0;
            height: 6px;
            position: relative;

            transition: @transition;
            background-color: @color-primary;
        }
    }
}
