@theme-kitchen-color: #3892A4;
@theme-kitchen-color-secondary: #105765;
@theme-kitchen-color-tertiary: #a1eadb;
@theme-kitchen-bg: #E4F5F0;
@theme-kitchen-bg-darker: #a1eadb;
@theme-kitchen-bg-very-dark: #105765;

.theme {
    &-kitchen-color {
        color: @theme-kitchen-color;
    }

    &-kitchen-color-secondary {
        color: @theme-kitchen-color-secondary;
    }

    &-kitchen-color-tertiary {
        color: @theme-kitchen-color-tertiary;
    }

    &-kitchen-color-white {
        color: @color-f;
    }

    &-kitchen-bg {
        background-color: @theme-kitchen-bg;
    }

    &-kitchen-bg-darker {
        background-color: @theme-kitchen-bg-darker;
    }

    &-kitchen-bg-very-dark {
        background-color: @theme-kitchen-bg-very-dark;
    }
}

.box-furniture {
    &-categories {
        .list-categories__item {
            @media @query-md {
                width: calc((100% / 3) - @list-cagegories-item-gap-md);
            }

            @media @query-vl {
                width: calc((100% / 5) - @list-cagegories-item-gap-md);
            }

            @media screen and (min-width: 1300px) {
                width: calc((100% / 6) - @list-cagegories-item-gap-md);
            }
        }
    }

    &-banner {
        display: flex;
        flex-direction: column;
        margin: 4rem 0 2rem;

        border-radius: @radius;

        @media @query-vl {
            flex-direction: row;
        }

        &__content {
            padding: 2rem;

            @media @query-md {
                padding: 2rem 3rem;
            }

            @media @query-lg {
                padding: 2rem 3rem 2rem 4rem;
            }

            @media @query-vl {
                width: 50%;
            }

            @media @query-xl {
                width: auto;
            }
        }

        &__image {
            display: flex;
            align-items: flex-end;

            border-bottom: 3px solid @color-f;

            @media @query-vl {
                width: 50%;

                border-bottom: 0;
            }

            @media @query-xl {
                min-width: 670px;
            }
        }

        &__img {
            display: block;
            margin-top: -30px;

            @media @query-md {
                max-height: 250px;
            }

            @media @query-vl {
                max-height: none;
            }
        }

        &__btn {
            @media @query-mobile {
                display: block;
            }
        }

        &--brand {
            height: auto;
            margin-bottom: 4rem;

            @media screen and (min-width: 1160px) {
                height: 220px;
                align-items: center;
            }

            @media @query-mobile {
                margin-top: 2rem;
            }

            .box-furniture-banner__title {
                margin-bottom: 0.25rem;
            }

            .box-furniture-banner__desc {
                margin-top: 0;
            }

            .box-furniture-banner__image {
                min-width: 0;
                padding: 0 1.5rem 1.5rem;
                justify-content: flex-end;

                @media screen and (min-width: 1160px) {
                    min-width: 690px;
                    padding: 0;
                }
            }

            .box-furniture-banner__img {
                height: 100%;
                object-fit: cover;
                margin: 0;
            }

            .box-furniture-banner__content {
                padding: 1.5rem;

                background-color: @theme-kitchen-bg;
                border-radius: @radius;

                @media @query-md {
                    max-width: 70%;
                }

                @media screen and (min-width: 1160px) {
                    padding: 1rem 3rem;
                    max-width: none;

                    background-color: transparent;
                }
            }
        }
    }

    @query-furniture-offer-break: ~"@{query-base} (min-width: 1260px)";

    &-grid-gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 30px -10px;

        @media @query-md {
            flex-wrap: nowrap;
            margin: 0 0 60px -30px;
        }

        &__item {
            flex-grow: 1;
            padding-left: 10px;
            width: 50%;

            &:first-child {
                width: 100%;

                @media @query-md {
                    width: auto;
                }
            }

            @media @query-md {
                padding-left: 30px;
                width: auto;
            }

            &--vertical {
                display: flex;
                flex-direction: column;
            }
        }

        &__img {
            display: block;
            margin-bottom: 10px;

            @media @query-md {
                margin-bottom: 30px;
            }
        }
    }

    &-offer {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        border-radius: @radius;

        @media @query-md {
            height: 220px;
            flex-direction: row;
        }

        @media @query-furniture-offer-break {
            margin: 0;
        }

        &-wrap {
            @media @query-furniture-offer-break {
                display: flex;
                justify-content: space-between;
            }
        }

        &__content {
            padding: 1.25rem;
            text-align: center;
            flex-grow: 1;

            @media @query-md {
                padding: 1.5rem 0 0.5rem 1rem;
            }

            @media @query-lg {
                padding: 2rem 0 2rem 2rem;
            }

            @media @query-furniture-offer-break {
                padding: 1.5rem 0 0.5rem 1.5rem;
            }

            @media @query-xl {
                padding: 2rem 0 2rem 2rem;
            }
        }

        &__desc {
            margin: 10px auto;

            font-size: 16px;
            line-height: 1.5;
            font-family: @font-quartenary;

            @media @query-lg {
                font-size: 17px;
            }

            @media screen and (min-width: 1340px) {
                margin: 15px auto;

                font-size: 18px;
            }

            @media @query-xl {
                font-size: 20px;
            }
        }

        &__image {
            display: none;

            @media @query-md {
                display: flex;
                align-items: flex-end;
            }
        }

        &__img {
            display: block;

            @media @query-md {
                max-width: none;
            }
        }

        &--meeting {
            @media @query-lg {
                width: 85%;
                margin-left: auto;
                margin-bottom: 1rem;
            }

            @media @query-furniture-offer-break {
                width: 60%;
                margin-left: 0;
                margin-right: 20px;
            }

            @media @query-xl {
                min-width: 810px;
            }

            .box-furniture-offer__image {
                margin-right: 20px;
                max-width: 80%;

                @media @query-md {
                    margin-right: -15px;
                    max-width: 100%;
                }
            }

            .box-furniture-offer__desc {
                max-width: 400px;
            }
        }

        &--plan {
            @media @query-lg {
                width: 70%;
            }

            @media @query-furniture-offer-break {
                width: 40%;
                margin-left: 20px;
            }

            @media @query-xl {
                min-width: 570px;
            }

            .box-furniture-offer__img {
                margin-right: 25px;
                max-width: 80%;

                @media @query-md {
                    max-width: 100%;
                }
            }

            .box-furniture-offer__desc {
                margin-top: 10px;
            }
        }
    }

    &-blog {
        margin-bottom: 4rem;

        .web__container {
            padding: 0;
        }

        .box-articles__text {
            background-color: @theme-kitchen-bg;
        }

        .box-articles__heading,
        .box-articles__desc,
        .list-articles__item__link,
        .btn--tag,
        .btn--next,
        .btn--outline {
            color: @theme-kitchen-color-secondary;
        }

        .list-articles__item__desc {
            color: @theme-kitchen-color;
        }

        .btn--outline {
            border-color: @theme-kitchen-color-secondary;

            &:hover {
                background-color: @theme-kitchen-color-secondary;
                color: @color-f;
            }
        }

        .btn--tag {
            border-color: @theme-kitchen-color-tertiary;

            &:hover {
                background-color: @theme-kitchen-color-tertiary;
            }
        }
    }

    &-desc {
        @media @query-lg {
            max-width: 960px;
        }

        h2, h3, h4 {
            margin-bottom: 0.5rem;

            font-size: 18px;
            text-transform: none;
            font-family: @font-quartenary;
            font-weight: 400;
        }

        p {
            margin: 0 0 2rem;
        }
    }

    &-sep {
        display: none;

        @media @query-vl {
            display: block;
            position: relative;
            left: calc(-50vw + 50%);
            width: 100vw;
            height: 2px;
            margin-bottom: 5rem;
            border: 0;

            background-color: @color-light-secondary;

            &--smaller-spacing {
                margin-bottom: 4rem;
            }

            &--top-spacing {
                margin-top: 3rem;
            }
        }
    }

    &-tag {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0.75rem;
        padding: 6px 8px 5px 4px;
        white-space: nowrap;

        color: @theme-kitchen-color-secondary;
        text-transform: uppercase;
        font-family: @font-tertiary;
        letter-spacing: 3px;
        font-size: 13px;
        background-color: @color-f;
        border-radius: @radius;

        &__text {
            position: relative;
            top: 2px;
            line-height: 1;
        }

        &__img {
            margin-right: 10px;
        }
    }

    &-usp {
        padding-left: 10px;
        width: 50%;

        @media @query-md {
            padding-left: 30px;
            width: calc(100% / 3);
        }

        @media @query-vl-up {
            width: auto;
            flex: 0 0 1px;
            flex-grow: 1;
        }

        &-wrap {
            margin-bottom: 2rem;
            text-align: center;

            @media @query-md {
                margin-bottom: 6rem;
            }
        }

        &__heading {
            margin-bottom: 1.5rem;

            @media @query-md {
                margin-bottom: 3rem;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -10px;

            @media @query-md {
                margin-left: -30px;
            }

            @media @query-vl-up {
                flex-wrap: nowrap;
            }
        }

        &__image {
            position: relative;
            margin-bottom: 15px;

            .box-furniture-label {
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }

        &__img {
            display: block;
            margin: auto;
        }

        &__title {
            display: block;
            margin-bottom: 5px;

            text-transform: uppercase;
            font-family: @font-tertiary;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;

            @media @query-md {
                font-size: 16px;
            }
        }

        &__desc {
            margin-top: 0;

            font-size: 14px;

            @media @query-md {
                font-size: 15px;
            }
        }
    }

    &-cat {
        margin-bottom: 1.5rem;

        @media @query-md {
            margin-bottom: 3rem;
        }

        @media @query-lg {
            display: flex;
            align-items: center;
        }

        &__title {
            font-size: 25px;

            @media @query-vl-up {
                font-size: 30px;
            }
        }

        &__image {
            display: block;
            position: relative;
            overflow: hidden;
            max-height: 180px;

            border-radius: @radius;
            background-color: #e4f9f5;
            cursor: pointer;

            @media @query-md {
                max-height: none;
            }

            @media @query-lg {
                min-width: 400px;
                max-width: 400px;
            }

            @media @query-vl {
                min-width: 500px;
                max-width: 500px;
            }

            @media @query-vl-up {
                min-width: 650px;
                max-width: 650px;
            }

            @media screen and (min-width: 1270px) {
                min-width: 810px;
                max-width: 810px;
            }

            .slick-track {
                display: flex;
            }
        }

        &__link {
            display: block;
            padding: 1.5rem;

            border: 3px solid #e4f9f5;
            border-top-right-radius: @radius;
            border-bottom-right-radius: @radius;
            transition: background-color @transition;

            @media @query-mobile {
                border-top: 0;
                border-radius: 0;
                border-bottom-left-radius: @radius;
                border-bottom-right-radius: @radius;
            }

            @media @query-lg {
                border-left-width: 0;
            }

            @media @query-vl-up {
                padding: 2rem;
            }

            @media @query-xl {
                padding: 2.5rem 3.5rem 2.5rem 2.5rem;
            }

            &:hover {
                text-decoration: none;
                background-color: #e4f9f5;
            }
        }

        &--reverse {
            .box-furniture-cat__image {
                order: 1;
            }

            .box-furniture-cat__link {
                border-left-width: 3px;
                border-right-width: 0;
                border-radius: 0;
                border-top-left-radius: @radius;
                border-bottom-left-radius: @radius;
            }
        }
    }

    &-label {
        display: inline-block;
        padding: 7px 6px 6px 9px;

        text-transform: uppercase;
        color: @color-f;
        font-family: @font-tertiary;
        font-size: 13px;
        border-radius: @radius;
        background-color: @theme-kitchen-color;
        letter-spacing: 4px;
        line-height: 1;
    }

    &-grid {
        &-wrap {
            margin-top: 2rem;

            @media @query-md {
                margin-top: 4rem;
            }
        }

        &__heading {
            margin-bottom: 1.5rem;
            text-align: center;

            @media @query-lg {
                margin-bottom: 3rem;
            }
        }

        &__row {
            @media @query-md {
                display: flex;
                justify-content: center;
                margin-left: -10px;
            }

            @media @query-lg {
                margin-left: -15px;
            }

            @media @query-vl {
                margin-left: -30px;
            }
        }

        &__item {
            @media @query-mobile {
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
            }

            @media @query-md {
                padding-left: 10px;
            }

            @media @query-lg {
                padding-left: 15px;
            }

            @media @query-vl {
                padding-left: 30px;
            }

            &__link {
                display: block;
                position: relative;

                transition: box-shadow @transition;

                &:hover {
                    @media @query-vl {
                        box-shadow: 0 6px 15px 0 rgba(@color-0, .65);

                        .box-furniture-grid__item__img {
                            transform: scale(1.03);
                        }
                    }
                }
            }

            &__img {
                display: block;
                margin-bottom: 10px;

                transition: transform @transition;
                will-change: transform;

                @media @query-lg {
                    margin-bottom: 15px;
                }

                @media @query-vl {
                    margin-bottom: 30px;
                }
            }

            &__btn {
                position: absolute;
                left: 1.5rem;
                bottom: 1rem;

                pointer-events: none;
                color: @color-f;
                text-transform: uppercase;
                font-family: @font-quartenary;
                font-size: 16px;

                @media @query-vl {
                    font-size: 20px;
                }

                &__icon {
                    margin-left: 5px;

                    color: inherit;
                    font-size: 25px;

                    @media @query-vl {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}
