@box-gallery-item-gap: 15px;

.box-gallery {
    display: none;
    position: relative;
    left: 45px;
    margin-bottom: @margin-gap;

    @media @query-vl {
        display: block;
    }

    .slick-list {
        position: relative;
        left: 4px;
        overflow: hidden;
    }

    &__item {
        float: left;
        width: 100%/2;
        padding: 0 @box-gallery-item-gap/2;
        box-sizing: content-box;

        @media @query-xs {
            width: 100%/3;
        }

        @media @query-md {
            width: 100%/4;
        }

        @media @query-lg {
            min-width: 90px;
            width: 90px;
            height: 90px;
        }

        @media screen and (min-width: 1500px) {
            min-width: 122px;
            width: 122px;
            height: 122px;
        }

        &__link {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            border-radius: @radius;
            border: 1px solid @color-border-lighter;

            &:hover img {
                transform: scale(1.15);
            }

            &--number {
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    content: '';

                    background-color: rgba(@color-0, .3);
                    pointer-events: none;
                }
            }

            &__number {
                position: relative;
                z-index: 2;

                font-family: @font-tertiary;
                font-size: 24px;
                color: @color-f;
            }
        }

        img {
            .center-image();
            width: 100%;
            height: 100%;
            object-fit: cover;

            transition: transform .2s ease-in-out;
            will-change: transform;
        }
    }

    &__in {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: calc(100% - 120px);

        .slick-arrow {
            &.slick-prev {
                left: -45px;
            }

            &.slick-next {
                right: 65px;

                @media screen and (min-width: 1500px) {
                    right: 75px;
                }
            }
        }
    }
}
