.box-gallery {
    display: none;
    width: 76px;
    margin-bottom: @margin-gap;

    @media @query-lg {
        display: block;
    }

    &__item {
        display: block;
        width: 100%;
        height: 65px;
        padding: 6px;
        margin-bottom: 11px;

        background-color: @color-grey-very-light;
        border-radius: @radius-big;
        transition: @transition;

        &:hover {
            background-color: darken(@color-grey-very-light, 5%);
        }

        &__in {
            position: relative;
            height: 100%;
        }

        img {
            .center-image();
            mix-blend-mode: multiply;
        }
    }
}
