@box-info-img-size: 61px;
@box-info-img-size-small: 47px;

.box-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    @media @query-lg {
        margin-bottom: 90px;
    }

    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(50%);
        display: block;
        min-width: @box-info-img-size-small;
        width: @box-info-img-size-small;
        height: @box-info-img-size-small;

        @media @query-lg {
            min-width: @box-info-img-size;
            width: @box-info-img-size;
            height: @box-info-img-size;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;
        margin-left: 70px;
        padding: 14px;

        background-color: @color-primary;
        border-radius: @radius;

        @media @query-lg {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 90px;
            padding: 21px 21px 21px 30px;
        }

        &::before {
            content: '';
            position: absolute;
            left: -4px;
            bottom: -4px;
            width: 18px;
            height: 25px;
            transform: rotate(0deg) skewX(-41deg) scale(1.414, 0.707);
            
            border-bottom-left-radius: 30%;
            background-color: @color-primary;
        }
    }

    &__title {
        margin: 0 0 12px;

        font-size: 18px;
        color: @color-f;

        @media @query-lg {
            flex: 1;
            margin: 0 10px 0 0;

            font-size: 24px;
        }

        @media @query-vl {
            flex: none;
        }
    }

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 25px;

        @media @query-lg {
            flex: 1;
            margin: 0 10px 0 0;
        }

        @media @query-vl {
            justify-content: center;
        }

        .svg {
            margin-right: 12px;

            color: @color-add;
            font-size: 20px;
        }

        &__phone {
            margin-right: 16px;

            font-size: 16px;
            font-weight: 700;
            color: @color-f;
            text-decoration: none;

            @media @query-lg {
                font-size: 18px;
            }

            &:hover {
                color: @color-f;
            }
        }

        &__hours {
            margin: 0;

            font-size: @font-size-small;
            color: @color-f;
        }
    }
}
