@box-list-description-line-height: 21px;
@box-list-description-lines: 4;

@box-list-producer-image-space-around: 10px;

.box-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media @query-vl {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    &__subtitle {
        margin: 0 0 8px 0;
    }

    &__section {
        margin-bottom: 24px;

        @media @query-vl {
            margin-bottom: 34px;
        }
    }

    &__top {
        display: none;
        width: 100%;
        margin-bottom: 16px;

        border-bottom: 1px solid @color-border;

        @media @query-vl {
            display: block;
        }

        &.active {
            display: block;
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: center;

            @media @query-vl {
                justify-content: space-between;
            }
        }

        &__info {
            display: none;
            line-height: 10px;

            font-size: 12px;
            color: @color-0;
            text-transform: uppercase;

            @media @query-vl {
                display: block;
            }
        }
    }

    &__panel {
        width: 100%;

        @media @query-vl {
            width: 304px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;

        @media @query-vl {
            padding-left: 50px;
        }

        &__message {
            display: block;
            position: static;
            height: auto;
            width: auto;
            padding: 20px;
            margin: 0;
            text-align: center;

            border-radius: @radius;
            background-color: @color-f;

            @media @query-vl {
                padding: 45px;
            }

            @media @query-xl {
                padding: 50px;
            }

            &__text {
                max-width: 620px;
                margin: 15px auto 0;
            }
        }
    }

    &__description {
        position: relative;
        padding-bottom: @box-list-description-line-height;

        &__text {
            overflow: hidden;
            line-height: @box-list-description-line-height;
            max-height: @box-list-description-line-height * @box-list-description-lines;

            transition: @transition;
        }

        &__button {
            position: absolute;
            left: 0;
            bottom: 0;
            display: none;
            align-items: center;
            line-height: @box-list-description-line-height;

            color: @color-primary;
            cursor: pointer;
            font-size: @font-size-small;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                text-decoration: none;

                .box-list__description__button__text {
                    text-decoration: underline;
                }
            }

            &--displayed {
                display: flex;
            }

            .svg {
                margin-left: 5px;
            }
        }
    }

    &__producer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: @margin-gap;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            align-self: center;
            min-width: 170px;
            padding-right: 20px;
        }

        &__text {
            align-self: flex-start;

            @media @query-md {
                align-self: center;
            }
        }
    }
}
