@box-list-description-line-height: 21px;
@box-list-description-lines: 4;

@box-list-producer-image-space-around: 10px;
@box-list-sort-info-color: #8a8b8f;

.box-list {
    margin-bottom: 30px;

    @media @query-lg {
        margin-bottom: 40px;
    }

    &__top {
        display: none;
        width: 100%;
        margin-bottom: 16px;

        border-bottom: 1px solid @color-border;

        @media @query-lg {
            display: block;
        }

        &.active {
            display: block;
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: center;

            @media @query-lg {
                padding: 0 @web-padding;
            }

            @media @query-vl {
                justify-content: space-between;
            }
        }

        &__info {
            display: none;

            @media @query-lg {
                display: block;
                font-size: 14px;
            }

            @media @query-vl {
                display: block;

                font-size: 16px;
                color: @box-list-sort-info-color;

                &__count {
                    color: @color-primary;
                }
            }
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;

        @media @query-lg {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__panel {
        width: 100%;

        @media @query-lg {
            width: @web-panel-width-lg;
        }

        @media @query-xl {
            width: @web-panel-width-xl;
        }

        & + .box-list__content {
            @media @query-lg {
                padding-left: @web-panel-gap * 1.5;
                width: calc(100% - @web-panel-width-lg);
            }

            @media @query-xl {
                width: calc(100% - @web-panel-width-xl);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__message {
            display: block;
            position: static;
            height: auto;
            width: auto;
            padding: 20px;
            margin: 0;
            text-align: center;

            border-radius: @radius;
            background-color: @color-f;

            @media @query-lg {
                padding: 30px;
            }

            @media @query-vl {
                padding: 45px;
            }

            @media @query-xl {
                padding: 50px;
            }

            &__text {
                max-width: 620px;
                margin: 15px auto 0;
            }
        }
    }

    &__description {
        position: relative;
        padding-bottom: @box-list-description-line-height;

        &__text {
            overflow: hidden;
            line-height: @box-list-description-line-height;
            max-height: @box-list-description-line-height * @box-list-description-lines;

            transition: @transition;
        }

        &__button {
            position: absolute;
            left: 0;
            bottom: 0;
            display: none;
            align-items: center;
            line-height: @box-list-description-line-height;

            color: @color-primary;
            cursor: pointer;
            font-size: @font-size-small;
            font-weight: 700;

            .svg {
                margin-left: 5px;
            }
        }
    }

    &__producer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: @margin-gap;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            align-self: center;
            min-width: 170px;
            padding-right: 20px;
        }

        &__text {
            align-self: flex-start;

            @media @query-md {
                align-self: center;
            }
        }
    }
}
