@box-list-description-line-height: 1.7;
@box-list-description-lines: 2;

@box-list-producer-image-space-around: 10px;
@box-list-sort-info-color: #8a8b8f;

.box-list {
    padding: 30px @web-padding / 2 20px;
    margin-bottom: 30px;

    @media screen and (min-width: 350px) {
        padding: 30px @web-padding 30px;
    }

    @media @query-lg {
        padding: 0 0 54px;
        margin-bottom: 40px;
    }

    &__top {
        display: none;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1.5rem;

        border: 1px solid @color-border-light;
        border-radius: @radius;
        background-color: @color-f;

        @media @query-lg {
            display: block;
            position: absolute;
            top: 0;
            left: calc(-50vw + 50%);
            width: 100vw;
            margin-bottom: 0;
            padding: 0;

            border: 0;
            border-bottom: 2px solid @color-border-lighter;
            border-radius: 0;
        }

        &.active {
            display: block;
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: center;

            @media @query-lg {
                padding: 0 @web-padding;
            }

            @media @query-vl {
                justify-content: space-between;
            }

            @media @query-xl {
                width: @web-width;
                margin: 0 auto;
            }
        }

        &__info {
            display: none;

            @media @query-lg {
                display: block;
                position: absolute;
                right: 25px;
                top: 70px;
                font-size: 14px;
            }

            @media @query-vl {
                position: static;
                display: block;

                font-size: 16px;
                color: @box-list-sort-info-color;

                &__count {
                    font-family: @font-tertiary;
                    color: @color-primary;
                }
            }
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;

        @media @query-lg {
            padding: 100px @web-padding 0;
        }

        @media @query-vl {
            padding-top: 115px;
        }

        @media @query-xl {
            width: @web-width;
            margin: 0 auto;
        }

        @media @query-lg {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__panel {
        width: 100%;

        @media @query-lg {
            width: @web-panel-width-lg;
        }

        @media @query-xl {
            width: @web-panel-width-xl;
        }

        & + .box-list__content {
            @media @query-lg {
                padding-left: @web-panel-gap * 1.5;
                width: calc(100% - @web-panel-width-lg);
            }

            @media @query-xl {
                width: calc(100% - @web-panel-width-xl);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__description {
        &__text {
            max-width: 940px;
            margin: 3rem auto;
            padding: 0 1.5rem;
            line-height: @box-list-description-line-height;

            &--small {
                overflow: hidden;
                height: @box-list-description-line-height * @box-list-description-lines;
            }

            &--top {
                display: none;

                @media @query-md {
                    display: block;
                    margin-top: 1.25rem;
                }
            }
        }

        &__more {
            text-align: center;

            &__btn {
                display: none;
            }
        }

        &__heading {
            margin-bottom: 0;
            text-align: center;

            font-size: 30px;
        }

        &--top {
            padding-top: 1.5rem;

            @media @query-md {
                padding-top: 2.5rem;
            }

            .box-breadcrumb {
                padding: 0;
                margin: 0.25rem 0 2rem;

                @media @query-md {
                    margin-bottom: 0;
                }
            }

            .web__container--fullwidth {
                width: auto;
            }

            .btn--next {
                position: relative;
                margin-left: 6px;
                padding-right: 35px;

                .btn__icon {
                    position: absolute;
                    right: 0;
                    top: -10px;
                }
            }
        }
    }

    &__producer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: @margin-gap;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            align-self: center;
            min-width: 170px;
            padding-right: 20px;
        }

        &__text {
            align-self: flex-start;

            @media @query-md {
                align-self: center;
            }
        }
    }
}
