@box-media-margin: 1rem;
@box-media-margin-md: 3rem;
@box-media-img-max-width: 200px;
@box-media-img-max-width-md: 315px;
@box-media-bg-height: 81px;
@box-media-bg-height-md: 160px;
@box-media-bg-width: 80%;
@box-media-bg-width-md: 50%;
@box-media-bg-width-xl: 57%;

.box-media {
    position: relative;
    margin: @box-media-margin 0;

    @media @query-md {
        margin: @box-media-margin-md 0;
    }

    &__wrap {
        position: relative;
        z-index: 1;

        @media @query-md {
            display: flex;
            align-items: flex-end;
            margin: auto;
        }
    }

    &__picture {
        position: relative;

        @media @query-md {
            width: 50%;
            min-width: 50%;
        }

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 130px;
            content: '';

            background-color: #fff3b3;
            border-radius: @radius;

            @media @query-md {
                height: 155px;
            }
        }
    }

    &__img {
        display: block;
        position: relative;
        left: 2rem;
        max-width: @box-media-img-max-width;
        margin-bottom: 1.75rem;
        z-index: 1;

        @media @query-md {
            left: auto;
            max-width: @box-media-img-max-width-md;
            margin: 0 auto;
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__text {
        position: relative;
        padding-left: 2rem;
    }

    &__desc {
        margin-top: 9px;
        max-width: 535px;

        @media @query-mobile {
            margin-bottom: 1.5rem;
        }
    }
}
