@mobile-menu-zi: 100;
@mobile-menu-bg-color: @color-f;
@mobile-menu-padding: 25px 15px 20px 15px;
@mobile-menu-item-control-width: 45px;
@mobile-menu-item-border-radius: 6px;

.mobile-menu-wrap {
    display: block;
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    z-index: @mobile-menu-zi;

    &__container {
        position: relative;
        width: 100%;
        overflow: hidden;

        background-color: @mobile-menu-bg-color;
        box-shadow: 0 50px 50px 0 rgba(@color-0, .15);

        .mobile-menu {
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
            padding: @mobile-menu-padding;
            margin: 0;

            &--level-0 {
                .mobile-menu__item__link {
                    font-family: @font-quartenary;
                }
            }

            &__item {
                display: block;

                list-style: none;
                border: 1px solid @color-border-lighter;
                border-bottom: 0;

                &:first-child {
                    border-top-left-radius: @mobile-menu-item-border-radius;
                    border-top-right-radius: @mobile-menu-item-border-radius;
                }

                &:last-child {
                    border-bottom: 1px solid @color-border-lighter;
                }

                &--head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin: 10px 0 15px;

                    border: 0;
                }

                &--blog {
                    border-bottom: 1px solid @color-border-lighter;
                    border-bottom-left-radius: @mobile-menu-item-border-radius;
                    border-bottom-right-radius: @mobile-menu-item-border-radius;
                }

                &--stores {
                    margin-top: 16px;

                    border-radius: @mobile-menu-item-border-radius;

                    .svg {
                        margin: 0 10px 0 -3px;

                        font-size: 25px;
                    }
                }

                &__control {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    width: @mobile-menu-item-control-width;
                    height: 100%;

                    font-size: 20px;
                    color: @color-primary;
                }

                &__back-control {
                    position: relative;
                    top: 2px;
                    font-size: 15px;
                    color: @color-primary;
                    font-family: @font-quartenary;

                    &__icon {
                        margin-right: 5px;
                        transform: scaleX(-1);

                        font-size: 20px;
                        pointer-events: none;
                    }
                }

                &__category {
                    font-size: 18px;
                    font-family: @font-quartenary;
                    color: @color-primary;
                }

                &__link {
                    position: relative;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    padding: 10px @mobile-menu-item-control-width 8px 15px;

                    font-size: 15px;

                    &--has-children {
                        font-family: @font-quartenary;
                    }

                    &--sale {
                        width: 100%;
                        right: auto;

                        &::before {
                            margin-right: 6px;
                        }
                    }

                    &--blog {
                        width: 100%;
                    }

                    &--stores {
                        align-items: flex-end;
                    }

                    &__text {
                        flex-grow: 1;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &--sale {
                    width: 100%;
                }

                &--blog {
                    width: 100%;
                }
            }
        }

        .show-position {
            position: relative;
            left: 0;
        }
    }
}
