@mobile-menu-item-control-width: 45px;
@mobile-menu-item-gap: 30px;

.mobile-menu-wrap {
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    margin-bottom: 10px;
    z-index: @z-index-menu;

    &__container {
        position: relative;
        width: 100%;
        overflow: hidden;

        background-color: @color-f;
    }

    .show-position {
        position: relative;
        left: 0;
    }
}

.mobile-menu {
    .reset-ul();
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    padding-top: 48px;
    margin: 0;

    &__item {
        margin: 0 @mobile-menu-item-gap;

        border-bottom: 1px solid @color-border;

        .mobile-menu--level-0 & {
            margin: 0;

            text-transform: uppercase;
        }

        &--head {
            padding: 0 @mobile-menu-item-gap;
            margin: -30px 0 0;
        }

        &--current {
            margin-bottom: 15px;

            border: 1px solid @color-border;
        }

        &--small {
            border-bottom: 0;
        }

        &__control {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            width: @mobile-menu-item-control-width;
            height: 100%;
            transform: rotate(-90deg);

            font-size: 18px;
            color: @color-base;
        }

        &__back-control {
            display: inline-flex;
            align-items: center;
            line-height: 10px;
            margin-top: -26px;
            margin-bottom: 26px;

            cursor: pointer;
            text-transform: uppercase;
            font-size: 10px;
            color: @color-base;

            &__icon {
                margin-right: 9px;
                margin-top: -2px;
                transform: rotate(90deg);

                font-size: 14px;
            }
        }

        &__category {
            margin-bottom: 18px;

            text-transform: uppercase;
            font-size: @font-size;
            font-weight: 700;
            color: @color-base;
        }

        &__link {
            position: relative;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 10px @mobile-menu-item-control-width 8px 0;

            font-weight: 700;
            font-size: @font-size;
            text-decoration: none;

            .mobile-menu--level-0 & {
                padding: 20px @mobile-menu-item-control-width 18px @mobile-menu-item-gap;
            }

            .mobile-menu__item--small & {
                padding: 10px @mobile-menu-item-gap 8px @mobile-menu-item-gap;

                font-weight: 400;
                font-size: @font-size-small;
                text-transform: initial;
            }

            &__text {
                flex-grow: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
