.box-order {
    width: 100%;
    display: flex;
    margin-bottom: 60px;

    @media @query-lg {
        margin: 28px 0 60px;
    }

    &__title {
        margin-bottom: 11px;
    }

    &__info {
        flex: 1;
        padding-right: 40px;

        &__item {
            &--with-gap {
                margin-top: 50px;
            }

            &.is-disabled {
                display: none;
                pointer-events: none;
            }
        }
    }

    &__cart {
        width: 420px
    }
}
