.box-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 90px;

    @media @query-vl {
        flex-direction: row;
        margin: 28px 0 60px;
    }

    &__title {
        margin-bottom: 11px;
    }

    &__info {
        width: 100%;
        margin-bottom: 60px;

        @media @query-vl {
            flex: 1;
            padding-right: 40px;
            margin-bottom: 0;
        }

        &__item {
            &--with-gap {
                margin-top: 50px;
            }

            &.is-disabled {
                display: none;
                pointer-events: none;
            }
        }
    }

    &__cart {
        width: 100%;

        @media @query-vl {
            width: 420px
        }
    }
}
