.box-order-type {
    .clearfix();
    width: 100%;

    @media @query-vl {
        width: auto;
    }

    &__item {
        position: relative;
        display: block;
        padding: 8px 12px;
        margin-bottom: 6px;
        border-bottom: 1px solid @color-border-lighter;

        -webkit-font-smoothing: antialiased;

        @media @query-md {
            border-top-left-radius: @radius;
            border-top-right-radius: @radius;
            border: 2px solid @color-f;
            border-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }

        @media @query-md {
            padding: 15px 18px;

            font-size: @font-size;
        }

        @media @query-lg {
            float: left;
            margin-bottom: 0;
        }

        @media @query-vl {
            padding: 20px 25px;
        }

        &.active {
            background: @color-f;
            color: @color-add-secondary;
            text-decoration: none;
            font-family: @font-quartenary;
            border-color: @color-border-lighter;

            -webkit-font-smoothing: auto;

            &::after {
                @media @query-md {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    height: 3px;
                    width: 100%;
                    content: '';

                    background-color: @color-f;
                }
            }
        }
    }
}
