.box-preview {
    display: flex;
    flex-direction: column;

    @media @query-vl {
        flex-direction: row;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 30px;

        @media @query-vl {
            padding-right: 15px;
            margin-bottom: 0;
        }

        &--promo-code {
            @media @query-vl {
                width: 320px;
            }
        }

        &--free-transport {
            @media @query-vl {
                padding-top: 11px;
            }
        }

        &--preview {
            padding-right: 0;

            @media @query-vl {
                width: 300px;
                margin-left: auto;
            }
        }
    }

    &__summary {
        padding: 10px @web-padding;
        margin: 0 -@web-padding;

        background-color: @color-grey-very-light;

        @media @query-vl {
            margin: 0;

            border-radius: @radius;
        }

        &__block {
            margin-bottom: 20px;

            &--with-border {
                padding-bottom: 10px;

                border-bottom: 1px solid @color-f;
            }
        }
    }
}
