.box-price-slider {
    &__form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 26px;

        &__item {
            position: relative;
            width: 100px;

            .input {
                height: 54px;

                border: 2px solid @color-border-secondary;
                border-radius: @radius;
                color: @color-0;
                font-size: @font-size-small;
                font-weight: 400;
                background-color: @color-f;
            }

            &__currency {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}
