.box-products-carousel {
    position: relative;

    @media screen and (min-width: 1600px) {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        left: calc(-50vw + 50%);
    }

    &--detail {
        margin-bottom: 2rem;
    }

    &__in {
        position: relative;
        width: 100%;

        @media @query-vl {
            padding-left: 55px;
        }

        @media screen and (min-width: 1600px) {
            width: calc(@web-width + ((100vw - @web-width) * 0.5) - @web-padding);
        }

        &--bg {
            margin: 3rem 0 2.5rem;
            padding: 2.5rem 0 2rem 4rem;

            border-top-left-radius: @radius;
            border-bottom-left-radius: @radius;
            background-color: @color-light-secondary;

            @media @query-md {
                padding-left: 5.5rem;
                margin-bottom: 1rem;
            }

            .slick-arrow.slick-prev {
                left: 12px;

                @media @query-md {
                    left: 25px;
                }
            }

            .list-products {
                margin-left: -30px;

                &__item {
                    padding-left: 30px;
                }
            }
        }

        &--sales {
            .list-products__item__info__price__item--main {
                color: @color-price-sale;
            }
        }

        &__btn {
            padding: 14px 25px;
            margin-top: 2rem;
            min-width: 210px;

            letter-spacing: 0;

            @media @query-md {
                min-width: 0;
            }
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;

        &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            margin-right: 1rem;
            padding-top: 3px;
            content: '%';
            box-sizing: border-box;

            font-family: @font-quartenary;
            font-size: 30px;
            font-weight: 600;
            color: @color-f;
            border-radius: 100%;
            background-color: @color-price-sale;

            @media @query-md {
                margin-right: 2rem;
            }
        }
    }

    .slick-list {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .slick-track {
        display: flex;
    }

    .slick-arrow.slick-next {
        @media @query-mobile {
            right: 20px;
        }

        @media screen and (min-width: 1600px) {
            right: auto;
            left: calc(@web-width - 70px);
        }
    }
}

