.box-progress {
    .reset-ul();
    position: relative;
    display: inline-flex;
    margin-top: 1rem;

    @media @query-lg {
        margin-top: 3rem;
    }

    &__item {
        position: relative;
        display: flex;
        padding: 5px 5px 0;

        font-family: @font-base;
        text-transform: uppercase;
        color: #979ca9;
        font-size: 14px;

        @media @query-md {
            align-items: center;
            padding: 0;
        }

        &--active {
            color: @color-primary-light;
            text-decoration: underline;
        }

        &--previous-active {
            .svg {
                color: @color-primary;
            }
        }

        &__inner {
            text-align: center;

            font-size: 14px;
            line-height: 1.2;

            @media @query-lg {
                text-align: left;
                line-height: 1.4;
            }
        }

        &__title {
            @media @query-mobile {
                display: block;
                margin: auto;
            }
        }

        &__sep {
            display: none;

            @media @query-md {
                display: block;
                margin: 0 22px;
            }

            .svg {
                font-size: 18px;
            }
        }
    }
}
