.box-progress {
    .reset-ul();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;

    border-bottom: 1px solid @color-border;

    &__item {
        width: @calc-base / 3;
        position: relative;
        padding: 12px 20px;

        &--active {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;

                background-color: @color-primary;
            }
        }

        &__title {
            display: block;
            line-height: 10px;

            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }

            .box-progress__item--active & {
                color: @color-primary;
            }
        }
    }
}
