.box-promo-code {
    &__wrap {
        position: relative;
    }

    &__input {
        height: 54px;
        width: 100%;
        padding: 0 120px 0 13px;

        border-radius: @radius;
        background-color: #f0f3f4;
        border: 2px solid #f0f3f4;
        outline: 0;

        &:focus {
            border-color: darken(#f0f3f4, 5%);
        }
    }

    &__btn {
        position: absolute;
        top: 8px;
        right: 10px;
    }

    &__added {
        display: flex;
        align-items: center;
        padding: 10px;

        border: 1px solid @color-border;
        color: @color-green;

        &__remove {
            margin-left: 10px;
            position: relative;
            top: -1px;

            text-decoration: none;
            color: @color-a;

            &:hover {
                color: @color-red;
            }

            .svg {
                font-size: 11px;
            }
        }
    }
}
