@box-slider-item-mobile-width: 285px;
@box-slider-dots-item-gap: 8px;
@box-slider-thumbnails-width: 307px;

.box-slider {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 -@web-padding;
    padding: 0 @web-padding 32px;

    @media @query-lg {
        overflow: visible;
        margin: 0;
        padding: 0 0 32px;
    }

    @media @query-vl {
        display: flex;
        margin-bottom: 52px;
        padding-bottom: 0;
    }

    &__in {
        display: flex;
        position: relative;
        width: 100%;
        padding-bottom: 22px;

        border-radius: @radius;

        &.slick-initialized {
            display: block;
        }

        @media @query-lg {
            overflow: hidden;
        }

        @media @query-vl {
            padding-bottom: 0;
        }
    }

    .slick-track {
        display: flex;
        flex-direction: row;

        @media @query-vl {
            display: block;
        }
    }

    &__item {
        position: relative;
        width: @box-slider-item-mobile-width;
        min-width: @box-slider-item-mobile-width;
        min-height: 199px;
        margin-left: 18px;

        @media @query-lg {
            margin-left: 0;
            min-height: auto;
            min-width: 100%;

            .slick-initialized & {
                min-width: auto;
            }
        }

        @media @query-vl {
            float: left;
            width: auto;
        }

        &__link {
            display: block;

            @media @query-lg {
                height: 0;
                padding-bottom: 32.9%;
            }
        }

        img {
            display: block;
            width: 100%;

            border-radius: @radius;

            @media @query-mobile {
                margin: auto;
                width: 100%;
            }
        }
    }

    &__thumbnails {
        .reset-ul();
        display: none;
        min-width: @box-slider-thumbnails-width;
        max-width: @box-slider-thumbnails-width;
        padding-left: 25px;

        @media @query-vl {
            display: block;
        }

        .slick-track {
            width: 100% !important;
        }

        &__item {
            position: relative;
            display: block;
            width: 100% !important;
            margin-bottom: 16px;
            padding: 14px 32px;
            text-align: left;

            border: 2px solid @color-light-secondary;
            border-radius: @radius;
            background-color: @color-light-secondary;
            font-weight: 700;
            cursor: pointer;
            transition: @transition;

            &:hover:not(.slick-current) {
                border: 2px solid darken(@color-light-secondary, 5%);
                background-color: darken(@color-light-secondary, 5%);
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.slick-current {
                border-color: @color-primary;
                background-color: @color-f;

                &:before {
                    opacity: 1;
                }
            }

            &:before {
                &:extend(.svg-triangle:before);
                opacity: 0;
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);

                font-size: 6px;
                font-family: SVG;
                color: @color-primary;
            }
        }
    }

    .slick-dots {
        .reset-ul();
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: 1;
        margin-left: -@box-slider-dots-item-gap;

        li {
            line-height: 1;
            margin-left: @box-slider-dots-item-gap;

            &.slick-active {
                button {
                    background-color: @color-primary;
                }
            }
        }

        button {
            width: 12px;
            height: 6px;

            cursor: pointer;
            background-color: @color-base-lighter;
            border-radius: @radius-small;
            border: 0;
            outline: 0;
            font-size: 0;
        }
    }

    &--full-width {
        .box-slider__item {
            width: auto;
            float: none;
            margin: 0;
        }
    }
}
