@box-slider-width: @web-width;
@box-slider-point-size: 8px;
@box-slider-bottom-gap: 1.5rem;
@box-slider-bg-color: @color-f;

.box-slider {
    display: block;
    position: relative;
    width: @box-slider-width;
    max-width: 100%;
    padding: 0;
    margin: 0 auto @box-slider-bottom-gap auto;
    overflow: hidden;

    border-radius: @radius;
    background-color: @box-slider-bg-color;

    @media @query-lg {
        min-height: 288px;
        margin-bottom: @box-slider-bottom-gap * 1.5;
    }

    &__wrap {
        @media @query-lg {
            display: flex;
        }
    }

    &__in {
        position: relative;
        width: 100%;
        flex-grow: 2;
        overflow: hidden;
    }

    .slick-initialized {
        visibility: visible;
    }

    &__item {
        position: relative;
        float: left;
        width: 0;

        img {
            display: block;

            @media @query-mobile {
                margin: auto;
                width: 100%;
            }
        }
    }

    &__item__link {
        display: none;

        @media @query-lg {
            display: block;
            position: absolute;
            bottom: 7px;
            left: 50%;
            transform: translateX(-50%);

            font-size: 13px;

            &__text {
                text-decoration: underline;
            }
        }

        &--no-anchor {
            .box-slider__item__link__text {
                text-decoration: none;
            }
        }
    }

    &__thumbnails {
        padding: 1rem;

        @media @query-lg {
            padding: 1.7rem 1.5rem 1rem;
            min-width: 345px;
            max-width: 345px;
        }

        &__block {
            margin-bottom: 0.5rem;

            @media @query-xl {
                margin-bottom: 1.5rem;
            }
        }

        &__item {
            display: block;
            padding: 0.5rem 0;
            width: 100%;

            border: 0;
            border-bottom: 1px solid #f1f4f5;
            outline: 0;
            background: transparent;
            text-align: left;
            cursor: pointer;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom-color: transparent;
            }

            &:hover {
                @media @query-lg {
                    .box-slider__thumbnails__item__text {
                        text-decoration: underline;
                    }
                }
            }

            &.slick-active-current {
                font-family: @font-tertiary;
                color: @color-0;

                .box-slider__thumbnails__item__text {
                    text-decoration: underline;
                }
            }
        }

        // Working with inline generated styles, by the slick-carousel itself
        .slick-track,
        .slick-slide {
            min-width: 100%;
        }
    }

    &--fullwidth {
        background-color: transparent;

        .box-slider__item {
            width: auto;
            float: none;
        }

        img {
            display: block;
            margin: auto;

            @media @query-tablet {
                width: auto;
            }
        }
    }
}
