.box-stores {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;

    border-radius: 0.5em;

    @media @query-vl {
        flex-direction: row;
        height: 500px;
    }

    &--detail {
        height: auto;

        @media @query-mobile {
            margin-bottom: 0;
        }

        @media @query-vl {
            min-height: 430px;
        }

        @media @query-xl {
            min-height: 650px;
        }

        &-has-img {
            @media @query-vl {
                min-height: 730px;
            }

            @media @query-xl {
                min-height: 950px;
            }
        }
    }

    &__heading {
        margin-bottom: 1rem;
        text-align: left;

        @media @query-md {
            margin-bottom: 1.5rem;
        }
    }

    &__map {
        width: 100%;
        height: 250px;

        @media @query-md {
            height: 350px;
        }

        @media @query-vl {
            width: calc(100% - 420px);
            height: auto;
        }

        &--detail {
            height: auto;
            margin-bottom: 1rem;

            @media @query-lg {
                position: absolute;
                left: 0;
                top: 0;
                margin-bottom: 0;
            }
        }

        &__google {
            width: 100%;
            height: 100%;

            background-color: @color-light;

            &--detail {
                height: 250px;
                margin-bottom: 1.5rem;

                @media @query-lg {
                    height: 350px;
                    margin-bottom: 2rem;
                }

                @media @query-vl {
                    height: 500px;
                }

                @media @query-xl {
                    height: 645px;
                }
            }
        }

        &--detail {
            @media @query-lg {
                width: 350px;
                height: auto;
            }

            @media @query-vl {
                width: 500px;
            }

            @media @query-xl {
                width: 645px;
            }
        }
    }

    &__info {
        position: relative;

        border: 2px solid @color-border-lighter;
        border-radius: 0.5em;

        @media @query-vl {
            width: 420px;
            height: 100%;

            border-left: 0;
            border-radius: 0;
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
        }

        &--detail {
            position: relative;
            height: auto;
            width: auto;

            border: 0;
            border-radius: 0;

            @media @query-lg {
                padding-left: 395px;
            }

            @media @query-vl {
                padding-left: 535px;
            }

            @media @query-xl {
                padding-left: 720px;
            }
        }

        &__grid {
            @media @query-md {
                display: flex;
                flex-wrap: wrap;
            }

            &__item {
                margin-bottom: 1rem;

                @media @query-md {
                    width: 50%;
                    margin-bottom: 1.5rem;
                    padding-right: 10px;
                }

                @media @query-xl {
                    padding-right: 0;
                }

                &--full {
                    width: 100%;

                    p {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &__store {
        position: relative;
        height: 100%;
        padding: 2rem 1rem 1rem;
        z-index: 2;
        text-align: center;

        background-color: @color-f;
        line-height: 1.6;

        @media @query-lg {
            padding: 1rem;
        }

        &--default {
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;

            @media @query-vl {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            margin-bottom: 0;

            font-family: @font-tertiary;
            font-size: 18px;
            text-transform: none;
        }

        &__subtitle {
            display: block;
            margin-top: 0.75rem;

            font-family: @font-quartenary;
            font-weight: 400;
            color: @color-primary;

            &--detail {
                margin: 0 0 4px;

                font-size: 18px;
                line-height: 1.4;
            }
        }

        &__img {
            margin-top: 0.75rem;

            &--default {
                margin: 0;

                @media @query-lg {
                    margin: 0 0 1.5rem;
                }
            }
        }

        &__desc {
            margin-top: 0.5rem;
        }

        &__hours {
            &__classic {
                max-width: 160px;
                margin: 0 auto;
            }

            &__extra {
                font-size: 13px;
            }

            &__detail {
                max-width: 160px;
            }
        }

        &__link {
            display: inline-block;
            margin: 0.75rem 0;
            padding-left: 25px;
            padding-right: 25px;

            font-family: @font-tertiary;
            font-weight: 400;
            letter-spacing: 0;
            color: @color-f;
            background: linear-gradient(to top, #ffad00, #ffd500);
            transition: box-shadow @transition;

            &:hover {
                color: @color-f;
                background: linear-gradient(to top, #ffad00, #ffd500);
                box-shadow: 0 0 10px 0 rgba(#fcc308, .9);
            }
        }
    }

    &-list {

        @media @query-lg {
            display: flex;
            flex-wrap: wrap;
            margin-left: -2rem;
        }

        &__item {
            margin-bottom: 1rem;

            @media @query-lg {
                width: 50%;
                padding-left: 2rem;
                margin-bottom: 2rem;
            }

            &__link {
                display: flex;
                align-items: center;
                padding: 0.75rem;

                border-radius: @radius;
                border: 1px solid @color-border-lighter;
                transition: all @transition;

                @media @query-md {
                    padding: 1rem 1rem 1rem 1.5rem;
                }

                &:hover {
                    text-decoration: none;

                    @media @query-vl {
                        transform: translateY(-4px);
                        box-shadow: 0 10px 20px 5px @color-border-lighter;
                    }
                }
            }

            &__name {
                position: relative;
                top: 2px;
                flex-grow: 1;

                font-family: @font-quartenary;
                font-size: 16px;
                color: @color-primary;
                font-weight: 400;

                @media @query-md {
                    font-size: 18px;
                }

                @media @query-xl {
                    left: 6px;
                }
            }

            &__icon {
                margin-right: 0.75rem;

                font-size: 22px;
                color: @color-add;

                &--detail {
                    font-size: 24px;

                    @media @query-xl {
                        margin-right: 20px;
                    }
                }
            }

            &__to-detail {
                font-family: @font-quartenary;
                color: @color-primary;

                &__text {
                    display: none;

                    @media @query-vl {
                        display: inline;
                        position: relative;
                        top: 3px;
                    }

                    &--detail {
                        @media @query-not-large-desktop {
                            display: none;
                        }
                    }
                }

                .svg {
                    vertical-align: middle;
                    margin-left: 12px;

                    font-size: 20px;

                    @media @query-lg {
                        font-size: 33px;
                    }
                }
            }

            &--detail {
                width: 100%;
            }
        }

        &--big {
            margin-bottom: 1rem;

            .box-stores-list__item__link {
                border-width: 2px;

                @media @query-xl {
                    padding: 0 1rem 0 2rem;
                    height: 90px;
                }
            }

            .box-stores-list__item__name {
                @media @query-md {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                @media @query-xl {
                    font-size: 20px;
                }
            }

            .box-stores-list__item__icon {
                @media @query-xl {
                    margin-right: 1.25rem;

                    font-size: 33px;
                }
            }
        }
    }

    &__gallery {
        &__wrap {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1rem;
        }

        &__item {
            position: relative;
            width: calc(50% - 1rem);
            margin: 0 0 1rem 1rem;
            height: 90px;

            border-radius: @radius;
            overflow: hidden;

            @media @query-md {
                width: calc(33.333% - 1rem);
            }

            @media @query-vl {
                width: calc(25% - 1rem);
                height: 100px;
            }

            @media @query-xl {
                height: 120px;
            }
        }

        img {
            .image-object-fit-cover();
        }
    }

    .gmnoprint {
        transform: scale(0.8);
    }
}
