.box-table {
    &__table {
        width: 100%;

        border-radius: @radius;
        background-color: @color-f;
        overflow: hidden;
    }

    &__row {
        border-bottom: 1px solid @color-border-lighter;

        &:last-child {
            border-bottom: 0;

            .box-table__item {
                padding-bottom: 30px;
            }
        }
    }

    &__item {
        padding: 15px 15px 12px;

        vertical-align: top;
        font-family: @font-quartenary;
        font-size: 14px;
        color: @color-primary-light;
        line-height: normal;

        @media @query-lg {
            padding: 24px 15px 17px;
        }

        @media @query-mobile {
            min-width: 110px;
        }

        &:first-child {
            padding-left: 15px;

            @media @query-lg {
                padding-left: 30px;
            }
        }

        &--heading {
            font-size: 13px;
            font-weight: 400;
            font-family: @font-base;
            color: @color-light-tertiary;
        }

        &--transports {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 280px;

            @media @query-mobile {
                min-width: 280px;
            }

            @media @query-xl {
                max-width: none;
            }
        }

        &--orders-count {
            @media @query-mobile {
                max-width: 80px;
                min-width: 0;
            }
        }

        &--detail {
            min-width: 100px;

            font-size: 15px;

            .svg {
                position: relative;
                top: -1px;
                margin-left: 12px;

                color: @color-add-secondary;
            }
        }

        &--price {
            font-size: 15px;
        }

        &--order-number {
            @media @query-lg {
                min-width: 160px;
            }
        }

        &--payment-name {
            @media @query-mobile {
                min-width: 180px;
            }

            @media @query-xl {
                min-width: 220px;
            }
        }

        &--name {
            @media @query-lg {
                width: 35%;
            }

            @media @query-xl {
                width: 45%;
            }
        }

        &__transport {
            width: calc(100% - 33px);

            &--2 {
                order: 1;
                margin-top: 12px;
            }
        }

        &__img {
            margin-right: 15px;

            img {
                display: block;
                width: 18px;
                margin-top: -3px;
            }

            &--2 {
                order: 1;

                img {
                    margin-top: 8px;
                }
            }
        }

        a {
            color: inherit;
        }
    }

    &--params {
        .box-table__item {
            padding: 12px;

            font-family: @font-base;
            font-weight: 400;
            font-size: 15px;
            color: @color-base-lighter;

            &:last-child {
                padding-right: 0;
            }
        }

        .box-table__row {
            &:last-child {
                .box-table__item {
                    padding-bottom: 12px;
                }
            }
        }
    }

    &--fullwidth {
        width: 100%;
    }

    &--vertical {
        .box-table__item--heading {
            width: 125px;
            padding-left: 0;

            @media screen and (min-width: 375px) {
                width: 150px;
            }
        }
    }

    &--in {
        .box-table__item {
            padding-top: 17px;
            padding-bottom: 13px;

            &:last-child {
                padding-right: 30px;
            }
        }
    }
}
