@list-favorites-item-gap: 24px;
@list-favorites-item-gap-mobile: 10px;
@list-favorites-item-mobile-width: 206px;

.list-favorites {
    .reset-ul();
    display: flex;
    padding: 0 @web-padding;
    margin: 0 -@web-padding 0 (-@web-padding - @list-favorites-item-gap-mobile);
    overflow: hidden;

    &.slick-initialized {
        display: block;
        margin-left: -@web-padding;
    }

    @media @query-lg {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        margin: 0 0 -@list-favorites-item-gap / 2 -@list-favorites-item-gap;
    }

    .slick-track {
        display: flex;
        flex-direction: row;
    }

    &__item {
        width: @list-favorites-item-mobile-width;
        min-width: @list-favorites-item-mobile-width;
        margin-left: @list-favorites-item-gap-mobile;

        @media @query-lg {
            width: auto;
            min-width: auto;
            margin: 0 0 @list-favorites-item-gap / 2 0;
            padding-left: @list-favorites-item-gap;
        }

        &__link {
            display: block;
            line-height: 18px;
            padding: 11px 12px;
            text-align: center;

            font-size: @font-size-small;
            border-radius: @radius;
            background-color: @color-grey-very-light;
            text-decoration: none;
            color: @color-0;

            &:hover {
                background-color: darken(@color-grey-very-light, 5%);
                text-decoration: none;
                color: @color-0;
            }
        }
    }
}
