@form-choice-color-picker-size: 25px;

.form-choice {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;

    &--block {
        display: block;
        margin-right: 0;
    }

    &--color {
        margin-right: 5px;

        input {
            &:checked {
                ~ .form-choice-color-picker {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &--without-margin {
        margin-bottom: 0;
    }
}
