@form-error-icon-size: 16px;

.form-error {
    display: block;
    margin-top: 6px;

    cursor: default;

    &--inline {
        display: flex;
        align-items: baseline;
        margin: 5px 0;
        padding: 5px;

        background: @color-alert;
    }

    &--choice {
        position: relative;
    }

    &__icon {
        position: absolute;
        right: 19px;
        top: -(@input-height / 2) - (@form-error-icon-size / 2);
        display: flex;

        color: @color-alert;
        font-size: @form-error-icon-size;

        .form-line--small-input & {
            top: -(@input-height-small / 2) - (@form-error-icon-size / 2);
        }

        .form-error--inline & {
            top: 50%;
            transform: translateY(-50%);

            color: @color-f;
        }

        .form-error--choice & {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__list {
        .reset-ul();

        li {
            line-height: 21px;

            color: @color-alert;
            font-size: @font-size-small; 

            .form-error--inline & {
                color: @color-f;
            }
        }
    }
}
