@menu-iconic-item-link-button-padding: 10px;

.menu-iconic {
    .reset-ul();
    display: none;

    @media @query-lg {
        display: flex;
    }

    &__item {
        display: flex;
        position: relative;
        margin-right: @header-item-gap-small;

        @media @query-xl {
            margin-right: @header-item-gap;
        }

        &:last-child {
            margin-right: 0;
        }

        &--sub {
            &:hover {
                .menu-iconic__item__link--button {
                    background-color: @color-f;
                }

                .menu-iconic__item__link {
                    color: @color-base;
                }
            }
        }

        &__link {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            font-size: @font-size-small;
            color: @color-f;
            text-decoration: none;
            transition: @transition;

            &:hover {
                color: @color-f;
                text-decoration: none;

                .menu-iconic__item__text {
                    text-decoration: underline;
                }
            }

            &--button {
                padding: 0 @menu-iconic-item-link-button-padding;
                margin: 0 -@menu-iconic-item-link-button-padding;

                border: 0;
                border-radius: @radius @radius 0 0;
                background-color: transparent;
                outline: 0;
                cursor: pointer;
            }
        }

        &__icon {
            margin-right: 10px;

            font-size: 18px;
        }

        &__text {
            line-height: 1;
        }
    }

    &__sub {
        .reset-ul();
        display: block;
        position: absolute;
        top: 100%;
        right: -@menu-iconic-item-link-button-padding;
        min-width: 150px;

        background: @color-f;
        z-index: @z-index-menu;
        border-radius: @radius 0 @radius @radius;
        box-shadow: 0 20px 20px 0 rgba(@color-0, .15);
        transition: all .2s ease-in-out;
        transform-origin: right top;
        opacity: 0;
        transform: scaleY(0.5) scaleX(0.7);
        will-change: transform;
        pointer-events: none;

        .menu-iconic__item:hover & {
            opacity: 1;
            transform: scale(1);
            pointer-events: auto;
        }

        &__item {
            display: block;

            border-top: 1px solid @color-border;

            &:first-child {
                border-top: 0;
            }

            &__link {
                display: block;
                padding: 12px 20px;

                color: @color-base;
                text-decoration: none;
                font-size: @font-size-small;
            }
        }
    }
}
