// Settings for default elements

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

html, body {
    min-height: 100%;
    padding: 0;
}

body, form, input, select, button, p, pre, dfn, address, ul, ol, li,
h1, h2, h3, h4, h5, h6, img,
table, tr, td, th, input, textarea {
    color: @color-base;
    font-size: @font-size-mobile;
    line-height: @line-height-mobile;

    @media @query-lg {
        font-size: @font-size;
        line-height: @line-height;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;

    image-rendering: -webkit-optimize-contrast;
}

td, th {
    text-align: left;
}

hr {
    height: 1px;
}

dfn {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

// Tables
.table {
    &--params {
        width: 100%;
        margin-bottom: 1rem;

        @media @query-lg {
            width: auto;
            min-width: 370px;
            margin-bottom: 0;
        }

        tr {
            border-bottom: 1px solid @color-border;
        }

        thead {
            tr {
                border-bottom-width: 2px;
            }
        }

        td,
        th {
            padding: 10px 0 8px 0;
        }

        td:last-child {
            text-align: right;
        }
    }
}

p {
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    color: @color-base;
    font-weight: 700;
    line-height: 1.15em;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
}

h1 {
    margin: 0 0 10px 0;

    font-size: 26px;

    @media @query-md {
        font-size: 28px;
    }

    @media @query-lg {
        margin-bottom: 15px;

        font-size: 30px;
    }

    @media @query-vl {
        font-size: 32px;
    }
}

h2 {
    margin: 0 0 10px 0;

    font-size: 22px;

    @media @query-md {
        font-size: 23px;
    }

    @media @query-lg {
        font-size: 24px;
    }
}

h3 {
    margin: 0 0 10px 0;

    font-size: 18px;

    @media @query-lg {
        margin-bottom: 15px;
    }
}

h4 {
    margin: 0 0 10px 0;

    font-size: @font-size;
}

h5, h6 {
    margin: 0 0 10px 0;

    font-size: @font-size-mobile;
    font-weight: normal;
}

a {
    text-decoration: underline;
    color: @color-link;
    cursor: pointer;
    outline: none;

    &:hover {
        text-decoration: underline;
        color: @color-link-hover;
    }
}
