// timestamp for constrain browser to reload images
@timestamp: "?v=`( new Date() ).getTime()`";

// Paths
@path-design: '/public/frontend/images';
@path-font: '/public/frontend/fonts/dm-sans';

/* latin-ext */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@{path-font}/DmSans400-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@{path-font}/DmSans400.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('@{path-font}/DmSans500-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('@{path-font}/DmSans500.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('@{path-font}/DmSans700-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('@{path-font}/DmSans700.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Fonts
@font-base: "DM Sans", Arial, Helvetica, sans-serif;

@font-size: 16px;
@font-size-small: 14px;
@font-size-mobile: 14px;
@line-height: 1.3;
@line-height-mobile: 1.3;

// Layout
@web-width: 1240px;
@web-padding: 20px;
@web-panel-gap: 20px;
@web-header-mobile-dropdown-position: 95px;

@margin-gap: 20px;
@web-scrollbar-size: 17px;
@box-component-bottom-spacing: 30px;

@calc-base: 99.99%;

// Z-index level
@z-index-under: -1;
@z-index-normal: 0;
@z-index-above: 1;
@z-index-menu: 500;
@z-index-overlay: 1000;

// Colors
//// Gray scale
@color-0: #0d0d0d;
@color-1: #111;
@color-2: #222;
@color-3: #333;
@color-4: #444;
@color-5: #555;
@color-6: #666;
@color-7: #777;
@color-8: #888;
@color-9: #999;
@color-a: #aaa;
@color-b: #bbb;
@color-c: #ccc;
@color-d: #ddd;
@color-e: #eee;
@color-f: #fefefe;

//// Classic colors of design
@color-blue: #4c5bfd;
@color-blue-dark: #000862;
@color-blue-light: #f2f2ff;
@color-orange: #ecb200;
@color-orange-light: #fff0c4;
@color-grey: #414353;
@color-grey-light: #a4a7c1;
@color-grey-very-light: #f5f5f6;
@color-green: #00ecb1;
@color-green-secondary: #01946f;
@color-red: #ec5353;

//// Context colors
////// Base color of text
@color-base: @color-0;

////// Base color of text - lighter
@color-base-lighter: @color-grey-light;

////// Color, which is main in design (used in titles or links, other significant places)
@color-primary: @color-blue;

////// Color, which is additional in design (second main color)
@color-add: @color-orange;

////// Color, which is additional in design (third main color)
@color-add-light: @color-orange-light;

////// Color, which is the most used grey in design
@color-light: @color-grey-light;

////// Color, which is the second to most used grey in design
@color-light-secondary: @color-blue-light;

////// Color for common prices
@color-price: @color-primary;

////// Color for more visible prices (main price)
@color-price-main: @color-primary;

@color-price-sale: @color-primary;

////// Color for main links and its hover color
@color-link: @color-grey;
@color-link-hover: @color-primary;

////// Special colors
@color-info: @color-green;
@color-alert: @color-red;
@color-warning: #ec5a00;

////// Color for inactive text (muted)
@color-inactive: @color-grey-light;
////// Base color of border
@color-border: #e2e3eb;
////// Secondary border color
@color-border-secondary: #c4c9ff;
////// Tertiary border color
@color-border-tertiary: @color-grey-light;
////// Base color for background of components
@color-box: @color-light;

// Other
//// Forms
@form-item-height: 36px;

//// Default transition settings
@transition-type: cubic-bezier(.8, .20, .48, 1.0);
@transition-time: 0.2s;
@transition: @transition-time @transition-type;

//// Default border radius value
@radius: 11px;
@radius-medium: 4px;
@radius-small: 2px;

//// Global shadow hover item effect
@hover-shadow: 0 6px 9px 0 darken(@color-light, 5%);

//// Default postfixes for responsive helpers generator
@postfixes: -tablet, -mobile, -mobile-small;

// Responsive breakpoints
@breakpoint-1: 320px;
@breakpoint-1-a: (@breakpoint-1 - 1);
@breakpoint-2: 480px;
@breakpoint-2-a: (@breakpoint-2 - 1);
@breakpoint-3: 600px;
@breakpoint-3-a: (@breakpoint-3 - 1);
@breakpoint-4: 769px;
@breakpoint-4-a: (@breakpoint-4 - 1);
@breakpoint-5: 1024px;
@breakpoint-5-a: (@breakpoint-5 - 1);
@breakpoint-6: @web-width;
@breakpoint-6-a: (@breakpoint-6 - 1);
@breakpoint-7: 900px;

//// Media queries
@query-base: only screen and;

////// Mobile first
@query-xs: ~"@{query-base} (min-width: @{breakpoint-1})";
@query-sm: ~"@{query-base} (min-width: @{breakpoint-2})";
@query-md: ~"@{query-base} (min-width: @{breakpoint-3})";
@query-lg: ~"@{query-base} (min-width: @{breakpoint-4})";
@query-lg-up: ~"@{query-base} (min-width: @{breakpoint-7})";
@query-vl: ~"@{query-base} (min-width: @{breakpoint-5})";
@query-vl-up: ~"@{query-base} (min-width: 1100px)";
@query-xl: ~"@{query-base} (min-width: @{breakpoint-6})";

////// Mobile first - nested version
@query-xs-nested: ~"(min-width: @{breakpoint-1})";
@query-sm-nested: ~"(min-width: @{breakpoint-2})";
@query-md-nested: ~"(min-width: @{breakpoint-3})";
@query-lg-nested: ~"(min-width: @{breakpoint-4})";
@query-vl-nested: ~"(min-width: @{breakpoint-5})";
@query-xl-nested: ~"(min-width: @{breakpoint-6})";

////// Desktop first
@query-mobile-xs: ~"@{query-base} (max-width: @{breakpoint-2-a})";
@query-mobile: ~"@{query-base} (max-width: @{breakpoint-3-a})";
@query-tablet: ~"@{query-base} (max-width: @{breakpoint-4-a})";
@query-tablet-only: ~"@{query-base} (min-width: @{breakpoint-3}) and (max-width: @{breakpoint-4-a})";
@query-not-large-desktop: ~"@{query-base} (max-width: @{breakpoint-5-a})";

////// Desktop first - nested version
@query-mobile-xs-nested: ~"(max-width: @{breakpoint-2-a})";
@query-mobile-nested: ~"(max-width: @{breakpoint-3-a})";
@query-tablet-nested: ~"(max-width: @{breakpoint-4-a})";
@query-tablet-only-nested: ~"(min-width: @{breakpoint-3}) and (max-width: @{breakpoint-4-a})";
@query-not-large-desktop-nested: ~"(max-width: @{breakpoint-5-a})";
