parameters:
    database_host: postgres
    database_port: ~
    database_name: shopsys
    database_user: root
    database_password: root

    elasticsearch_host: elasticsearch:9200

    redis_host: redis

    mailer_transport: smtp
    mailer_host: smtp-server
    mailer_user: ~
    mailer_password: ~
    mailer_disable_delivery: false
    mailer_master_email_address: no-reply@shopsys.com
    mailer_delivery_whitelist:
        - /@shopsys\.com$/
        - /@scontodigital\.cz/

    secret: ThisTokenIsNotSoSecretChangeIt
    trusted_proxies:
        - "127.0.0.1"
    env(REDIS_PREFIX): ''
    env(ELASTIC_SEARCH_INDEX_PREFIX): ''

    env(S3_API_HOST): ''
    env(S3_API_USERNAME): ''
    env(S3_API_PASSWORD): ''
    env(S3_API_BUCKET_NAME): ''

    akeneo_config:
        enabled: false
        base_uri: 'https://pim.scontodev.cz/'
        client_id: ''
        secret: ''
        user: ''
        password: ''

    disable_form_fields_from_transfer: false

    sconto_bridge_config:
        enabled: false
        base_uri: 'https://api.scontodev.cz/api/'
        user: ''
        password: ''

    svg_icon_path: '%kernel.root_dir%/../src/Shopsys/ShopBundle/Resources/svg'

    kraken_config:
        enabled: false
        sandbox: false # https://kraken.io/docs/sandbox
        lossy: true
        api_key: ''
        api_secret: ''

    targito_config:
        enabled: false
        eshop_to_targito_account_id: ''
        eshop_to_targito_password: ''

    # When you do not want to use CDN, it is used value '//' as workaround by https://github.com/symfony/symfony/issues/28391
    env(CDN_DOMAIN): '//'

    gopay.config:
        cs:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: CS
        sk:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: SK
        de:
            goid: 8111408481
            clientId: 1437261089
            clientSecret: acdDPRSW
            language: DE
        isProductionMode: false
        scope: payment-all
        timeout: 30
