@list-menu-padding-right: 25px;
@list-menu-arrow-size: 25px;
@list-menu-height: 30px;

@list-menu-bg: @color-f;
@list-menu-submenu-bg: darken(@list-menu-bg, 10%);
@list-menu-border-color: lighten(@list-menu-bg, 5%);

@list-menu-font-color: @color-primary;
@list-menu-font-hover-color: @color-primary;

@list-menu-border-color: #e8ecee;

@list-menu-item-sale-color: #ff7a00;
@list-menu-item-sale-size: 24px;

// global settings
.list-menu-wrap {
    border-top: 1px solid @list-menu-border-color;

    @media @query-lg {
        border-bottom: 1px solid @list-menu-border-color;
    }
}

.list-menu {
    max-width: @web-width;
    margin: 0 auto;
    padding: 0;

    &__item {
        &__link {
            position: relative;

            &__icon {
                position: static;
                margin-top: 2px;

                font-size: 32px;
            }
        }

        &__control {
            position: absolute;
            top: 50%;
            right: auto;
            margin-top: -@list-menu-arrow-size/2;
            height: @list-menu-arrow-size;
            width: @list-menu-arrow-size;

            text-align: center;
            font-size: 11px;
            line-height: @list-menu-arrow-size;

            &:before {
                display: block;

                will-change: transform;
                transition: @transition-type 200ms transform;
            }

            &.open:before {
                transform: rotateX(180deg);
            }
        }
    }
}

// mobile + tablet version
@media @query-tablet {
    @list-menu-mobile-position: @web-header-mobile-dropdown-position;

    .list-menu {
        &--root {
            display: none;
            position: absolute;
            top: @list-menu-mobile-position;
            left: 0;
            right: 0;
            z-index: 5000;
        }

        &__item {
            display: block;

            background-color: @list-menu-bg;

            &.active {
                background-color: @list-menu-submenu-bg;
            }

            &__link {
                display: block;
                padding: 0.75rem 1rem;

                color: @list-menu-font-color;
                font-size: 11px;
                text-decoration: none;

                &:hover {
                    background-color: @list-menu-border-color;
                    color: @list-menu-font-hover-color;
                }

                &--level-1 {
                    font-family: @font-quartenary;
                    font-size: 15px;
                }

                &--level-2 {
                    padding-left: 40px;
                }

                &--level-3 {
                    padding-left: 50px;
                }

                &--level-4 {
                    padding-left: 60px;
                }

                &.current {
                    background-color: @list-menu-border-color;

                    color: @list-menu-font-color;
                    font-weight: bold;
                }
            }
        }

        & & {
            margin-bottom: 0;

            .list-menu__item {
                background-color: @list-menu-submenu-bg;
            }
        }
    }
}

// desktop version
@media @query-lg {
    .list-menu {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 9;

        &--root {
            position: relative;
            top: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-left: 220px;
            padding-right: 220px;

            background-color: @list-menu-bg;
        }

        &--dropdown {
            position: relative;
            top: 0;
        }

        &__item {
            background-color: @list-menu-submenu-bg;

            .list-menu--root & {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                background-color: @list-menu-bg;
            }

            &.active {
                background-color: @list-menu-submenu-bg;
            }

            &__link {
                padding: 0.75rem 1rem;

                color: @list-menu-font-color;
                font-size: 11px;
                text-decoration: none;

                &:hover {
                    color: @list-menu-font-hover-color;
                    background-color: @list-menu-border-color;
                    text-decoration: none;
                }

                &--level-1 {
                    font-family: @font-quartenary;
                    font-size: 15px;
                }

                &--level-2 {
                    padding-left: 20px;
                }

                &--level-3 {
                    padding-left: 40px;
                }

                &--level-4 {
                    padding-left: 60px;
                }

                &.current {
                    color: @list-menu-font-hover-color;
                    font-weight: bold;
                }

                &--blog {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                &--sale {
                    position: absolute;
                    right: 100px;
                    top: 0;

                    color: @list-menu-item-sale-color;

                    &:hover {
                        color: @list-menu-item-sale-color;
                    }

                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        width: @list-menu-item-sale-size;
                        height: @list-menu-item-sale-size;
                        margin-right: 3px;
                        content: '';

                        background-image: url('@{path-design}/sale.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                &--cats {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    left: 1rem;
                    top: 0;
                    padding: 0 0.5rem 0 0;
                    height: 100%;
                }
            }

            &__control {
                color: @list-menu-font-color;

                &:hover {
                    color: @list-menu-font-hover-color;
                }
            }
        }

        & & {
            margin-bottom: 0;

            .list-menu__item {
                background-color: @list-menu-submenu-bg;
            }
        }
    }
}
