@import "@tabler/core/scss/tabler";
@import "tom-select/src/scss/tom-select.bootstrap5";
@import "@tabler/core/scss/vendor/tom-select";
@import "@tabler/core/scss/vendor/coloris";

@import '~grapesjs/dist/css/grapes.min.css';
@import "grapesjs";
@import "ckeditor";
@import "tabler-overrides";

// wrap long menu items in sidebar
.sidebar .dropdown-menu .dropdown-header, .sidebar .dropdown-menu .dropdown-item {
    white-space: normal;
}

.page-body {
    padding-bottom: var(--page-padding-bottom);
}

.sidebar.navbar-nav {
    gap: 0.2rem;
    padding-bottom: var(--page-padding-bottom);
}

.navbar-brand-image {
    height: 3rem;
}

// adjust action bar appearance
@media (min-width: 576px) {
    .action-bar-bottom {
        margin-left: 15rem;
    }
}

// no arrows in number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
