@header-navig-link-size-small: 36px;
@header-navig-icon-size-small: 20px;
@header-navig-icon-background: @bg-page;

ul.navig {
    padding-inline-start: unset;
}
.navig {
    display: flex;
    font-size: 0;
    padding-inline-start: unset;

    &--side {
        display: flex;
        width: 100%;
        margin: 0;

        &--left.navig__item {
            display: flex;

            @media @query-tablet {
                margin-left: auto;
                height: 100%;
            }

            @media @query-lg {
                flex-grow: 1;
            }
        }

        &--right {
            display: flex;
            margin-left: auto;
            padding-right: 10px;

            .svg-locale-flag {
                min-width: 16px;
            }

            @media @query-tablet {
                margin-left: unset;
            }
        }
    }

    &--main {
        border-left: 1px solid @bg-primary-darker;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 5px;

        @media @query-xl {
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
