domains_urls:
    -   id: 1
        url: http://127.0.0.1:8000

    -   id: 2
        url: http://127.0.0.2:8000

    -   id: 3
        url: http://127.0.0.3:8000

    -   id: 4
        url: http://127.0.0.4:8000

    -   id: 5
        url: http://127.0.0.5:8000

    -   id: 6
        url: http://127.0.0.6:8000

    -   id: 7
        url: http://127.0.0.7:8000

    -   id: 8
        url: http://127.0.0.8:8000

    -   id: 9
        url: http://127.0.0.9:8000

    -   id: 10
        url: http://127.0.0.10:8000

    -   id: 11
        url: http://127.0.0.11:8000

    -   id: 12
        url: http://127.0.0.12:8000

    -   id: 13
        url: http://127.0.0.13:8000

    -   id: 14
        url: http://127.0.0.14:8000

    -   id: 15
        url: http://127.0.0.15:8000

    -   id: 16
        url: http://127.0.0.16:8000

    -   id: 17
        url: http://127.0.0.17:8000

    -   id: 18
        url: http://127.0.0.18:8000

    -   id: 19
        url: http://127.0.0.19:8000

    -   id: 20
        url: http://127.0.0.20:8000

    -   id: 21
        url: http://127.0.0.21:8000

    -   id: 22
        url: http://127.0.0.22:8000

    -   id: 23
        url: http://127.0.0.23:8000

    -   id: 24
        url: http://127.0.0.24:8000

    -   id: 25
        url: http://127.0.0.25:8000

    -   id: 26
        url: http://127.0.0.26:8000

    -   id: 27
        url: http://127.0.0.27:8000

    -   id: 28
        url: http://127.0.0.28:8000

    -   id: 29
        url: http://127.0.0.29:8000

    -   id: 30
        url: http://127.0.0.30:8000

    -   id: 31
        url: http://127.0.0.31:8000

    -   id: 32
        url: http://127.0.0.32:8000

    -   id: 33
        url: http://127.0.0.33:8000

    -   id: 34
        url: http://127.0.0.34:8000

    -   id: 35
        url: http://127.0.0.35:8000

    -   id: 36
        url: http://127.0.0.36:8000

    -   id: 37
        url: http://127.0.0.37:8000

    -   id: 38
        url: http://127.0.0.38:8000

    -   id: 39
        url: http://127.0.0.39:8000

    -   id: 40
        url: http://127.0.0.40:8000
