@cart-box-border: 2px solid #E7EBED;
@cart-box-border-radius: 6px;
@cart-box-color: #909194;
@cart-box-items-count-size: 17px;
@cart-box-items-count-font-size: 12px;

.cart {
    display: none;
    position: relative;

    @media @query-lg {
        display: block;
    }

    &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -10px;
        top: -40px;
        height: 82px;
        padding: 0 10px;

        cursor: pointer;
        transition: box-shadow @transition;
    }

    &-box.active {
        box-shadow: 0 10px 20px 0 rgba(@color-0, .15);

        .cart__detail {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }

    &__block {
        display: flex;
        align-items: center;

        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        font-size: 40px;
        line-height: 1;
    }

    &__info {
        @media @query-md {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 0.75rem 0.75rem 1rem;
            margin-right: 1rem;
            min-width: 65px;
            text-align: right;

            border: @cart-box-border;
            border-radius: @cart-box-border-radius;
            color: @cart-box-color;

            &:hover {
                border-color: @color-border;
            }
        }

        &::after {
            @media @query-lg {
                position: absolute;
                right: 50px;
                top: 20px;
                width: 10px;
                height: 10px;
                content: '';

                background-color: @color-f;
                border-right: @cart-box-border;
                border-top: @cart-box-border;
                transform: rotate(45deg);
            }
        }
    }

    &__state {
        display: none;

        @media @query-md {
            display: block;
        }

        &--active {
            font-family: @font-quartenary;
            color: @color-primary;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: -4px;
        width: @cart-box-items-count-size;
        height: @cart-box-items-count-size;

        border-radius: 100%;
        background-color: @color-add;
        background: linear-gradient(to bottom, #ffb300 40%, @color-add);
        color: @color-f;
        font-family: @font-tertiary;
        font-size: @cart-box-items-count-font-size;
        line-height: 1;

        @media @query-lg {
            top: 3px;
        }
    }

    &__detail {
        display: block;

        transition: all @transition;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.8);
        transform-origin: top right;

        box-shadow: 0 20px 20px 0 rgba(@color-0, .15);

        @media @query-lg {
            position: absolute;
            min-width: 510px;
            top: calc(100% + 15px);
            right: -10px;
            z-index: 6000;

            &::after {
                position: absolute;
                right: 0;
                top: -1px;
                width: 208px;
                height: 1px;

                background-color: lighten(@color-border, 10%);
                content: '';
            }
        }
    }
}
