@cart-box-border: 1px solid @color-border-secondary;
@cart-box-border-radius: 6px;
@cart-box-color: #909194;
@cart-box-items-count-size: 17px;
@cart-box-items-count-font-size: 12px;

.cart {
    display: none;
    position: relative;

    @media @query-lg {
        display: block;
    }

    &-box {
        @media @query-lg {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -10px;
            top: auto;
            height: 83px;
            padding: 0 10px;

            cursor: pointer;

            &--empty {
                &:hover {
                    box-shadow: 0 10px 20px 0 rgba(@color-0, .15);

                    .cart__detail--empty {
                        display: block;
                    }
                }

                .cart__block:hover {
                    & + .cart__detail--empty {
                        display: block;
                    }
                }
            }
        }
    }

    &-box.active {
        @media @query-lg {
            box-shadow: 0 10px 20px 0 rgba(@color-0, .15);

            .cart__detail {
                display: block;
            }
        }
    }

    &__block {
        display: flex;
        align-items: center;

        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        font-size: 40px;
        line-height: 1;
    }

    &__info {
        @media @query-lg {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.75rem 0.75rem 0.75rem 1rem;
            margin-right: 0.5rem;
            min-width: 65px;
            text-align: right;

            border: @cart-box-border;
            border-radius: @cart-box-border-radius;
            color: @cart-box-color;

            &:hover {
                border-color: @color-border;
            }
        }

        &::after {
            @media @query-lg {
                position: absolute;
                right: 43px;
                top: 22px;
                width: 8px;
                height: 8px;
                content: '';

                background-color: @color-f;
                border-right: @cart-box-border;
                border-top: @cart-box-border;
                transform: rotate(45deg);
            }
        }
    }

    &__state {
        display: none;

        @media @query-lg {
            display: block;
        }

        &--active {
            font-family: @font-quartenary;
            color: @color-primary;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: -4px;
        width: @cart-box-items-count-size;
        height: @cart-box-items-count-size;

        border-radius: 100%;
        background-color: @color-add;
        background: linear-gradient(to bottom, #ffb300 40%, @color-add);
        color: @color-f;
        font-family: @font-tertiary;
        font-size: @cart-box-items-count-font-size;
        line-height: 1;

        @media @query-lg {
            top: 3px;
        }
    }

    &__detail {
        display: none;
        box-shadow: 0 20px 20px 0 rgba(@color-0, .15);
        border-bottom-left-radius: @radius;
        border-bottom-right-radius: @radius;

        @media @query-lg {
            position: absolute;
            min-width: 510px;
            top: calc(100% + 16px);
            right: -10px;
            z-index: 6000;

            &::after {
                position: absolute;
                right: 0;
                top: -1px;
                width: 200px;
                height: 1px;

                background-color: lighten(@color-border, 10%);
                content: '';
            }
        }

        &--empty {
            display: none;
            padding: 15px 0 15px 15px;
            min-width: 400px;
            max-width: 400px;

            background-color: @color-f;

            &::after {
                width: 143px;
            }

            .cart__detail__figure {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                height: 80px;

                background-color: @color-light-secondary;
                border-top-left-radius: @radius;
                border-bottom-left-radius: @radius;

                &__text {
                    max-width: 150px;

                    font-size: 16px;
                    line-height: 1.2;
                    font-family: @font-quartenary;
                    color: @color-primary;
                    font-weight: 400;
                }

                &__image {
                    position: relative;
                    top: -3px;
                    height: 85px;

                    overflow: hidden;
                }

                &__img {
                    width: 115px;

                    image-rendering: -webkit-optimize-contrast;
                }
            }
        }
    }
}
