@cart-items-count-size: 15px;

.cart {
    position: relative;

    @media @query-lg {
        display: flex;

        &--empty {
            transition: all @transition;

            &:hover {
                .cart__block {
                    border-radius: @radius @radius 0 0;
                    box-shadow: 0 10px 20px 0 rgba(@color-0, .15);
                    background-color: @color-f;

                    & + .cart__detail--empty {
                        opacity: 1;
                        transform: scale(1);
                        pointer-events: auto;
                    }
                }
            }
        }
    }

    &.active {
        @media @query-lg {
            box-shadow: 0 10px 20px 0 rgba(@color-0, .15);

            .cart {
                &__block {
                    border-radius: @radius @radius 0 0;
                    background-color: @color-f;
                }

                &__detail {
                    display: block;
                }
            }
        }
    }

    &__block {
        display: none;
        align-items: center;
        padding: 15px 7px 15px 15px;

        text-decoration: none;
        background-color: @color-orange-light;
        color: @color-base;
        border-radius: @radius;

        @media @query-lg {
            display: flex;
        }

        .cart--empty & {
            transition: all @transition;
        }

        &:hover {
            text-decoration: none;
            color: @color-base;
        }
    }

    &__icon {
        position: relative;
        display: flex;

        font-size: 18px;
    }

    &__state {
        display: none;
        margin-left: 15px;
        line-height: 18px;

        font-size: @font-size-small;
        font-weight: 700;

        @media @query-lg {
            display: block;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 3px;
        top: 4px;
        width: @cart-items-count-size;
        height: @cart-items-count-size;

        border-radius: 100%;
        background-color: @color-primary;
        color: @color-f;
        font-weight: 700;
        font-size: 10px;

        @media @query-lg {
            top: -7px;
            right: -8px;
        }
    }

    &__detail {
        display: none;

        @media @query-lg {
            position: absolute;
            min-width: 510px;
            top: 100%;
            right: 0;
            z-index: 6000;

            box-shadow: 0 5px 10px 0 rgba(164,167,193,0.34);
            border-radius: @radius 0 @radius @radius;
            background-color: @color-f;
        }

        &--empty {
            padding: 15px 0 15px 15px;
            min-width: 400px;
            max-width: 400px;

            transition: all .2s ease-in-out;
            will-change: transform;
            opacity: 0;
            transform-origin: right top;
            transform: scaleY(0.5) scaleX(0.75);
            pointer-events: none;

            @media @query-lg {
                display: block;
            }

            &::after {
                width: 120px;
            }

            .cart__detail__figure {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                height: 80px;

                background-color: @color-f;
                border-top-left-radius: @radius;
                border-bottom-left-radius: @radius;

                &__text {
                    max-width: 150px;

                    font-size: 16px;
                    line-height: 1.2;
                    color: @color-base;
                    font-weight: 400;
                }

                &__image {
                    position: relative;
                    top: -3px;
                    height: 85px;

                    overflow: hidden;
                }

                &__img {
                    width: 115px;

                    image-rendering: -webkit-optimize-contrast;
                }
            }
        }
    }
}
