@cart-detail-width: 100%;
@cart-detail-remove-size: 18px;

@cart-detail-item-count: 5;
@cart-detail-item-bottom-gap: 5px;
@cart-detail-item-height: 71px;
@cart-detail-item-image-size: 45px;
@cart-detail-item-pieces-width: 50px;
@cart-detail-item-remove-padding-width: 10px;
@cart-detail-item-remove-size: 28px;
@cart-detail-item-content-width: calc(~"100% - @{cart-detail-item-image-size} - @{cart-detail-item-pieces-width} - @{cart-detail-item-remove-size}");


.cart-detail {
    .reset-ul();
    display: flex;
    flex-direction: column;
    max-height: @cart-detail-item-count*@cart-detail-item-height;
    width: @cart-detail-width;
    overflow-y: auto;

    &__wrap {
        padding: 20px 15px 10px;
        width: 100%;

        background-color: @color-f;
    }

    &__item {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: @cart-detail-item-bottom-gap;
        min-height: @cart-detail-item-height;

        border-bottom: 1px solid @color-border-lighter;

        &:last-child {
            border-bottom-color: transparent;
        }

        &__image {
            position: relative;
            width: @cart-detail-item-image-size;
            margin: 0 15px 0 5px;

            img {
                .center-image();
            }
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &__title {
                flex-grow: 1;
                padding-right: 35px;
                width: 100%;

                font-family: @font-quartenary;
                font-size: 13px;
                line-height: 1.4;
                color: @color-primary;
                text-decoration: none;
            }

            &__price {
                min-width: 140px;
                padding-right: 15px;

                color: @color-primary;
                font-family: @font-quartenary;
                text-align: right;
                line-height: 1.3;

                &--high {
                    display: block;

                    font-family: @font-base;
                    font-size: 13px;
                    line-height: 1;
                    text-decoration: line-through;
                }
            }
        }

        &__pieces {
            align-self: center;
            text-align: center;

            font-size: @font-size;
            color: @color-a;

            @media @query-md {
                width: @cart-detail-item-pieces-width;
            }
        }

        &__remove {
            display: flex;
            align-self: center;
            justify-content: center;
            width: @cart-detail-item-remove-size;
            min-width: @cart-detail-item-remove-size;
            height: @cart-detail-item-remove-size;

            text-decoration: none;
            cursor: pointer;
            border-radius: 100%;
            border: 1px solid rgba(176,190,197,0.3);

            &:hover {
                text-decoration: none;
            }

            .svg {
                position: relative;
                top: 3px;
                font-size: @cart-detail-remove-size;
                color: @color-primary;
            }

            &:hover {
                border-color: @color-border;
            }
        }
    }

    &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px 10px 15px;

        background-color: @color-f;
        border: 1px solid @color-border-lighter;
        border-radius: @radius;
        font-family: @font-quartenary;
        color: @color-primary;

        &__text {
            text-align: left;

            font-size: 13px;
            line-height: 1;
        }

        &__price {
            text-align: right;

            font-size: 18px;
            line-height: 1;

            &__previous {
                margin-right: 20px;

                font-size: 13px;
                font-family: @font-base;
                text-decoration: line-through;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 15px 20px;

        background-color: @color-f;

        @media @query-md {
            flex-direction: row;
        }

        &__button {
            align-self: flex-end;
            width: 100%;
            padding-top: 15px;
            text-align: center;

            @media @query-md {
                padding-top: 0;
                text-align: right;
            }
        }
    }
}
