@menu-iconic-link-font-size: 14px;
@menu-iconic-link-padding: 0 10px;
@menu-iconic-icon-size: 24px;

.menu-iconic {
    display: none;

    &__item__link {
        &:hover {
            text-decoration: none;
        }
    }

    @media @query-lg {
        display: flex;
        align-items: center;
        padding-left: 0;

        &__item {
            display: block;
            position: relative;

            &__link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: @menu-iconic-link-padding;

                font-size: @menu-iconic-link-font-size;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .menu-iconic__item__icon {
                position: relative;
                top: -1px;
                display: block;
                margin-bottom: 3px;
                height: 26px;

                font-size: @menu-iconic-icon-size;
                will-change: transform;
                transition: transform .2s ease-in-out;
            }

            &__text {
                line-height: 1;
            }
        }

        &__sub {
            .reset-ul();
            display: block;
            position: absolute;
            top: 63px;
            right: 0;
            min-width: 150px;

            background: @color-f;
            z-index: 30;
            border-bottom-left-radius: @radius;
            border-bottom-right-radius: @radius;
            box-shadow: 0 20px 20px 0 rgba(@color-0, .15);
            transition: all .2s ease-in-out;
            transform-origin: right top;
            opacity: 0;
            transform: scaleY(0.5) scaleX(0.7);
            will-change: transform;

            .menu-iconic__item:hover & {
                opacity: 1;
                transform: scale(1);
            }

            &__item {
                display: block;

                border-top: 1px solid @color-border-lighter;

                &:first-child {
                    border-top: 0;
                }

                &__link {
                    display: block;
                    padding: 12px 20px;

                    font-family: @font-quartenary;
                    color: @color-primary;

                    &:hover {
                        text-decoration: none;
                        color: @color-add-secondary;
                    }
                }
            }
        }
    }

    @media @query-vl {
        height: 100%;

        &__item {
            margin: 0 5px;
        }

        &__item,
        &__item__link {
            height: 100%;
        }

        &__sub {
            top: @header-height-vl + 1px;
        }

        &__item--sub {
            &:hover {
                box-shadow: 0 10px 20px 0 rgba(@color-0, 0.15);

                .menu-iconic__item__link::after {
                    opacity: 1;
                }
            }

            .menu-iconic__item__link {
                position: relative;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    content: '';
                    z-index: 1;

                    background-color: @color-f;
                    pointer-events: none;
                    opacity: 0;
                    transition: opacity @transition;
                }
            }
        }
    }
}
