@navigation-height: 64px;
@navigation-sub-list-item-gap: 45px;
@navigation-item-link-horizontal-gap: 10px;

.navigation {
    .reset-ul();
    display: none;
    width: 100%;

    @media @query-lg {
        display: block;
        width: calc(~'100% + (@{navigation-item-link-horizontal-gap} * 2)');
        position: relative;
        margin-left: -@navigation-item-link-horizontal-gap;
    }

    &__item {
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        height: @navigation-height;

        @media @query-vl {
            margin-right: 25px;
        }

        @media @query-xl {
            margin-right: 50px;
        }

        &.open, &:hover {
            text-decoration: none;
            color: @color-add-light;

            .navigation {
                &__item {
                    &__link {
                        color: @color-add-light;
                        text-decoration: none;

                        &:after {
                            display: block;
                        }
                    }

                    &__arrow {
                        transform: rotate(180deg);
                    }
                }

                &__sub {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &__link {
            position: relative;
            display: block;
            padding: 0 10px;
            margin: 0;
            height: @navigation-height;
            line-height: @navigation-height;

            font-size: @font-size-mobile;
            font-weight: 700;
            color: @color-f;
            text-transform: uppercase;
            text-decoration: none;

            @media @query-vl {
                font-size: @font-size;
            }

            &:hover {
                color: @color-f;
                text-decoration: none;
            }

            &:after {
                content: '';
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 4px;

                background-color: @color-add;
            }
        }

        &__arrow {
            margin-left: 5px;

            font-size: 14px;
        }
    }

    &__sub {
        display: block !important;
        position: absolute;
        width: 100%;
        z-index: @z-index-menu;
        top: @navigation-height;
        padding: 50px 60px 45px;

        background: @color-f;
        box-shadow: 0 5px 10px 0 rgba(164, 167, 193, 0.34);
        opacity: 0;
        pointer-events: none;

        &__list {
            .reset-ul();
            display: flex;
            flex-direction: row;
            margin-left: -@navigation-sub-list-item-gap;

            &--children {
                flex-direction: column;
                margin-left: 0;
            }

            &__item {
                width: @calc-base / 6;
                padding-left: @navigation-sub-list-item-gap;

                .navigation__sub__list--children & {
                    width: 100%;
                    padding-left: 0;
                }

                &__image {
                    display: flex;
                    height: 64px;
                    margin-bottom: 13px;

                    border-radius: @radius;
                    background-color: rgba(65,67,83,0.05);
                    font-size: 0;

                    picture {
                        position: relative;
                        margin: 8px;
                        width: 100%;
                    }

                    img {
                        .center-image();
                        mix-blend-mode: multiply;
                    }
                }

                &__link {
                    display: block;
                    margin-bottom: 4px;

                    text-decoration: none;
                    font-weight: 700;
                    color: @color-0;

                    &:hover {
                        color: @color-0;
                    }

                    .navigation__sub__list--children & {
                        margin-bottom: 5px;

                        font-weight: 400;
                        font-size: @font-size-small;
                    }
                }
            }
        }
    }
}
