@search-form-height: 40px;
@search-form-height-md: 52px;
@search-form-width: 270px;
@search-form-width-lg: 100%;
@search-form-width-vl: 100%;
@search-form-bg-color: @color-f;
@search-form-border-color: #d7dee2;
@search-form-border-color-md: @color-border-secondary;
@search-form-border-radius: @radius;

.search {
    position: relative;

    &__form {
        display: flex;

        &__input {
            position: relative;
            width: @search-form-width;
            height: @search-form-height;

            @media @query-md {
                height: @search-form-height-md;
            }

            @media @query-lg {
                width: @search-form-width-lg;
            }
        }

        &__icon {
            position: absolute;
            top: 4px;
            right: 10px;
            width: 33px;
            height: 33px;

            background-image: url('@{path-design}/search.svg');
            background-size: 33px;
            background-position: center center;
            transition: @transition color;
            color: #8e9a9f;

            @media @query-md {
                top: 10px;
            }

            .search__input:focus + & {
                color: @color-primary;
            }
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 45px;

        border-radius: @search-form-border-radius;
        background-color: @search-form-bg-color;
        border-color: @search-form-border-color;

        @media @query-mobile {
            border-width: 1px;
            border-color: #d7dee2;
        }

        @media @query-md {
            border-color: @search-form-border-color-md;
        }

        &::-webkit-input-placeholder { /* Firefox 18- */
            color: @color-primary;
            opacity: 0.6;
        }

        &::-moz-placeholder { /* Firefox 18- */
            color: @color-primary;
            opacity: 0.6;
        }

        &:-ms-input-placeholder { /* Firefox 18- */
            color: @color-primary;
            opacity: 0.6;
        }
    }

    &__hint {
        .reset-ul();
        position: absolute;
        top: 34px;
        left: 0;
        width: 100%;
        z-index: 10;

        border: 1px solid @color-border;
        border-top: 0;
        background: @color-f;
        border-radius: 0 0 @radius @radius;

        &__item {
            border-top: 1px dashed @color-border;

            &__link {
                .clearfix();
                display: flex;
                align-items: center;
                width: 100%;
                padding: 10px;

                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            &--info {
                padding: 10px 0;

                text-align: center;
                font-size: 12px;
                border: none;
            }

            &:last-child {
                border-radius: 0 0 @radius @radius;
            }
        }

        &__image {
            position: relative;
            height: 30px;
            width: 30px;

            img {
                .center-image();
            }

            .svg {
                position: relative;
                top: -2px;
                margin-bottom: -2px;

                font-size: 20px;
                color: @color-base;
            }
        }

        &__name {
            padding-left: 10px;
            flex: 1;
        }
    }
}
