@search-form-height: 40px;
@search-form-height-md: 52px;
@search-form-width: 270px;
@search-form-width-lg: 100%;
@search-form-width-vl: 100%;
@search-form-bg-color: @color-f;
@search-form-border-color: #d7dee2;
@search-form-border-color-md: @color-border-secondary;
@search-form-border-radius: @radius;

.search {
    position: relative;

    &__form {
        display: flex;

        &__input {
            position: relative;
            width: @search-form-width;
            height: @search-form-height;

            @media @query-md {
                height: @search-form-height-md;
            }

            @media @query-lg {
                width: @search-form-width-lg;
            }
        }

        &__icon {
            position: absolute;
            top: 4px;
            right: 10px;
            width: 33px;
            height: 33px;

            background-image: url('@{path-design}/search.svg');
            background-size: 33px;
            background-position: center center;
            transition: @transition color;
            color: #8e9a9f;

            @media @query-md {
                top: 10px;
            }

            .search__input:focus + & {
                color: @color-primary;
            }
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 45px;

        border-radius: @search-form-border-radius;
        background-color: @search-form-bg-color;
        border-color: @search-form-border-color;
        border-width: 1px;

        @media @query-mobile {
            padding-top: 0;

            border-width: 1px;
            border-color: #d7dee2;
        }

        @media @query-md {
            border-color: @search-form-border-color-md;
        }

        @media @query-vl {
            padding-top: 4px;
        }

        &::-webkit-input-placeholder { /* Firefox 18- */
            color: @color-primary;
            opacity: 0.6;
        }

        &::-moz-placeholder { /* Firefox 18- */
            color: @color-primary;
            opacity: 0.6;
        }

        &:-ms-input-placeholder { /* Firefox 18- */
            color: @color-primary;
            opacity: 0.6;
        }
    }

    &__hint {
        .reset-ul();
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        z-index: 10;

        background: @color-f;
        border-radius: 0 0 @radius @radius;
        box-shadow: 0 30px 20px 0 rgba(@color-0, .15);

        &__item {
            border-top: 1px solid @color-border-lighter;

            &:first-child {
                border-top: 0;
            }

            &--last {
                border-bottom: 1px solid @color-border-lighter;
            }

            &__link {
                .clearfix();
                display: flex;
                align-items: center;
                width: 100%;
                padding: 12px 15px 10px;

                text-decoration: none;
                line-height: 1.3;

                &:hover {
                    text-decoration: none;
                    background-color: @color-border-lighter;
                }
            }

            &--info {
                margin: 16px 0 7px;

                text-align: center;
                font-size: 12px;
                border: none;
                color: @color-base-lighter;
            }

            &--show-results {
                margin-bottom: 22px;
                text-align: center;
                border: 0;
            }

            &:last-child {
                border-radius: 0 0 @radius @radius;
            }

            &__strong {
                font-family: @font-quartenary;
                color: @color-primary-light;
                font-weight: 400;
            }
        }

        &__image {
            position: relative;
            height: 32px;
            width: 32px;

            img {
                .center-image();
                mix-blend-mode: multiply;
            }

            &--no-result {
                img {
                    transform: scale(0.7);
                }
            }
        }

        &__name {
            padding-left: 15px;
            flex: 1;

            font-size: 13px;

            @media @query-xl {
                font-size: 15px;
            }

            &--no-results {
                font-size: 14px;
            }
        }
    }

    &__autocomplete {
        position: relative;
        z-index: 10;

        opacity: 0;
        transform: scaleY(0.9);
        pointer-events: none;
        transition: all .2s ease-in-out;
        transform-origin: center top;

        &.is-active {
            opacity: 1;
            transform: scaleY(1);
            pointer-events: auto;
        }
    }
}
