@search-form-width: 270px;
@search-form-icon-size: 20px;
@search-form-bg-color: @color-f;
@search-form-extended-width: 576px;
@search-hint-products-item-gap: 18px;
@search-hint-products-item-content-gap: 10px;

.search {
    position: relative;
    height: 48px;

    &.is-active {
        .search {
            &__autocomplete {
                opacity: 1;
                transform: scaleY(1);
                pointer-events: auto;
            }

            &__form {
                width: 100%;

                @media @query-vl {
                    width: @search-form-extended-width;
                }

                &__input {
                    .input {
                        border-color: @color-border-secondary;
                    }
                }

                &__hide {
                    display: flex;
                }
            }
        }
    }

    &__in {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: @z-index-above;
    }

    &__form {
        display: flex;
        width: 100%;

        transition: all @transition;

        &__input {
            position: relative;
            width: 100%;

            .input {
                border: 2px solid @color-f;
                transition: all @transition;
            }
        }

        &__hide {
            display: none;
            position: absolute;
            top: 50%;
            right: 46px;
            transform: translateY(-50%);
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;

            cursor: pointer;
            background-color: @color-light-secondary;
            color: @color-base-lighter;
            border-radius: 50%;
            font-size: 11px;
            transition: all @transition;

            &:hover {
                background-color: darken(@color-light-secondary,3%);
            }
        }

        &__icon {
            position: absolute;
            top: 14px;
            right: 15px;
            width: @search-form-icon-size;
            height: @search-form-icon-size;

            background-image: url('@{path-design}/search.svg');
            background-size: @search-form-icon-size;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: transparent;
            transition: @transition color;
            color: @color-grey;
            cursor: pointer;
            outline: 0;
            border: 0;
        }
    }

    &__input {
        width: 100%;
        padding-left: 15px;
        padding-right: 45px;

        border-radius: @radius;
        background-color: @search-form-bg-color;
        color: @color-grey;
        transition: all @transition;

        &::-webkit-input-placeholder {
            color: @color-grey;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: @color-grey;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: @color-grey;
            opacity: 1;
        }
    }

    &__hint {
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: 32px;

        background: @color-f;
        border-radius: @radius;
        box-shadow: 0 5px 10px 0 rgba(164,167,193,0.34);

        &__title {
            margin: 0;

            font-size: 13px;
            color: @color-base-lighter;

            &--big-gap {
                margin: 0 0 10px 0;
            }
        }

        &__list {
            .reset-ul();
            margin-bottom: 30px;

            &__item {
                border-bottom: 1px solid @color-border;
    
                &__link {
                    .clearfix();
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 10px 0;
    
                    text-decoration: none;
                    font-size: @font-size-small;
                    color: @color-0;
                }
            }
        }

        &__products {
            .reset-ul();
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-left: -@search-hint-products-item-gap;
            margin-bottom: 30px - @search-hint-products-item-gap;

            &__item {
                width: 100%;
                padding-left: @search-hint-products-item-gap;
                margin-bottom: @search-hint-products-item-gap / 2;

                font-size: @font-size-small;

                @media @query-lg {
                    width: 20%;
                    margin-bottom: @search-hint-products-item-gap;
                }

                &__link {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    line-height: 18px;

                    text-decoration: none;

                    @media @query-lg {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    &:hover {
                        text-decoration: none;

                        .search__hint__products__item__name {
                            text-decoration: underline;
                        }
                    }
                }

                &__image {
                    position: relative;
                    width: 72px;
                    height: 48px;
                    margin-right: @search-hint-products-item-content-gap;

                    @media @query-lg {
                        margin-right: 0;
                    }

                    img {
                        .center-image();
                    }
                }

                &__name {
                    flex: 1;
                    margin-right: @search-hint-products-item-content-gap;

                    @media @query-lg {
                        margin-bottom: 5px;
                        margin-right: 0;
                    }
                }

                &__price {
                    font-weight: 700;
                    color: @color-price;
                }
            }
        }

        &__no-result {
            display: flex;
            align-items: center;
            padding: 0;

            &__image {
                position: relative;
                height: 32px;
                width: 32px;

                img {
                    .center-image();
                    mix-blend-mode: multiply;
                }
            }

            &__name {
                padding-left: 15px;
                flex: 1;

                font-size: @font-size-small;
            }
        }   
    }

    &__autocomplete {
        position: relative;
        z-index: 10;
        width: 100%;

        opacity: 0;
        transform: scaleY(0.9);
        pointer-events: none;
        transition: all @transition;
        transform-origin: center top;
                
        @media @query-vl {
            width: @search-form-extended-width;
        }
    }
}
