@table-main-padding-vertical: 14px;
@table-main-padding-horizontal: 17px;

.table-main {
    width: 100%;
    border-collapse: collapse;

    thead {
        background: @color-f;
        color: @color-grey;
        font-weight: bold;
    }

    tbody, tfoot {
        background: @color-f;
    }

    tbody {
        tr {
            background: @color-f;
        }
    }

    td, th {
        padding: @table-main-padding-vertical @table-main-padding-horizontal;
    }

    thead {
        td, th {
            padding-top: @table-main-padding-vertical;
            padding-bottom: @table-main-padding-vertical;
        }
    }

    &__column-with-info {
        display: block;
        padding-right: @table-main-padding-horizontal;
    }

    &--with-inline-form {
        th {
            padding-right: 2*@table-main-padding-horizontal;
        }

        td {
            position: relative;
            padding: @table-main-padding-vertical 2*@table-main-padding-horizontal @table-main-padding-vertical 10px;
        }

        tbody tr td:first-child,
        tfoot tr td:first-child,
        th:first-child {
            padding-left: 15px;
        }
    }
}
