@layer base {
    html {
        @apply h-full min-h-full;
    }

    body {
        @apply min-h-full [font-feature-settings:'lnum'_1];
    }

    body,
    form,
    input,
    select,
    button,
    p,
    pre,
    dfn,
    address,
    ul,
    ol,
    li,
    img,
    table,
    tr,
    td,
    th,
    textarea {
        @apply font-default text-text-default;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply font-secondary font-semibold;
    }

    h1,
    .h1 {
        @apply text-2xl lg:text-4xl;
    }

    h2,
    .h2 {
        @apply text-xl lg:text-3xl;
    }

    h3,
    .h3 {
        @apply text-lg lg:text-2xl;
    }

    h4,
    .h4 {
        @apply text-base lg:text-lg;
    }

    h5,
    .h5 {
        @apply text-sm lg:text-base;
    }

    h6,
    .h6 {
        @apply text-xs tracking-wider uppercase;
    }

    td,
    th {
        @apply text-left;
    }

    hr {
        @apply h-[1px];
    }

    dfn {
        @apply not-italic;
    }

    table {
        border-collapse: collapse;
    }

    p {
        @apply text-sm break-words lg:text-base;
    }

    a {
        @apply text-link-default hover:text-link-hovered active:text-link-hovered disabled:text-link-disabled cursor-pointer rounded-sm text-sm underline hover:underline lg:text-base;
    }

    b,
    strong {
        @apply font-bold;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply m-0;
        -webkit-appearance: none;
    }

    svg {
        @apply inline-flex w-[14px] text-center leading-none font-normal normal-case;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }

    /* Toastify styling */

    .Toastify {
        --toastify-toast-min-height: 48px;
        --toastify-font-family: sans-serif;
        --toastify-z-index: 10100;
        --toastify-toast-width: 480px;

        @variant lg {
            --toastify-toast-width: 700px;
        }
    }

    .Toastify__toast {
        @variant md {
            @apply !rounded-toast;
        }
    }

    .Toastify__toast-container {
        @apply focus-visible:outline-none;
    }

    .Toastify__toast-body {
        @apply !text-text-default;
        max-width: 90%;

        > div {
            max-width: 100%;
        }
    }

    .Toastify__toast--info {
        @apply !bg-background-warning;
    }

    .Toastify__toast--success {
        @apply !bg-background-success text-text-inverted;
    }

    .Toastify__toast--error {
        @apply !bg-background-error;
    }

    .Toastify__progress-bar-theme--colored {
        @apply !bg-background-dark/20;
    }

    .Toastify__close-button {
        @apply !text-text-default !self-center rounded-sm !opacity-100;
    }

    /* fix gallery video start width and hide dummy image */
    .lg-outer .lg-video-cont .lg-object.lg-video-poster {
        @apply !w-auto;
    }

    .lg-outer .lg-video-cont.lg-has-youtube .lg-dummy-img {
        @apply !hidden;
    }

    .lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
        @apply !flex items-center justify-center;
    }

    .lg-outer .lg-thumb-item img {
        @apply !h-auto max-h-full !w-auto max-w-full;
    }

    /* accessibility */

    a:focus-visible,
    button:focus-visible {
        @apply text-text-default! bg-orange-500! outline-none!;
    }

    a:focus-visible svg,
    a:focus-visible span,
    button:focus-visible svg,
    button:focus-visible span {
        @apply text-text-default!;
    }

    input[type='checkbox']:focus-visible + label > span:first-child {
        @apply bg-orange-500!;
    }

    input[type='checkbox']:focus-visible + label > span:first-child svg {
        @apply text-text-default!;
    }

    input[type='radio']:focus-visible + label > span:first-child {
        @apply bg-orange-500!;
    }

    input[role='switch']:focus-visible + label {
        @apply bg-orange-500!;
    }

    input[role='switch']:focus-visible + label:after {
        @apply bg-background-dark!;
    }

    .promo-wrapper a {
        @apply flex;
    }
}
