@keyframes animateIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fixedHeaderSlideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@theme {
    --radius-sm: 0.1875rem;
    --text-zero: [0, 0];
    --keyframes-fadeIn: fadeIn 0.2s ease-in-out;
    --animation-fadeIn: fadeIn 0.2s ease-in-out;
    --aspect-16/11: 16 / 11;
}
