@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full min-h-full;
}

body {
    @apply min-h-full [font-feature-settings:'lnum'_1];
}

body,
form,
input,
select,
button,
p,
pre,
dfn,
address,
ul,
ol,
li,
img,
table,
tr,
td,
th,
textarea {
    @apply font-default text-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @apply font-secondary font-semibold;
}

h1,
.h1 {
    @apply text-2xl lg:text-4xl;
}

h2,
.h2 {
    @apply text-xl lg:text-3xl;
}

h3,
.h3 {
    @apply text-lg lg:text-2xl;
}

h4,
.h4 {
    @apply text-base lg:text-lg;
}

h5,
.h5 {
    @apply text-sm lg:text-base;
}

h6,
.h6 {
    @apply text-xs uppercase tracking-wider lg:text-xs;
}

td,
th {
    @apply text-left;
}

hr {
    @apply h-[1px];
}

dfn {
    @apply not-italic;
}

table {
    border-collapse: collapse;
}

p {
    @apply break-words text-sm leading-5 lg:text-base;
}

a {
    @apply cursor-pointer text-sm leading-5 text-link underline outline-none hover:text-linkHovered hover:underline active:text-linkHovered disabled:text-linkDisabled lg:text-base;
}

b,
strong {
    @apply font-bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    @apply m-0;
    -webkit-appearance: none;
}

svg {
    @apply inline-flex w-[14px] text-center font-normal normal-case leading-none;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Stuff for react-select */

.select__placeholder {
    @apply hidden;
}

.select__single-value {
    @apply !text-text;
}

.select__control {
    @apply !z-[2] !min-h-[56px] !cursor-pointer !items-end !self-end !rounded-md !border-2 !border-inputBorder !shadow-none  hover:!border-2 hover:!border-inputBorderHovered active:!border-inputBorderActive;
}

.select__indicator {
    @apply !flex h-12 w-12 !items-center !justify-center !p-0 transition-all;
}

.select__menu {
    @apply !z-[3] !m-0 !overflow-hidden !rounded-b-md !border-2 !border-t-0 !border-inputBorder !shadow-none hover:!border-inputBorderHovered active:!border-inputBorderActive disabled:!border-inputBorderDisabled;
}

.select__menu-list {
    @apply [&::-webkit-scrollbar-thumb]:bg-backgroundMore [&::-webkit-scrollbar-thumb]:hover:bg-backgroundMost [&::-webkit-scrollbar-track]:bg-background [&::-webkit-scrollbar]:h-[0px] [&::-webkit-scrollbar]:w-[5px];
}

.select__option {
    @apply !cursor-pointer !p-3 font-semibold;
}

.select__option--is-selected {
    @apply !bg-inputBackground !text-inputTextActive hover:!text-inputTextActive;
}
.select__option--is-focused {
    @apply !bg-inputBackgroundHovered !text-inputTextHovered;
}

.select__control--menu-is-open {
    @apply !items-end !rounded-b-none [&.select__indicator>svg]:!text-inputTextActive [&.select__indicator]:!rotate-180;
}

/* Toastify styling */

.Toastify {
    --toastify-toast-min-height: 48px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 10100;
    --toastify-toast-width: 480px;

    @screen lg {
        --toastify-toast-width: 700px;
    }
}

.Toastify__toast {
    @apply !rounded;
}

.Toastify__toast-body {
    @apply !text-text;
    max-width: 90%;

    > div {
        max-width: 100%;
    }
}

.Toastify__toast--info {
    @apply !bg-backgroundWarning;
}

.Toastify__toast--success {
    @apply !bg-backgroundSuccess text-textInverted;
}

.Toastify__toast--error {
    @apply !bg-backgroundError;
}

.Toastify__progress-bar-theme--colored {
    @apply !bg-backgroundDark bg-opacity-20;
}

.Toastify__close-button {
    @apply !self-center !text-text !opacity-100;
}

/* fix gallery video start width and hide dummy image */
.lg-outer .lg-video-cont .lg-object.lg-video-poster {
    @apply !w-auto;
}
.lg-outer .lg-video-cont.lg-has-youtube .lg-dummy-img {
    @apply !hidden;
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
    @apply !flex items-center justify-center;
}

.lg-outer .lg-thumb-item img {
    @apply !h-auto max-h-full !w-auto max-w-full;
}
