@theme {
    --breakpoint-xxs: 20em; /* 320px / 16 = 20 */
    --breakpoint-xs: 23.4375em; /* 375px / 16 = 23.4375 */
    --breakpoint-sm: 30em; /* 480px / 16 = 30 */
    --breakpoint-md: 37.5em; /* 600px / 16 = 37.5 */
    --breakpoint-lg: 48.0625em; /* 769px / 16 = 48.0625 */
    --breakpoint-vl: 64em; /* 1024px / 16 = 64 */
    --breakpoint-xl: 77.5em; /* 1240px / 16 = 77.5 */
    --breakpoint-xxl: 97.5em; /* 1560px / 16 = 97.5 */

    --color-text-default: #25283d;
    --color-text-accent: #004eb6;
    --color-text-inverted: #ffffff;
    --color-text-disabled: #727588;
    --color-text-success: #00cdbe;
    --color-text-subtle: #7892bc;
    --color-text-error: #ec5353;

    --color-link-default: #004eb6;
    --color-link-disabled: #7aa1d5;
    --color-link-hovered: #003479;
    --color-link-inverted: #ffffff;
    --color-link-inverted-disabled: #727588;
    --color-link-inverted-hovered: #fff0c4;

    --color-border-default: #7892bc;
    --color-border-less: #fafafa;
    --color-border-accent-less: #e0e0e0;
    --color-border-accent-success: #20d3c6;
    --color-border-accent-error: #ec5353;

    --color-background-default: #ffffff;
    --color-background-more: #fafafa;
    --color-background-most: #ececec;
    --color-background-brand: #0f00a0;
    --color-background-brand-less: #065fdb;
    --color-background-accent: #009aff;
    --color-background-accent-less: #f4faff;
    --color-background-accent-more: #008ae5;
    --color-background-dark: #25283d;
    --color-background-error: #ec5353;
    --color-background-success: #20d3c6;
    --color-background-success-more: #149f96;
    --color-background-warning: #fcbd46;
    --color-background-warning-more: #d58b00;

    --color-price-default: #004eb6;
    --color-price-before: #7892bc;
    --color-price-discounted: #ec5353;

    --color-button-primary-text-default: #ffffff;
    --color-button-primary-text-active: #ffffff;
    --color-button-primary-text-disabled: #7892bc;
    --color-button-primary-text-hovered: #ffffff;
    --color-button-primary-bg-default: #00c8b7;
    --color-button-primary-bg-active: #00beb0;
    --color-button-primary-bg-disabled: #ccf5f2;
    --color-button-primary-bg-hovered: #27e8da;
    --color-button-primary-border-default: #00c8b7;
    --color-button-primary-border-active: #00beb0;
    --color-button-primary-border-disabled: #ccf5f2;
    --color-button-primary-border-hovered: #27e8da;

    --color-button-secondary-text-default: #ffffff;
    --color-button-secondary-text-active: #ffffff;
    --color-button-secondary-text-disabled: #ffffff;
    --color-button-secondary-text-hovered: #ffffff;
    --color-button-secondary-bg-default: #004eb6;
    --color-button-secondary-bg-active: #00439c;
    --color-button-secondary-bg-disabled: #a1b5cf;
    --color-button-secondary-bg-hovered: #4081d6;
    --color-button-secondary-border-default: #004eb6;
    --color-button-secondary-border-active: #00439c;
    --color-button-secondary-border-disabled: #a1b5cf;
    --color-button-secondary-border-hovered: #4081d6;

    --color-button-inverted-text-default: #004eb6;
    --color-button-inverted-text-active: #25283d;
    --color-button-inverted-text-disabled: #a3acbd;
    --color-button-inverted-text-hovered: #7892bc;
    --color-button-inverted-bg-default: transparent;
    --color-button-inverted-bg-active: #ffffff;
    --color-button-inverted-bg-disabled: #fafafa;
    --color-button-inverted-bg-hovered: #ffffff;
    --color-button-inverted-border-default: #004eb6;
    --color-button-inverted-border-active: #25283d;
    --color-button-inverted-border-disabled: #a3acbd;
    --color-button-inverted-border-hovered: #7892bc;

    --color-button-transparent-text-default: #ffffff;
    --color-button-transparent-text-active: #ffffff;
    --color-button-transparent-text-disabled: #ffffff66;
    --color-button-transparent-text-hovered: #ffffff;
    --color-button-transparent-bg-default: transparent;
    --color-button-transparent-bg-active: #ffffff33;
    --color-button-transparent-bg-disabled: transparent;
    --color-button-transparent-bg-hovered: #ffffff66;
    --color-button-transparent-border-default: #ffffff;
    --color-button-transparent-border-active: #ffffff;
    --color-button-transparent-border-disabled: #ffffff66;
    --color-button-transparent-border-disabled: #ffffff;

    --color-icon-accent-red: #ec5353;

    /* Replace with color-availability-in-stock */
    --color-availabilityInStock: #00cdbe;
    /* Replace with color-availability-out-of-stock */
    --color-availabilityOutOfStock: #ec5353;

    /* Replace with color-opening-status-open */
    --color-openingStatusOpen: #00cdbe;
    /* Replace with color-opening-status-closed */
    --color-openingStatusClosed: #ec5353;
    /* Replace with color-opening-status-open-today */
    --color-openingStatusOpenToday: #fcbd46;

    /* Replace with color-input-text-default */
    --color-inputText: #25283d;
    /* Replace with color-input-text-active */
    --color-inputTextActive: #004eb6;
    /* Replace with color-input-text-disabled */
    --color-inputTextDisabled: #727588;
    /* Replace with color-input-text-hovered */
    --color-inputTextHovered: #25283d;
    /* DEPRECATE */
    --color-inputTextInverted: #ffffff;
    /* Replace with color-input-placeholder-default */
    --color-inputPlaceholder: #7892bc;
    /* Replace with color-input-placeholder-active */
    --color-inputPlaceholderActive: #3967b2;
    /* Replace with color-input-placeholder-disabled */
    --color-inputPlaceholderDisabled: #afbbcf;
    /* Replace with color-input-placeholder-hovered */
    --color-inputPlaceholderHovered: #5c81be;
    /* Replace with color-input-bg-default */
    --color-inputBackground: #ffffff;
    /* Replace with color-input-bg-active */
    --color-inputBackgroundActive: #004eb6;
    /* Replace with color-input-bg-disabled */
    --color-inputBackgroundDisabled: #ffffff;
    /* Replace with color-input-bg-hovered */
    --color-inputBackgroundHovered: #f4faff;
    /* Replace with color-input-border-default */
    --color-inputBorder: #7892bc;
    /* Replace with color-input-border-active */
    --color-inputBorderActive: #004eb6;
    /* Replace with color-input-border-disabled */
    --color-inputBorderDisabled: #afbbcf;
    /* Replace with color-input-border-hovered */
    --color-inputBorderHovered: #004eb6;
    /* TODO Make sure this is used only for border, else replace with color-text-error */
    /* Replace with color-input-border-error */
    --color-inputError: #ec5353;

    /* Replace with color-table-bg-default */
    --color-tableBackground: #ffffff;
    /* Replace with color-table-bg-contrast */
    --color-tableBackgroundContrast: #fafafa;
    /* Replace with color-table-bg-header */
    --color-tableBackgroundHeader: #3967b2;
    /* Replace with color-text-default */
    --color-tableText: #25283d;
    /* Replace with color-text-inverted */
    --color-tableTextHeader: #ffffff;
    /* ? DEPRECATE */
    --color-tableCross: #a3acbd;
    /* ? DEPRECATE */
    --color-tableCrossHover: #7892bc;
    /* ? DEPRECATE */
    --color-tableCrossHoverBg: #fafafa;

    /* Replace with color-tag-dark-text-default */
    --color-labelLinkText: #ffffff;
    /* Replace with color-tag-dark-text-active */
    --color-labelLinkTextActive: #ffffff;
    /* Replace with color-tag-dark-text-disabled */
    --color-labelLinkTextDisabled: #e3e3e3;
    /* Replace with color-tag-dark-text-hovered */
    --color-labelLinkTextHovered: #ffffff;
    /* Replace with color-tag-dark-bg-default */
    --color-labelLinkBackground: #7892bc;
    /* Replace with color-tag-dark-bg-active */
    --color-labelLinkBackgroundActive: #3967b2;
    /* Replace with color-tag-dark-bg-disabled */
    --color-labelLinkBackgroundDisabled: #afbbcf;
    /* Replace with color-tag-dark-bg-hovered */
    --color-labelLinkBackgroundHovered: #3967b2;
    /* Replace with color-tag-dark-border-default */
    --color-labelLinkBorder: #7892bc;
    /* Replace with color-tag-dark-border-active */
    --color-labelLinkBorderActive: #3967b2;
    /* Replace with color-tag-dark-border-disabled */
    --color-labelLinkBorderDisabled: #afbbcf;
    /* Replace with color-tag-dark-border-hovered */
    --color-labelLinkBorderHovered: #3967b2;

    --color-skeleton: #ececec;

    --color-imageOverlay: rgba(201, 201, 201, 0.5);
    --color-overlay: rgba(37, 40, 61, 0.5);
    --color-transparent: transparent;
}
