@theme {
    --radius-none: 0px;
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 24px;
    --radius-4xl: 32px;
    --radius-full: 9999px;
    --radius-button: var(--radius-md);
    --radius-checkbox: var(--radius-sm);
    --radius-counter: var(--radius-md);
    --radius-flag: var(--radius-sm);
    --radius-input: var(--radius-md);
    --radius-tag: var(--radius-full);
    --radius-toast: var(--radius-md);
    --radius-product-card: var(--radius-xl);

    --border-width-0: 0px;
    --border-width-1: 1px;
    --border-width-2: 2px;
    --border-width-4: 4px;
    --border-width-8: 8px;

    --spacing-0: 0px;
    --spacing-px: 1px;
    --spacing-0.5: 2px;
    --spacing-1: 4px;
    --spacing-1.5: 6px;
    --spacing-2: 8px;
    --spacing-2.5: 10px;
    --spacing-3: 12px;
    --spacing-3.5: 14px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-11: 44px;
    --spacing-12: 48px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-28: 112px;
    --spacing-32: 128px;
    --spacing-36: 144px;
    --spacing-40: 160px;
    --spacing-44: 176px;
    --spacing-48: 192px;
    --spacing-52: 208px;
    --spacing-56: 224px;
    --spacing-60: 240px;
    --spacing-64: 256px;
    --spacing-72: 288px;
    --spacing-80: 320px;
    --spacing-96: 384px;

    --text-xxs: 10px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;
    --text-5xl: 48px;

    --font-letter-spacing-5: 5px;
    --font-letter-spacing-normal: 0px;
    --font-letter-spacing-tight: -0.4px;
    --font-letter-spacing-tighter: -0.8px;
    --font-letter-spacing-tightest: -1px;
    --font-letter-spacing-wide: 0.4px;
    --font-letter-spacing-wider: 0.8px;
    --font-letter-spacing-widest: 1.6px;

    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-thin: 100;

    --leading-none: 0px;
    --leading-3: 12px;
    --leading-4: 16px;
    --leading-5: 20px;
    --leading-6: 24px;
    --leading-7: 28px;
    --leading-8: 32px;
    --leading-9: 36px;
    --leading-10: 40px;

    --breakpoint-xxs: 320px;
    --breakpoint-xs: 375px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 600px;
    --breakpoint-lg: 769px;
    --breakpoint-xl: 1240px;
    --breakpoint-vl: 1024px;
    --breakpoint-xxl: 1560px;

    --container-default-max-width: var(--breakpoint-xl);
    --container-oversized-max-width: var(--breakpoint-xxl);
    --container-padding-desktop: var(--spacing-5);
    --container-padding-mobile: var(--spacing-5);

    --color-base-black: #25283d;
    --color-base-transparent: #ffffff00;
    --color-base-white: #ffffff;

    --color-brand-50: #d5eefe;
    --color-brand-100: #acdeff;
    --color-brand-200: #73c7ff;
    --color-brand-300: #39b1ff;
    --color-brand-400: #009aff;
    --color-brand-500: #008ae5;
    --color-brand-600: #065fdb;
    --color-brand-700: #004eb6;
    --color-brand-800: #0f00a0;
    --color-brand-900: #0a0066;

    --color-gray-50: #fafafa;
    --color-gray-100: #fafafa;
    --color-gray-200: #eaeaea;
    --color-gray-300: #e3e3e3;
    --color-gray-400: #e0e0e0;
    --color-gray-500: #d9d9d9;
    --color-gray-600: #cacaca;
    --color-gray-700: #92939e;
    --color-gray-800: #727588;
    --color-gray-900: #25283d;

    --color-green-100: #eaf9f8;
    --color-green-200: #eaf9f8;
    --color-green-500: #00cdbe;
    --color-green-700: #01beb0;

    --color-orange-100: #fcf6e2;
    --color-orange-200: #fff0c4;
    --color-orange-500: #fcbd46;
    --color-orange-700: #d49215;

    --color-primary-50: #d6f5f3;
    --color-primary-100: #d6f5f3;
    --color-primary-200: #00e5d5;
    --color-primary-300: #00cdbe;
    --color-primary-400: #01beb0;
    --color-primary-500: #01beb0;
    --color-primary-600: #01897f;
    --color-primary-700: #01897f;
    --color-primary-800: #005650;
    --color-primary-900: #005650;

    --color-red-100: #fce5e5;
    --color-red-200: #fce5e5;
    --color-red-500: #ec5353;
    --color-red-700: #d44a4a;

    --color-secondary-50: #f4faff;
    --color-secondary-100: #f4faff;
    --color-secondary-200: #e1e6ef;
    --color-secondary-300: #b6c3d8;
    --color-secondary-400: #97abca;
    --color-secondary-500: #7892bc;
    --color-secondary-600: #5575aa;
    --color-secondary-700: #445e88;
    --color-secondary-800: #334666;
    --color-secondary-900: #222f44;

    --color-white-alpha-100: #ffffffcc;
    --color-white-alpha-200: #ffffff7a;
    --color-white-alpha-300: #ffffff52;
    --color-white-alpha-500: #ffffff29;
    --color-white-alpha-700: #ffffff1f;
    --color-white-alpha-900: #ffffff0a;

    --color-overlay-default: #25283d80;
    --color-overlay-image: #c9c9c980;

    --color-flag-text: var(--color-text-inverted);

    --color-skeleton-default: var(--color-gray-200);
    --color-skeleton-less: var(--color-gray-100);

    --color-toast-bg-default: var(--color-brand-50);
    --color-toast-bg-error: var(--color-red-100);
    --color-toast-bg-succes: var(--color-green-100);
    --color-toast-bg-warning: var(--color-orange-100);
    --color-toast-border-default: var(--color-border-brand);
    --color-toast-border-error: var(--color-border-error);
    --color-toast-border-succes: var(--color-border-success);
    --color-toast-border-warning: var(--color-icon-warning);
    --color-toast-icon-default: var(--color-icon-accent);
    --color-toast-icon-error: var(--color-icon-error);
    --color-toast-icon-succes: var(--color-icon-success);
    --color-toast-icon-warning: var(--color-icon-warning);
    --color-toast-text-default: var(--color-text-accent);
    --color-toast-text-error: var(--color-text-error);
    --color-toast-text-succes: var(--color-text-success);
    --color-toast-text-warning: var(--color-text-warning);

    --color-availability-in-stock: var(--color-text-success);
    --color-availability-out-of-stock: var(--color-text-error);

    --color-background-accent: var(--color-brand-400);
    --color-background-brand: var(--color-brand-800);
    --color-background-dark: var(--color-gray-900);
    --color-background-default: var(--color-base-white);
    --color-background-error: var(--color-red-500);
    --color-background-more: var(--color-gray-100);
    --color-background-most: var(--color-gray-200);
    --color-background-success: var(--color-green-500);
    --color-background-warning: var(--color-orange-500);
    --color-background-accent-less: var(--color-secondary-100);
    --color-background-accent-more: var(--color-brand-500);
    --color-background-brand-less: var(--color-brand-600);
    --color-background-success-more: var(--color-green-700);
    --color-background-warning-more: var(--color-orange-700);

    --color-border-active: var(--color-secondary-600);
    --color-border-brand: var(--color-brand-700);
    --color-border-default: var(--color-secondary-500);
    --color-border-disabled: var(--color-secondary-300);
    --color-border-error: var(--color-red-500);
    --color-border-less: var(--color-gray-400);
    --color-border-success: var(--color-green-500);

    --color-button-inverted-bg-active: var(--color-background-default);
    --color-button-inverted-bg-default: var(--color-background-default);
    --color-button-inverted-bg-disabled: var(--color-white-alpha-100);
    --color-button-inverted-bg-hovered: var(--color-background-default);
    --color-button-inverted-border-active: var(--color-gray-900);
    --color-button-inverted-border-default: var(--color-brand-700);
    --color-button-inverted-border-disabled: var(--color-secondary-300);
    --color-button-inverted-border-hovered: var(--color-secondary-600);
    --color-button-inverted-icon-active: var(--color-icon-default);
    --color-button-inverted-icon-default: var(--color-icon-accent);
    --color-button-inverted-icon-disabled: var(--color-secondary-200);
    --color-button-inverted-icon-hovered: var(--color-secondary-600);
    --color-button-inverted-text-active: var(--color-text-default);
    --color-button-inverted-text-default: var(--color-text-accent);
    --color-button-inverted-text-disabled: var(--color-secondary-200);
    --color-button-inverted-text-hovered: var(--color-secondary-600);
    --color-button-primary-bg-active: var(--color-primary-300);
    --color-button-primary-bg-default: var(--color-primary-300);
    --color-button-primary-bg-disabled: var(--color-primary-100);
    --color-button-primary-bg-hovered: var(--color-primary-200);
    --color-button-primary-border-active: var(--color-base-transparent);
    --color-button-primary-border-default: var(--color-base-transparent);
    --color-button-primary-border-disabled: var(--color-base-transparent);
    --color-button-primary-border-hovered: var(--color-base-transparent);
    --color-button-primary-icon-active: var(--color-icon-inverted);
    --color-button-primary-icon-default: var(--color-icon-inverted);
    --color-button-primary-icon-disabled: var(--color-icon-less);
    --color-button-primary-icon-hovered: var(--color-icon-inverted);
    --color-button-primary-text-active: var(--color-text-inverted);
    --color-button-primary-text-default: var(--color-text-inverted);
    --color-button-primary-text-disabled: var(--color-text-less);
    --color-button-primary-text-hovered: var(--color-text-inverted);
    --color-button-secondary-bg-active: var(--color-brand-700);
    --color-button-secondary-bg-default: var(--color-brand-700);
    --color-button-secondary-bg-disabled: var(--color-secondary-500);
    --color-button-secondary-bg-hovered: var(--color-brand-600);
    --color-button-secondary-border-active: var(--color-base-transparent);
    --color-button-secondary-border-default: var(--color-base-transparent);
    --color-button-secondary-border-disabled: var(--color-base-transparent);
    --color-button-secondary-border-hovered: var(--color-base-transparent);
    --color-button-secondary-icon-active: var(--color-icon-inverted);
    --color-button-secondary-icon-default: var(--color-icon-inverted);
    --color-button-secondary-icon-disabled: var(--color-secondary-200);
    --color-button-secondary-icon-hovered: var(--color-icon-inverted);
    --color-button-secondary-text-active: var(--color-text-inverted);
    --color-button-secondary-text-default: var(--color-text-inverted);
    --color-button-secondary-text-disabled: var(--color-secondary-200);
    --color-button-secondary-text-hovered: var(--color-text-inverted);
    --color-button-transparent-bg-active: var(--color-white-alpha-500);
    --color-button-transparent-bg-default: var(--color-base-transparent);
    --color-button-transparent-bg-disabled: var(--color-base-transparent);
    --color-button-transparent-bg-hovered: var(--color-white-alpha-700);
    --color-button-transparent-border-active: var(--color-base-white);
    --color-button-transparent-border-default: var(--color-base-white);
    --color-button-transparent-border-disabled: var(--color-white-alpha-300);
    --color-button-transparent-border-hovered: var(--color-base-white);
    --color-button-transparent-icon-active: var(--color-icon-inverted);
    --color-button-transparent-icon-default: var(--color-icon-inverted);
    --color-button-transparent-icon-disabled: var(--color-white-alpha-200);
    --color-button-transparent-icon-hovered: var(--color-icon-inverted);
    --color-button-transparent-text-active: var(--color-text-inverted);
    --color-button-transparent-text-default: var(--color-text-inverted);
    --color-button-transparent-text-disabled: var(--color-white-alpha-200);
    --color-button-transparent-text-hovered: var(--color-text-inverted);

    --color-fill-accent: var(--color-brand-400);
    --color-fill-brand: var(--color-brand-700);
    --color-fill-default: var(--color-base-white);
    --color-fill-error: var(--color-red-500);
    --color-fill-more: var(--color-gray-100);
    --color-fill-most: var(--color-gray-200);
    --color-fill-accent-less: var(--color-secondary-100);

    --color-footer-bg-dark: var(--color-background-brand);
    --color-footer-bg-light: var(--color-background-accent-less);

    --color-icon-accent: var(--color-text-accent);
    --color-icon-default: var(--color-text-default);
    --color-icon-error: var(--color-text-error);
    --color-icon-inverted: var(--color-text-inverted);
    --color-icon-less: var(--color-text-less);
    --color-icon-primary: var(--color-text-primary);
    --color-icon-success: var(--color-text-success);
    --color-icon-warning: var(--color-text-warning);
    --color-icon-accent-red: var(--color-red-500);
    --color-icon-accent-brand-less: var(--color-brand-500);

    --color-input-fill: var(--color-fill-brand);
    --color-input-bg-active: var(--color-background-default);
    --color-input-bg-default: var(--color-background-default);
    --color-input-bg-error: var(--color-background-default);
    --color-input-bg-hovered: var(--color-background-default);
    --color-input-border-active: var(--color-brand-700);
    --color-input-border-default: var(--color-border-default);
    --color-input-border-disabled: var(--color-border-disabled);
    --color-input-border-error: var(--color-border-error);
    --color-input-border-hovered: var(--color-border-active);
    --color-input-border-warning: var(--color-orange-500);
    --color-input-glow-active: var(--color-secondary-400);
    --color-input-glow-hovered: var(--color-secondary-100);
    --color-input-placeholder-active: var(--color-text-less);
    --color-input-placeholder-default: var(--color-text-less);
    --color-input-placeholder-disabled: var(--color-secondary-300);
    --color-input-placeholder-error: var(--color-text-less);
    --color-input-placeholder-hovered: var(--color-text-less);
    --color-input-required-star: var(--color-red-500);
    --color-input-text-active: var(--color-text-default);
    --color-input-text-default: var(--color-text-default);
    --color-input-text-disabled: var(--color-text-less);
    --color-input-text-error: var(--color-text-default);
    --color-input-text-hovered: var(--color-text-default);
    --color-input-text-warning: var(--color-secondary-800);
    --color-input-warning-message-bg: var(--color-orange-200);

    --color-link-active: var(--color-brand-900);
    --color-link-default: var(--color-text-accent);
    --color-link-disabled: var(--color-secondary-400);
    --color-link-hovered: var(--color-brand-800);
    --color-link-visited: var(--color-brand-900);
    --color-link-inverted-default: var(--color-text-inverted);
    --color-link-inverted-disabled: var(--color-text-disabled);
    --color-link-inverted-hovered: var(--color-white-alpha-100);

    --color-opening-status-closed: var(--color-text-error);
    --color-opening-status-open: var(--color-text-success);
    --color-opening-status-open-today: var(--color-text-warning);

    --color-price-before: var(--color-secondary-500);
    --color-price-default: var(--color-brand-700);
    --color-price-discounted: var(--color-red-500);

    --color-table-bg-contrast: var(--color-background-more);
    --color-table-bg-default: var(--color-base-white);
    --color-table-bg-header: var(--color-background-brand-less);

    --color-tag-bg-active: var(--color-secondary-500);
    --color-tag-bg-default: var(--color-secondary-100);
    --color-tag-bg-disabled: var(--color-secondary-300);
    --color-tag-bg-hovered: var(--color-secondary-500);
    --color-tag-border-active: var(--color-base-transparent);
    --color-tag-border-default: var(--color-base-transparent);
    --color-tag-border-disabled: var(--color-base-transparent);
    --color-tag-border-hovered: var(--color-base-transparent);
    --color-tag-text-active: var(--color-text-inverted);
    --color-tag-text-default: var(--color-text-default);
    --color-tag-text-disabled: var(--color-white-alpha-100);
    --color-tag-text-hovered: var(--color-text-inverted);

    --color-text-accent: var(--color-brand-700);
    --color-text-default: var(--color-gray-900);
    --color-text-disabled: var(--color-gray-800);
    --color-text-error: var(--color-red-500);
    --color-text-inverted: var(--color-base-white);
    --color-text-less: var(--color-secondary-500);
    --color-text-primary: var(--color-primary-500);
    --color-text-success: var(--color-green-500);
    --color-text-warning: var(--color-orange-500);
}
