@layer components {
    .user-text {
        ul {
            @apply ml-5 list-inside list-["•\0020"] space-y-2;

            li {
                @apply marker:text-base marker:text-current;
            }

            ul {
                @apply my-2 list-inside list-["◦\0020"] space-y-2;

                li {
                    @apply marker:text-base marker:text-current;
                }

                ul {
                    @apply list-inside list-["▪\0020"] space-y-2;

                    li {
                        @apply marker:text-base marker:text-current;
                    }
                }
            }
        }

        ol {
            @apply ml-5 list-inside list-decimal;

            ul {
                @apply my-2 space-y-2;

                ul {
                    @apply space-y-2;
                }
            }
        }

        img {
            @apply block h-auto rounded-sm;
        }

        iframe {
            @apply max-w-full;
        }

        iframe:not(.gjs-iframe) {
            @apply aspect-video w-full;
        }

        video {
            @apply w-full;
        }

        .gjs-table-custom {
            max-width: 100%;
            overflow-x: auto;
        }

        .gjs-button-link {
            @apply my-3 block h-fit w-fit cursor-pointer items-center justify-center gap-2 rounded-lg border-2 text-center leading-[18px] font-medium no-underline transition-all outline-none hover:no-underline;
            @apply border-button-primary-border-default bg-button-primary-bg-default !text-button-primary-text-default [&>div]:!text-button-primary-text-default px-3 py-[7px];
            @apply hover:border-button-primary-border-hovered hover:bg-button-primary-bg-hovered hover:text-button-primary-text-hovered;
        }

        table {
            @apply w-full;

            tr {
                @apply odd:bg-table-bg-contrast;
            }

            td,
            th {
                @apply p-[10px] text-base leading-6;
            }

            th {
                @apply text-text-default text-left leading-[26px] font-bold;
                @apply lg:text-xl;
            }

            &.secondary {
                @apply border-table-bg-default border;

                tr {
                    @apply first:bg-table-bg-contrast bg-[transparent] first:[&_td]:font-bold;
                }

                td {
                    @apply border-table-bg-default border text-left;
                }
            }
        }

        .row {
            @apply block w-full gap-3 py-3 lg:flex lg:flex-wrap;

            .column {
                @apply flex flex-1 flex-col py-3;
            }
        }

        .image-position-right,
        .button-link-position-right {
            @apply ml-auto;
        }

        .image-position-center,
        .button-link-position-center {
            @apply mx-auto;
        }

        .gjs-text-with-image {
            .gjs-text-with-image-inner {
                @apply flex flex-wrap items-start gap-5 lg:flex-nowrap;

                & img {
                    @apply !w-full shrink-0 lg:max-w-sm;
                }

                &.gjs-text-with-image-float-right {
                    & img {
                        @apply order-2;
                    }

                    & .text {
                        @apply order-1;
                    }
                }
            }
        }

        .grid {
            @apply grid grid-cols-12 gap-1 py-1;

            .grid__item {
                &.grid__item--1 {
                    @apply col-span-full;
                }

                &.grid__item--1-2 {
                    @apply col-span-6;
                }

                &.grid__item--1-3 {
                    @apply col-span-4;
                }

                &.grid__item--2-3 {
                    @apply col-span-8;
                }
            }
        }
    }
}
