.footer__newsletter {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 18px 0 24px;

    @media @query-lg {
        flex-direction: row;
        align-items: center;
        padding: 33px 0 26px;
    }

    &__heading {
        margin: 0 0 24px;
        flex: 1;
        line-height: 22px;

        @media @query-lg {
            margin: 0;
            padding-right: 20px;
            line-height: 30px;
        }

        br {
            display: none;

            @media @query-vl {
                display: block;
            }
        }
    }

    &__form {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;

        @media @query-lg {
            width: 400px;
        }

        @media @query-vl {
            width: 510px;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            margin-bottom: 6px;

            @media @query-lg {
                flex-direction: row;
            }
        }

        &__btn {
            margin-top: 12px;

            border-radius: @radius;

            @media @query-lg {
                margin: 0 0 auto 12px;
            }
        }
    }
}
