<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            body {
                line-height: 20px;
                font-size: 14px;
                font-family: 'Open Sans',Arial,Helvetica,sans-serif;
            }
        </style>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block html_body %}{% endblock %}
    </body>
</html>
