services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false

    Shopsys\FrontendApiBundle\:
        resource: '../../**/*{Facade,Factory,Mapper,Mutation,Query,Repository,Subscriber,Validator,Provider,Listener,Loader}.php'

    resolverMaps:
        namespace: Shopsys\FrontendApiBundle\
        resource: '../../**/*{Map}.php'
        tags:
            - { name: overblog_graphql.resolver_map, schema: default }

    Lcobucci\JWT\Configuration:
        factory: [ '@Shopsys\FrontendApiBundle\Model\Token\JwtConfigurationFactory', create ]

    Shopsys\FrameworkBundle\Model\Customer\User\CustomerUserLoginInformationProvider:
        alias: Shopsys\FrontendApiBundle\Model\Customer\User\CustomerUserLoginInformationProvider

    Shopsys\FrameworkBundle\Model\Security\LoginAdministratorAsUserUrlProvider:
        alias: Shopsys\FrontendApiBundle\Model\Security\LoginAdministratorAsUserUrlProvider

    Shopsys\FrontendApiBundle\Component\Domain\EnabledOnDomainChecker:
        arguments:
            $enabledDomainIds: '%shopsys.frontend_api.domains%'

    Shopsys\FrontendApiBundle\Component\ExpressionLanguage\DynamicPaginationComplexityExpressionFunction:
        tags: [ 'overblog_graphql.expression_function' ]

    Shopsys\FrontendApiBundle\Component\GqlContext\GqlContextInitializer: ~

    Shopsys\FrontendApiBundle\Controller\CustomerUserController:
        tags: [ 'controller.service_arguments' ]

    Shopsys\FrontendApiBundle\Controller\FrontendApiController:
        tags: [ 'controller.service_arguments' ]

    Shopsys\FrontendApiBundle\Controller\SocialNetworkController:
        tags: [ 'controller.service_arguments' ]

    Shopsys\FrontendApiBundle\Model\Error\ErrorHandlerListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 20 }

    Shopsys\FrontendApiBundle\Model\GraphqlConfigurator: ~

    Shopsys\FrontendApiBundle\Model\Logger\FrontendApiLogger:
        arguments:
            $logger: '@monolog.logger'
            $isValidationLoggedAsError: '%shopsys.frontend_api.validation_logged_as_error%'

    Shopsys\FrontendApiBundle\Model\Mutation\Login\LoginMutation:
        arguments:
            $loginRateLimiter: '@security.login_throttling.frontend_api.limiter'

    Shopsys\FrontendApiBundle\Model\Product\Filter\ProductFilterNormalizer: ~

    Shopsys\FrontendApiBundle\Model\Resolver\Advert\AdvertResolverMap:
        arguments:
            $categoriesBatchLoader: '@categories_batch_loader'
        tags:
            - { name: overblog_graphql.resolver_map, schema: default }

    Shopsys\FrontendApiBundle\Model\Resolver\Article\Search\ArticlesSearchResultsProvider:
        tags:
            - { name: 'shopsys.frontend_api.articles_search_results_provider', priority: 1 }

    Shopsys\FrontendApiBundle\Model\Resolver\Article\Search\ArticlesSearchResultsProviderResolver:
        arguments:
            $articlesSearchResultsProviders: !tagged 'shopsys.frontend_api.articles_search_results_provider'

    Shopsys\FrontendApiBundle\Model\Resolver\Brand\Search\BrandSearchResultsProvider:
        tags:
            - { name: 'shopsys.frontend_api.brands_search_results_provider', priority: 1 }

    Shopsys\FrontendApiBundle\Model\Resolver\Brand\Search\BrandSearchResultsProviderResolver:
        arguments:
            $brandSearchResultsProviders: !tagged 'shopsys.frontend_api.brands_search_results_provider'

    Shopsys\FrontendApiBundle\Model\Resolver\Category\Search\CategoriesSearchResultsProvider:
        tags:
            - { name: 'shopsys.frontend_api.categories_search_results_provider', priority: 1 }

    Shopsys\FrontendApiBundle\Model\Resolver\Category\Search\CategoriesSearchResultsProviderResolver:
        arguments:
            $categoriesSearchResultsProviders: !tagged 'shopsys.frontend_api.categories_search_results_provider'

    Shopsys\FrontendApiBundle\Model\Resolver\ConsumerUploadedFile\CustomerUploadedFileQuery:
        arguments:
            $customerUploadedFilesBatchLoader: '@customer_uploaded_files_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\AdvertImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\BlogArticleImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\BlogCategoryImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\ImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\ProductImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\SalesRepresentativeImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\SeoPageImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Image\StoreImagesQuery:
        arguments:
            $imagesBatchLoader: '@images_batch_loader'
            $firstImageBatchLoader: '@first_image_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Order\OrderItemResolverMap:
        arguments:
            $firstImageBatchLoader: '@first_image_batch_loader'
        tags:
            - { name: overblog_graphql.resolver_map, schema: default }

    Shopsys\FrontendApiBundle\Model\Resolver\Products\DataMapper\ProductArrayFieldMapper:
        arguments:
            $productsSellableByIdsBatchLoader: '@products_sellable_by_ids_batch_loader'
            $productsSellableCountByIdsBatchLoader: '@products_sellable_count_by_ids_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Products\DataMapper\ProductEntityFieldMapper:
        arguments:
            $productsSellableByIdsBatchLoader: '@products_sellable_by_ids_batch_loader'
            $productsSellableCountByIdsBatchLoader: '@products_sellable_count_by_ids_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Products\ProductFilesQuery:
        arguments:
            $filesBatchLoader: '@files_batch_loader'

    Shopsys\FrontendApiBundle\Model\Resolver\Products\Search\ProductSearchResultsProvider:
        tags:
            - { name: 'shopsys.frontend_api.products_search_results_provider', priority: 1 }

    Shopsys\FrontendApiBundle\Model\Resolver\Products\Search\ProductSearchResultsProviderResolver:
        arguments:
            $productSearchResultsProviders: !tagged 'shopsys.frontend_api.products_search_results_provider'

    Shopsys\FrontendApiBundle\Model\SocialNetwork\SocialNetworkConfigFactory:
        arguments:
            $socialNetworkLoginConfig: '%social_network_login_config%'

    Shopsys\FrontendApiBundle\Model\SocialNetwork\SocialNetworkFacade:
        arguments:
            $logger: '@monolog.logger.socialNetwork'

    Shopsys\FrontendApiBundle\Model\Token\TokenAuthenticator: ~

    Shopsys\FrontendApiBundle\Model\User\FrontendApiUserFactory: ~

    Shopsys\FrontendApiBundle\Model\User\FrontendApiUserFactoryInterface:
        alias: Shopsys\FrontendApiBundle\Model\User\FrontendApiUserFactory

    Shopsys\FrontendApiBundle\Model\User\FrontendApiUserProvider: ~

    Shopsys\FrontendApiBundle\Voter\:
        exclude: '../../Voter/Exception'
        resource: '../../Voter/'
        tags: [ 'security.voter' ]
