services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Shopsys\FrontendApiBundle\:
        resource: '../../**/*{Facade,Map,Mutation,Resolver}.php'

    Shopsys\FrontendApiBundle\Controller\FrontendApiController:
        tags: ['controller.service_arguments']

    Shopsys\FrontendApiBundle\Component\Domain\EnabledOnDomainChecker:
        arguments:
            $enabledDomainIds: '%shopsys.frontend_api.domains%'

    Shopsys\FrontendApiBundle\Model\Error\ErrorHandlerListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 20}

    Shopsys\FrontendApiBundle\Model\Token\TokenAuthenticator:  ~

    Shopsys\FrontendApiBundle\Model\User\FrontendApiCustomerUserProvider: ~

    Shopsys\FrontendApiBundle\Model\User\FrontendApiUserFactory: ~

    Shopsys\FrontendApiBundle\Model\User\FrontendApiUserFactoryInterface: '@Shopsys\FrontendApiBundle\Model\User\FrontendApiUserFactory'
