// adjust action bar appearance
.action-bar-bottom {
    z-index: 1019;

    @include media-breakpoint-up(lg) {
        margin-left: 15rem;
    }

    .action-bar-product_info {
        flex-basis: 100%;
        overflow: hidden;

        @include media-breakpoint-up(xl) {
            flex-basis: auto;
        }
    }

    .unsaved-changes-container {
        width: 100%;

        @include media-breakpoint-up(sm) {
            width: auto;
        }
    }

    .btn-list {
        width: 100%;
        justify-content: space-between;

        @include media-breakpoint-up(sm) {
            width: auto;
        }
    }
}

// force display of ribbon on main image (first image in list)
.js-file-upload .js-file-upload-file:first-of-type .main-image-ribbon {
    display: flex !important;
}

.file-upload-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.5rem);
    column-gap: 1rem;
}

// add margin to last card to ensure scroll navigation works properly when card height is too low
#product_form > .card:has(+ .action-bar-bottom) {
    margin-bottom: 10vh !important;

    @include media-breakpoint-up(xl) {
        margin-bottom: 20vh !important;
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 50vh !important;
    }
}

.min-h-0 {
    min-height: 0 !important;
}

.min-w-150 {
    min-width: 150px;
}

.min-w-250 {
    min-width: 250px;
}

.max-w-300 {
    max-width: 300px;
}

.white-space-normal {
    white-space: normal !important;
}

.link-disabled {
    opacity: .4;
    cursor: not-allowed;
    pointer-events: auto;
}
