// adjust action bar appearance
@include media-breakpoint-up(lg) {
    .action-bar-bottom {
        margin-left: 15rem;
    }
}

// force display of ribbon on main image (first image in list)
.js-file-upload .js-file-upload-file:first-of-type .main-image-ribbon {
    display: flex !important;
}

.file-upload-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.5rem);
    column-gap: 1rem;
}

// add margin to last card to ensure scroll navigation works properly when card height is too low
#product_form > .card:has(+ .action-bar-bottom) {
    @include media-breakpoint-up(xl) {
        margin-bottom: 20vh !important;
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 50vh !important;
    }
}

.min-w-150 {
    min-width: 150px;
}

.min-w-250 {
    min-width: 250px;
}

.max-w-300 {
    max-width: 300px;
}

.white-space-normal {
    white-space: normal !important;
}
