.form-check {
    margin: 0.25rem;
}

.form-check-input:not(:disabled):hover {
    border-color: var(--border-color-hovered);
    cursor: pointer;
}

.form-check-label:not(:has(+ .form-check-input:disabled)):hover {
    cursor: pointer;
}
