.form-check {
    margin: 0.25rem;
}

.form-check-input:not(:disabled):hover {
    border-color: var(--border-color-hovered);
    cursor: pointer;
}

.form-check-label:not(:has(+ .form-check-input:disabled)):hover {
    cursor: pointer;
}

.form-check-hoverable .form-check {
    border-radius: var(--tblr-border-radius);

    &:hover {
        background-color: var(--tblr-bg-surface-secondary);
    }
}

.modal-body .row>[class*="col-xl-"] {
    flex: 0 0 100%;
    max-width: 100%;
}

.product-picker-image-avatar img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}