@import '@tabler/core/scss/tabler';
@import 'tom-select/src/scss/tom-select.bootstrap5';
@import '@tabler/core/scss/vendor/tom-select';
@import '@melloware/coloris/dist/coloris.css';
@import '@tabler/core/scss/vendor/coloris';
@import 'nouislider/dist/nouislider.css';
@import '~flatpickr/dist/flatpickr.css';

@import 'form';
@import 'ckeditor';
@import 'custom';
@import 'icons';
@import 'tabler-overrides';
@import 'role-grid';
@import 'tree';
@import 'mailer-info';
@import 'toc';
@import 'tom-select';

// wrap long menu items in sidebar
.sidebar .dropdown-menu .dropdown-header,
.sidebar .dropdown-menu .dropdown-item {
    white-space: normal;
    gap: 0;
}

.page-body {
    padding-bottom: var(--page-padding-bottom);
}

.sidebar.navbar-nav {
    gap: 0.2rem;
    padding-bottom: var(--page-padding-bottom);
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-brand {
        justify-content: flex-start;
        padding: 1rem 1rem 0 1rem;
    }
}

.navbar-brand-image {
    height: 2rem;
}

@media (min-width: 992px) {
    .navbar-brand-image {
        height: 3rem;
    }
}

.modal-content > .btn-close {
    width: 2.5rem;
    height: 2.5rem;
}

.status {
    white-space: nowrap;
}
