@import "@tabler/core/scss/tabler";
@import "tom-select/src/scss/tom-select.bootstrap5";
@import "@tabler/core/scss/vendor/tom-select";
@import "@melloware/coloris/dist/coloris.css";
@import "@tabler/core/scss/vendor/coloris";
@import "nouislider/dist/nouislider.css";
@import "~flatpickr/dist/flatpickr.css";

@import "ckeditor";
@import "custom";
@import "icons";
@import "tabler-overrides";
@import "role-grid";
@import "tree";

// wrap long menu items in sidebar
.sidebar .dropdown-menu .dropdown-header, .sidebar .dropdown-menu .dropdown-item {
    white-space: normal;
}

.page-body {
    padding-bottom: var(--page-padding-bottom);
}

.sidebar.navbar-nav {
    gap: 0.2rem;
    padding-bottom: var(--page-padding-bottom);
}

.navbar-brand-image {
    height: 3rem;
}
