@import 'sidebar';

:root {
    --page-padding-bottom: 5rem;
    font-size: 18px;

    --tblr-primary: #2478e0;
}

// reduce blur of modal backdrop
.modal-blur {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

// fix disabled button in input group border color
.input-group {
    --tblr-btn-disabled-border-color: #{$border-color};
}

.inline-labeled-field__content {
    display: flex;
    align-items: center;

    > .form-control-plaintext {
        padding: 0;
        border: 0;
    }

    > .form-check {
        margin-bottom: 0;
    }
}

// make popover and tooltip wider
.popover {
    --tblr-popover-max-width: 30rem;
}

.tooltip {
    --tblr-tooltip-max-width: 36em;
}

// fix empty space on the left (https://github.com/tabler/tabler/issues/2271)
@include media-breakpoint-up(lg) {
    :host,
    :root {
        margin-left: 0;
    }
}

body {
    overflow-y: scroll;
}

// no arrows in number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

// fix validation cross position
.form-control.is-invalid,
.was-validated .form-control:invalid,
textarea.form-control.is-invalid {
    background-position: right calc(0.375em + 0.1875rem) center;
}

// visually distinguish readonly input
.form-control:read-only {
    opacity: 1;
    background-color: var(--tblr-bg-surface-secondary);
    color: var(--tblr-secondary);
}

// fix small icon alignment in table cells
.table td .icon-sm {
    vertical-align: text-bottom;
}

.table > :not(caption) > * > *,
.markdown > table > :not(caption) > * > * {
    border-right-width: var(--tblr-border-width);
}

.card-header {
    background-color: var(--tblr-gray-200);
}

.card-header-light {
    background-color: var(--tblr-gray-50);
}

.card-header-no-bg {
    background-color: transparent;
}

.card-footer-no-bg {
    background-color: transparent;
}

.fixed-alert {
    position: fixed;
    z-index: 1099;
    padding: 1.1rem;
}

.dropdown-toggle--with-badge {
    > .badge {
        margin-right: 10px;
    }

    &.btn-link:hover,
    &.btn-link:focus-visible {
        text-decoration: none;

        .dropdown-toggle__label {
            text-decoration: underline;
        }
    }
}

@media (min-width: 768px) {
    .fixed-alert {
        width: 500px;
        top: 40px;
        right: 40px;
    }
}

@media (max-width: 767px) {
    .fixed-alert {
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 0;
    }
}
