@in-grid-height: @input-height-small;

.in-grid-control {
    display: flex;
    flex-direction: column;

    font-size: 0;

    @media @query-lg {
        flex-direction: row;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 100%;

        color: @color-0;
        font-size: 12px;

        @media @query-lg {
            width: 30%;
        }

        &--paging {
            text-align: center;

            .window-content & {
                width: 38%;
            }
        }

        &--settings {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: right;

            @media @query-lg {
                width: 40%;
                flex-direction: column;
            }

            .window-content & {
                width: 42%;
            }
        }

        &--show {
            line-height: @in-grid-height;

            text-align: center;

            @media @query-lg {
                text-align: left;
            }

            .window-content & {
                width: 20%;
                line-height: @in-grid-height/2;
            }
        }

        &__go {
            float: right;
            display: block;
            text-align: center;

            @media @query-lg {
                margin-left: 40px;
                text-align: right;
            }

            &__text {
                line-height: @in-grid-height;
                display: inline-block;
                margin-right: 5px;
            }

            &__block {
                display: inline-block;
                width: 70px;
                margin-bottom: 3px;

                .input {
                    height: @in-grid-height;
                    line-height: @in-grid-height;

                    cursor: pointer;
                }
            }
        }
    }
}
