.in-iconic-link {
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
    position: relative;
    padding: 0 5px 0 20px;
    height: 22px;
    line-height: 22px;

    text-decoration: none;
    color: @color-primary;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 12px;

    &:hover {
        background: none;
        color: @color-base;
    }

    svg {
        position: absolute;
        left: -2px;

        font-size: 14px;
        color: @color-action;
    }

    &--add svg {
        color: @color-green;
    }
}
