@in-paging-item-size: @input-height-small;

.in-paging {
    .reset-ul();

    text-align: center;

    &__item {
        display: inline-block;
        vertical-align: top;
        margin: 0 1px 1px 0;

        a, strong, span {
            display: inline-block;
            vertical-align: middle;
            height: @in-paging-item-size;
            line-height: @in-paging-item-size;
            padding: 0 5px;

            text-align: center;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                color: @color-base;
                background: @color-f;
            }
        }

        a, strong {
            min-width: @in-paging-item-size;

            border: 1px solid @color-border-dark;
            border-radius: @radius;
        }

        strong {
            cursor: auto;
            background: @color-f;
        }

        svg {
            --rotation: 90deg;
            position: relative;
            top: 50%;
            transform:  translateY(-48%) rotate(var(--rotation));
        }

        &--next {
            svg {
                --rotation: -90deg;
            }
        }

    }
}
