// Default button
@btn-height: 48px;
@btn-padding-vertical: 10px;
@btn-padding-horizontal: 32px;
@btn-color: @color-f;
@btn-color-hover: @color-f;
@btn-bg: @color-add;
@btn-bg-hover: #dea700;
@btn-border-radius: @radius-medium;

.btn {
    width: auto;
    min-height: @btn-height;
    padding: (@btn-padding-vertical + 1) @btn-padding-horizontal @btn-padding-vertical;
    vertical-align: middle;
    display: inline-block;
    transition: @transition background, @transition color;
    text-align: center;
    line-height: 27px;

    border: 0;
    border-radius: @btn-border-radius;
    color: @btn-color;
    background-color: @btn-bg;
    cursor: pointer;
    text-decoration: none;
    font-size: @font-size;
    font-weight: 700;
    outline: 0;
    text-transform: uppercase;

    &:hover {
        color: @btn-color-hover;
        background-color: @btn-bg-hover;
        text-decoration: none;
    }
}

//// Modifications - color
.btn {
    @btn-primary-color: @color-f;
    @btn-primary-color-hover: @color-f;
    @btn-primary-bg: @color-primary;
    @btn-primary-bg-hover: darken(@color-primary, 5%);

    &--primary {
        color: @btn-primary-color;
        background-color: @btn-primary-bg;

        &:hover {
            color: @btn-primary-color-hover;
            background-color: @btn-primary-bg-hover;
        }
    }

    @btn-secondary-color: @color-base;
    @btn-secondary-color-hover: @color-base;
    @btn-secondary-bg: @color-add-light;
    @btn-secondary-bg-hover: @color-f;

    &--secondary {
        color: @btn-secondary-color;
        background-color: @btn-secondary-bg;

        &:hover {
            color: @btn-secondary-color-hover;
            background-color: @btn-secondary-bg-hover;
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: no-drop;
        pointer-events: none;
    }
}

//// Modifications - size
.btn {
    @btn-small-padding-vertical: 3px;
    @btn-small-padding-horizontal: 17px;
    @btn-small-height: 30px;

    &--small {
        padding: (@btn-small-padding-vertical + 1) @btn-small-padding-horizontal @btn-small-padding-vertical;
        min-height: @btn-small-height;
        line-height: 23px;

        font-size: @font-size-small;
    }

    &--big-radius {
        border-radius: @radius;
    }
}

// Button with removed styles
.btn-no-style {
    padding: 0;
    min-height: 0;

    border: 0;
    background: none;
    outline: 0;
    color: @color-0;

    &:hover {
        background: none;
        color: @color-0;
    }
}

// Button with icon
.btn-with-icon {
    position: relative;

    &:before {
        &:extend(.svg-arrow:before);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: @transition;

        font-family: svg;
        font-style: normal;
        font-weight: 400;
    }

    &--right {
        padding-right: 47px;

        &.btn--small {
            padding-right: 32px;

            &:before {
                right: 11px;
            }
        }

        &:before {
            right: 18px;
        }
    }

    &--left {
        padding-left: 47px;

        &.btn--small {
            padding-left: 32px;

            &:before {
                left: 11px;
            }
        }

        &:before {
            left: 18px;
        }
    }
}
