// Default button
@btn-height: 48px;
@btn-padding-vertical: 10px;
@btn-padding-horizontal: 32px;
@btn-color: @color-f;
@btn-color-hover: @color-f;
@btn-bg: @color-add;
@btn-bg-hover: #dea700;
@btn-border-radius: @radius-medium;

.btn {
    width: auto;
    min-height: @btn-height;
    padding: (@btn-padding-vertical + 1) @btn-padding-horizontal @btn-padding-vertical;
    vertical-align: middle;
    display: inline-block;
    transition: @transition background, @transition color;
    text-align: center;

    border: 0;
    border-radius: @btn-border-radius;
    color: @btn-color;
    background: @btn-bg;
    cursor: pointer;
    text-decoration: none;
    font-size: @font-size;
    font-weight: 700;
    outline: 0;
    text-transform: uppercase;

    &:hover {
        color: @btn-color-hover;
        background: @btn-bg-hover;
        text-decoration: none;
    }
}

//// Modifications - color
.btn {
    // call to action button
    @btn-success-color: @color-base;
    @btn-success-color-hover: @color-base;
    @btn-success-bg: @color-add-light;
    @btn-success-bg-hover: @color-f;

    &--secondary {
        color: @btn-success-color;
        background: @btn-success-bg;

        &:hover {
            color: @btn-success-color-hover;
            background: @btn-success-bg-hover;
        }
    }

    &--disabled {
        opacity: 0.5;
        cursor: no-drop;
        pointer-events: none;

        @media @query-md {
            opacity: 0.2;
        }
    }
}

//// Modifications - size
.btn {
    @btn-small-padding-vertical: 3px;
    @btn-small-padding-horizontal: 16px;
    @btn-small-height: 30px;

    &--small {
        padding: (@btn-small-padding-vertical + 1) @btn-small-padding-horizontal @btn-small-padding-vertical;
        min-height: @btn-small-height;

        font-size: @font-size-small;
    }
}

// Button with icon
.btn--with-icon {
    display: inline-flex;
    align-items: center;

    &:before {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        speak: none;
        text-decoration: inherit;
        text-transform: none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "svg";
    }

    &--right {
        &:before {
            order: 1;
            margin-left: 5px;
        }
    }

    &--left {
        &:before {
            margin-right: 5px;
        }
    }
}

// Button with removed styles
.btn-no-style {
    padding: 0;
    min-height: 0;

    border: 0;
    background: none;
    outline: 0;

    &:hover {
        background: none;
    }
}
