@input-height: 54px;
@input-textarea-height: @input-height * 3;
@input-padding-vertical: 20px;
@input-padding-horizontal: 10px;

@select-arrow-width: @input-height;
@select-inner-padding: @input-padding-horizontal;

@input-border-width: 2px;
@input-border-color: @color-border-secondary;
@input-error-border-color: @color-alert;
@input-background: @color-f;
@input-error-background: @color-f;
@input-border-radius: @radius;
@input-label-font-size-small: 11px;
@input-label-active-position-top: 9px;

.input {
    width: 100%;
    height: @input-height;
    line-height: normal;
    padding: @input-padding-vertical @input-padding-horizontal 0 @input-padding-horizontal;

    border: @input-border-width solid @input-border-color;
    color: @color-base;
    background-color: @input-background;
    border-radius: @input-border-radius;
    font-size: @font-size;
    // iOS ugly appearance fix
    -webkit-appearance: none !important;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown { 
        & ~ .input-label {
            cursor: text;
            top: 50%;
            transform: translateY(-50%);

            font-size: @font-size-small;
        }
        
        & ~ .input-label--fixed {
            top: @input-label-active-position-top;
            transform: none;

            font-size: @input-label-font-size-small;
        }
    }

    &--textarea {
        padding: (@input-padding-vertical + 5) @input-padding-horizontal;
        height: @input-textarea-height;

        &:placeholder-shown ~ .input-label {
            transform: translateY(0);
            top: @input-padding-vertical;
        }
    }

    &--show-placeholder {
        &::placeholder {
            color: @color-base;
        }
    }

    &:focus {
        outline: 0;

        ~ .input-label {
            top: @input-label-active-position-top;
            transform: none;

            font-size: @input-label-font-size-small;
        }
    }

    .form-input-error & ,
    &.form-input-error {
        padding-right: 25px;

        box-shadow: none;
        background-color: @input-error-background;
        border-color: @input-error-border-color;
    }

    .form-input-disabled &,
    &.form-input-disabled,
    &[readonly] {
        opacity: 0.5;
        pointer-events: none;
        cursor: no-drop;

        ~ .input-label {
            opacity: 0.5;
            pointer-events: none;
            cursor: no-drop;
        }
    }
}

.input-no-style {
    width: auto;

    border: 0;
    background: none;
    color: @color-base;
    box-shadow: none;

    &:focus {
        outline: 0;
    }
}

.input-label {
    position: absolute;
    top: @input-label-active-position-top;
    left: @input-padding-horizontal + @input-border-width;
    display: block;
    transition: @transition;
    z-index: @z-index-above + 1;
    line-height: 14px;

    color: #555764;
    font-size: @input-label-font-size-small;

    &--checkbox {
        top: 0;
        left: 0;
    }
}


input[type="date"]::-webkit-input-placeholder,
input[type="timedate"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: vertical;
}

html input:-webkit-autofill,
html input:-webkit-autofill:hover,
html input:-webkit-autofill:focus,
html textarea:-webkit-autofill,
html textarea:-webkit-autofill:hover,
html textarea:-webkit-autofill:focus,
html select:-webkit-autofill,
html select:-webkit-autofill:hover,
html select:-webkit-autofill:focus,
html input:-internal-autofill-selected {
    box-shadow: 0 0 0 1000px @input-background inset !important;
    background: @input-background !important;
}

select {
    width: 100%;
    padding: 0 @select-arrow-width 0 @select-inner-padding;
    line-height: @input-height - 2 * @input-border-width;
    height: @input-height;
    
    border-radius: @radius-small;
    border: 1px solid @color-border;
    font-size: 13px;
    background-color: @input-background;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
