@input-height: 54px;
@input-textarea-height: @input-height * 3;
@input-width: 210px;
@input-padding-horizontal: 10px;

@input-error-border-color: @color-red;
@input-background: #f0f3f4;
@input-border-color: @input-background;
@input-disabled-background: #eff1f2;
@input-border-radius: 4px;

@input-label-font-size: 15px;
@input-label-color: @color-base-lighter;

.input {
    width: @input-width;
    max-width: 100%;
    height: @input-height;
    line-height: normal;
    padding: 0 @input-padding-horizontal;

    border: 2px solid @input-border-color;
    color: @color-primary;
    background: @input-background;
    border-radius: @input-border-radius;
    caret-color: @color-add-secondary;
    font-size: 16px;
    // iOS ugly appearance fix
    -webkit-appearance: none !important;

    @media @query-md {
        font-size: 14px;
    }

    &--textarea {
        height: @input-textarea-height;
        line-height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &:focus {
        outline: 0;
    }

    .form-input-error & ,
    &.form-input-error {
        padding-right: 25px;

        border-color: @input-error-border-color;
        box-shadow: none;

        &:focus {
            border-color: @input-error-border-color;
        }
    }

    .form-input-disabled &,
    &.form-input-disabled {
        background: @input-disabled-background;
    }

    &-drop {
        position: relative;
        width: 60px;
        min-width: 60px;

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-right: -2px;

            background: @input-background;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            border-right: 1px solid darken(@input-background, 4%);
            outline: 0;
            cursor: pointer;

            &:focus + .input-drop__list {
                opacity: 1;
                transform: scale(1);
            }
        }

        &__arrow {
            position: relative;
            left: 7px;
            top: 1px;

            font-size: 8px;
        }

        &__list {
            position: absolute;
            left: 50%;
            width: 100%;
            padding: 0;
            margin: 0 0 0 -30px;
            z-index: 10;

            list-style: none;
            opacity: 0;
            transform: scale(0);
            transition: all @transition;
            transform-origin: center top;

            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                margin: 0;

                background: @input-background;
                border-bottom-left-radius: @radius;
                border-bottom-right-radius: @radius;
                box-shadow: 0 5px 5px 0 rgba(@color-0, .1);
                cursor: pointer;
            }
        }
    }
}

.input-no-style {
    width: auto;

    border: 0;
    background: none;
    color: @color-base;
    box-shadow: none;

    &:focus {
        outline: 0;
    }
}

label {
    font-size: @input-label-font-size;
    color: @input-label-color;
}


input[type="date"]::-webkit-input-placeholder,
input[type="timedate"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='checkbox'], input[type='radio'] {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: vertical;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px @input-background inset;
}
