
@list-articles-main-item-gap: 87px;

.list-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__main {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-left: -@list-articles-main-item-gap / 2;

        @media @query-xl {
            margin-left: -@list-articles-main-item-gap;
        }
    }

    &__aside {
        width: 346px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;

        @media @query-xl {
            margin-left: 103px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 11px;

        &:last-child {
            margin-bottom: 0;
        }

        .list-articles__main & {
            width: 50%;
            flex-direction: column;
            padding-left: @list-articles-main-item-gap / 2;
            margin-bottom: 0;

            @media @query-xl {
                padding-left: @list-articles-main-item-gap;
            }
        }

        &__image {
            height: 0;
            width: 148px;
            padding-bottom: 23.8%;

            .list-articles__main & {
                width: 100%;
                margin-bottom: 10px;
                padding-bottom: 54%;
            }

            &__link {
                display: flex;
                
                font-size: 0;

                .list-articles__main & {
                    width: 100%;
                }

                img {
                    border-radius: @radius-medium;
                    max-height: 82px;

                    .list-articles__main & {
                        max-height: 179px;
                    }
                }
            }
        }

        &__content {
            flex: 1;
            margin-left: 20px;
        
            .list-articles__main & {
                margin-left: 0;
            }
        }

        &__name {
            display: block;
            line-height: 20px;
            margin-bottom: 6px;

            font-size: @font-size;
            font-weight: 700;
            color: @color-f;
            text-decoration: none;

            &:hover {
                color: @color-f;
            }

            .list-articles__main & {
                line-height: 24px;

                font-size: 18px;
            }
        }

        &__desc {
            line-height: 21px;

            color: @color-f;
        }
    }
}
