@list-articles-gutter-width: 30px;
@list-articles-image-height: 147px;
@list-articles-image-height-vl: 220px;
@list-articles-image-border-radius: 4px;
@list-articles-item-name-font-size: 18px;
@list-articles-item-desc-color: rgba(21, 22, 30, 0.7);

.list-articles {
    display: flex;
    flex-wrap: wrap;

    &__item {
        .reset-ul();
        padding-right: @list-articles-gutter-width / 2;

        @media @query-lg {
            padding-left: @list-articles-gutter-width;
            padding-right: 0;
        }

        &__link {
            display: block;
        }

        &__link--image {
            position: relative;
            width: 100%;
            height: @list-articles-image-height;
            margin-bottom: 1rem;
            overflow: hidden;

            border-radius: @list-articles-image-border-radius;

            @media @query-vl {
                height: @list-articles-image-height-vl;
            }
        }

        &__tags {
            margin-bottom: 1.25rem;
        }

        &__name {
            margin-bottom: 0.75rem;

            font-family: @font-tertiary;
            font-size: @list-articles-item-name-font-size;
            text-transform: none;
        }

        &__desc {
            margin-bottom: 0.75rem;

            color: @list-articles-item-desc-color;
            -webkit-font-smoothing: antialiased;
        }

        &__image {
            .image-object-fit-cover();
        }

        &--grid {
            width: 50%;
            padding: 0 @list-articles-gutter-width / 2;
            margin-bottom: @list-articles-gutter-width;

            @media @query-lg {
                width: calc(100% / 3);
                margin-bottom: 45px;
            }

            .list-articles__item__image {
                margin-bottom: 1rem;
            }

            .list-tags {
                margin-bottom: 1rem;
            }
        }
    }

    &--hp {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        @media @query-md {
            overflow-x: visible;
            overflow-y: visible;
        }

        @media @query-lg {
            // IE11 FIX - only partial support of flexbox
            width: 67%;
        }

        .list-articles__item {
            flex-grow: 1;
            flex-basis: 0;
            min-width: 80vw;

            @media @query-md {
                display: flex;
                flex-direction: column;
                min-width: 50%;
                // IE11 Fix - only partial support of flexbox
                max-width: 467px;

                &__desc {
                    flex-grow: 1;
                }
            }
        }
    }

    &--grid {
        padding-left: 0;
    }
}
