@list-categories-item-gap: 24px;
@list-categories-item-gap-mobile: 10px;
@list-categories-item-mobile-width: 96px;

.list-categories {
    .reset-ul();
    display: flex;
    padding: 0 @web-padding;
    margin: 0 -@web-padding 0 (-@web-padding - @list-categories-item-gap-mobile);
    overflow: hidden;

    &.slick-initialized {
        display: block;
        margin-left: -@web-padding;
    }

    @media @query-lg {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 -@list-categories-item-gap / 2 -@list-categories-item-gap;
    }

    .slick-track {
        display: flex;
        flex-direction: row;
    }

    &__item {
        margin-left: @list-categories-item-gap-mobile;
        width: @list-categories-item-mobile-width;
        min-width: @list-categories-item-mobile-width;
        text-align: center;

        @media @query-lg {
            width: 50%;
            min-width: auto;
            text-align: left;
            padding-left: @list-categories-item-gap;
            margin-bottom: @list-categories-item-gap / 2;
            margin-left: 0;
        }

        @media @query-vl {
            width: @calc-base / 3;
        }

        @media @query-xl {
            width: 25%;
        }

        &__block {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 10px 6px;

            background-color: @color-grey-very-light;
            border-radius: @radius;
            text-decoration: none;
            transition: @transition;

            @media @query-lg {
                flex-direction: row;
                padding: 10px 12px;
            }

            &:hover {
                background-color: darken(@color-grey-very-light, 5%);
                text-decoration: none;
            }
        }

        &__image {
            position: relative;
            width: 64px;
            height: 48px;
            margin-bottom: 6px;

            @media @query-lg {
                margin-bottom: 0;
            }

            img {
                .center-image();
                mix-blend-mode: multiply;
                max-height: 100%;
            }
        }

        &__name {
            flex: 1;
            margin: 0;
            line-height: 18px;

            font-size: @font-size-small;

            @media @query-lg {
                padding-left: 10px;
            }
        }

        &__count {
            color: @color-base-lighter;
            font-size: 11px;
        }
    }
}
