@list-categories-item-min-height: 85px;
@list-categories-item-margin: 12px 10px;
@list-categories-item-margin-md: 10px 15px;

@list-cagegories-item-gap: 20px;
@list-cagegories-item-gap-md: 31px;

@list-categories-item-width: calc((100% / 2) - @list-cagegories-item-gap);
@list-categories-item-width-md: calc((100% / 4) - @list-cagegories-item-gap-md);
@list-categories-item-width-xl: calc((100% / 6) - @list-cagegories-item-gap-md);

@list-categories-item-detail-width-mobile: calc((100% / 3) - @list-cagegories-item-gap);

@list-categories-item-image-max-width: 120px;
@list-categories-item-image-max-height: 100px;
@list-categories-item-image-bottom-pos: 15px;
@list-categories-item-detail-image-max-width-mobile: 80px;
@list-categories-item-detail-image-max-height-mobile: 60px;

@list-categories-item-image-wrap-min-height: 110px;
@list-categories-item-image-wrap-min-height-lg: 160px;
@list-categories-item-detailimage-wrap-min-height-mobile: 70px;

@list-categories-item-name-font-size: 15px;
@list-categories-item-name-spacing: 10px 0;
@list-categories-item-name-spacing-lg: 18px 13px;

@list-categories-item-bg-width: 100%;
@list-categories-item-bg-height: 70px;
@list-categories-item-bg-hover-transform: scaleX(1.1) scaleY(1.2);

.list-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px @box-component-bottom-spacing;
    padding: 0;

    list-style: none;

    &-wrap {
        &--centered {
            .list-categories {
                @media @query-md {
                    justify-content: center;
                }
            }
        }
    }

    &__item {
        width: @list-categories-item-width;
        margin: @list-categories-item-margin;

        text-align: center;

        @media @query-md {
            margin: @list-categories-item-margin-md;
            width: @list-categories-item-width-md;
        }

        @media @query-xl {
            width: @list-categories-item-width-xl;
        }

        &:hover .list-categories__item__image__wrap::before {
            transform: @list-categories-item-bg-hover-transform;
            box-shadow: @hover-shadow;
        }

        &--special {
            .list-categories__item__image {
                display: block;
                bottom: 0;
                max-width: 90%;
                max-height: none;

                @media @query-vl {
                    max-width: none;
                }

                &__wrap::before {
                    background-color: #eef9f5;
                }
            }
        }

        &__block {
            display: block;
            width: 100%;
            min-height: @list-categories-item-min-height;

            text-decoration: none;
        }

        &__image__wrap {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            min-height: @list-categories-item-image-wrap-min-height;
            max-height: @list-categories-item-image-wrap-min-height;

            @media @query-lg {
                min-height: @list-categories-item-image-wrap-min-height-lg;
                max-height: @list-categories-item-image-wrap-min-height-lg;
            }

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: @list-categories-item-bg-width;
                height: @list-categories-item-bg-height;
                z-index: 1;
                content: "";

                border-radius: @radius;
                transition: transform @transition, box-shadow @transition;
                transform-origin: center bottom;
                background-color: @color-light;
            }
        }

        &__image {
            position: relative;
            bottom: @list-categories-item-image-bottom-pos;
            max-height: @list-categories-item-image-max-height;
            max-width: @list-categories-item-image-max-width;
            z-index: 2;

            @media @query-lg {
                max-height: 130px;
                max-width: 100%;
            }

            &.image-noimage {
                max-height: 120px;
            }
        }

        &__title {
            margin: 0;
            padding: @list-categories-item-name-spacing;

            font-family: @font-quartenary;
            font-size: @list-categories-item-name-font-size;
            text-transform: none;

            @media @query-lg {
                padding: @list-categories-item-name-spacing-lg;
            }
        }
    }

    &--detail {
        justify-content: center;

        @media @query-mobile {
            .list-categories__item {
                width: @list-categories-item-detail-width-mobile;

                &__image__wrap {
                    min-height: @list-categories-item-detailimage-wrap-min-height-mobile;
                }

                &__image {
                    max-height: @list-categories-item-detail-image-max-height-mobile;
                    max-width: @list-categories-item-detail-image-max-width-mobile;

                    &__wrap::before {
                        height: @list-categories-item-bg-height / 2;
                    }
                }
            }
        }
    }
}
