@list-categories-item-min-height: 84px;
@list-categories-item-margin: 12px 10px;
@list-categories-item-margin-md: 10px 15px;

@list-cagegories-item-gap: 20px;
@list-cagegories-item-gap-md: 31px;

@list-categories-item-detail-width-mobile: calc((100% / 3) - @list-cagegories-item-gap);

@list-categories-item-image-max-width: 90px;

@list-categories-item-name-font-size: 15px;
@list-categories-item-name-spacing: 10px 0;
@list-categories-item-name-spacing-lg: 18px 13px;

@list-categories-item-bg-width: 100%;
@list-categories-item-bg-height: 70px;
@list-categories-item-bg-hover-transform: scaleX(1.1) scaleY(1.2);

.list-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 2rem -10px;
    padding: 0;

    list-style: none;

    @media @query-md {
        margin-left: -25px;
    }

    &-wrap {
        &--centered {
            .list-categories {
                @media @query-md {
                    justify-content: center;
                }
            }
        }
    }

    &__item {
        margin: 0 0 10px 10px;
        width: calc(50% - 10px);
        text-align: center;
        border-radius: 6px;
        border: 2px solid @color-border-lighter;

        @media @query-md {
            margin: 0 0 25px 0;
            padding-left: 25px;
            text-align: left;
            width: 50%;

            border-radius: 0;
            border: 0;
        }

        @media @query-vl {
            width: calc(100% / 3);
        }

        @media screen and (min-width: 1280px) {
            width: 25%;
        }

        &__block {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-height: @list-categories-item-min-height;
            padding: 0 8px;

            text-decoration: none;

            @media @query-md {
                flex-direction: row;
                border-radius: 6px;
                border: 2px solid @color-border-lighter;
                transition: box-shadow @transition;
                padding: 0 12px 0 0;
                height: @list-categories-item-min-height;

                &:hover {
                    box-shadow: 0 5px 10px 0 @color-border-lighter;
                }
            }
        }

        &__image__wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 105px;
            min-width: 105px;
            height: 80px;
            min-height: 80px;
        }

        &__image {
            display: block;
            position: relative;
            max-width: 100%;
            max-height: 80px;
            z-index: 2;
        }

        &__title {
            margin: 0;
            padding: @list-categories-item-name-spacing;

            font-family: @font-quartenary;
            font-size: @list-categories-item-name-font-size;
            text-transform: none;

            @media @query-lg {
                padding: @list-categories-item-name-spacing-lg;
            }

            @media @query-xl {
                margin: 0 0 0 1rem;
            }
        }
    }

    &--detail {
        justify-content: center;
    }
}
