.list-pagination {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 18px;

    @media @query-lg {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 53px;
    }

    &__button {
        margin-bottom: 20px;

        @media @query-lg {
            margin-bottom: 0;
        }
    }
}
