@list-products-grid-item-width: 210px;
@list-products-grid-item-width-md: 240px;
@list-products-grid-sales-width-mobile: 240px;
@list-products-grid-img-height: 200px;

.list-products-grid {
    display: flex;
    width: 100%;

    @media @query-mobile {
        padding-left: 50px;
    }

    &.list-products-grid--sales {
        @media @query-mobile {
            padding-left: 0;

            .list-products__item {
                width: @list-products-grid-sales-width-mobile;
                min-width: @list-products-grid-sales-width-mobile;
                max-width: @list-products-grid-sales-width-mobile;
            }
        }
    }

    .list-products {
        flex-wrap: nowrap;
        min-width: 100%;
        margin-bottom: 0;
        margin-left: 0;

        &__item {
            width: @list-products-grid-item-width;
            min-width: @list-products-grid-item-width;
            max-width: @list-products-grid-item-width;
            margin-bottom: 0;
            padding-left: 20px;

            outline: 0;
            opacity: 0.5;
            transition: all .5s ease-in-out;

            @media @query-md {
                width: @list-products-grid-item-width-md;
                min-width: @list-products-grid-item-width-md;
                max-width: @list-products-grid-item-width-md;
            }

            .list-products__item__block {
                pointer-events: none;
                outline: 0;
            }

            &.slick-active {
                @media @query-md {
                    opacity: 1;
                }

                .list-products__item__block {
                    pointer-events: auto;
                }
            }

            &.slick-current {
                @media @query-mobile {
                    opacity: 1;
                }
            }
        }

        &__item__in {
            min-height: 315px;
            padding: 10px;
        }

        &__item__title {
            display: block;
            padding-right: 10px;

            &__prefix {
                display: block;
            }
        }

        &__item__info__availability {
            display: none;
        }

        &__item__image {
            min-height: 200px;
            max-height: 200px;

            .image-product-list {
                max-height: 180px;
            }
        }

        &__item__info__price__item--main {
            font-size: 18px;
            line-height: 1;
            font-family: @font-quartenary;
        }

        &__item__info__price__item--high-price {
            line-height: 1;
        }
    }
}
