.list-products-grid {
    display: flex;
    width: 100%;

    @media @query-mobile {
        padding-left: 50px;
    }

    .list-products {
        flex-wrap: nowrap;
        min-width: 100%;
        margin-bottom: 0;
        margin-left: 0;

        &__item {
            width: 210px;
            min-width: 210px;
            max-width: 210px;
            margin-bottom: 0;
            padding-left: 20px;

            opacity: 0.5;
            transition: all .5s ease-in-out;

            @media @query-md {
                width: 240px;
                min-width: 240px;
                max-width: 240px;
            }

            .list-products__item__block {
                pointer-events: none;
                outline: 0;
            }

            &.slick-active {
                @media @query-md {
                    opacity: 1;
                }

                .list-products__item__block {
                    pointer-events: auto;
                }
            }

            &.slick-current {
                @media @query-mobile {
                    opacity: 1;
                }
            }
        }

        &__item__in {
            min-height: 315px;
            padding: 10px;
        }

        &__item__title {
            padding-right: 10px;
            justify-content: flex-start;
        }

        &__item__info__availability {
            display: none;
        }

        &__item__image {
            max-height: 200px;
        }

        &__item__info__price__item--main {
            font-size: 18px;
            line-height: 1;
            font-family: @font-quartenary;
        }

        &__item__info__price__item--high-price {
            line-height: 1;
        }
    }
}
