@list-products-line-item-gap: 20px;
@list-products-line-item-mobile-width: 186px;
@list-products-line-item-postion-width: 48px;
@list-products-line-item-image-width: 68px;

.list-products-line {
    &__list {
        .reset-ul();
        display: flex;
        overflow: hidden;
        margin-left: -@list-products-line-item-gap;

        &.slick-initialized {
            display: block;
            margin-left: 0;
        }

        @media @query-lg {
            margin-left: 0;
            flex-direction: column;
        }
    }

    .slick-track {
        display: flex;
        flex-direction: row;
    }

    &__item {
        width: @list-products-line-item-mobile-width;
        min-width: @list-products-line-item-mobile-width;
        display: block;
        margin-left: @list-products-line-item-gap;

        @media @query-lg {
            width: 100%;
            min-width: auto;
            margin-left: 0;
            margin-bottom: @list-products-line-item-gap;
        }

        &__block {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            padding-left: 48px;

            text-decoration: none;
            color: @color-base;
            background: transparent;

            @media @query-lg {
                padding-left: 0;
            }

            &:hover {
                text-decoration: none;
                color: @color-base;
            }
        }

        &__position {
            position: absolute;
            left: 0;
            top: 20px;
            line-height: 24px;

            font-size: 36px;
            font-weight: 700;
            color: @color-light;

            @media @query-lg {
                position: static;
                width: @list-products-line-item-postion-width;
            }
        }

        &__image {
            position: relative;
            width: @list-products-line-item-image-width;
            height: 60px;
            margin-right: @list-products-line-item-gap;
            margin-bottom: 10px;

            @media @query-lg {
                margin-bottom: 0;
            }

            img {
                .center-image();
            }
        }

        &__content {
            width: 100%;

            @media @query-lg {
                flex: 1;
                width: auto;
                padding-right: @list-products-line-item-gap;
            }
        }

        &__title {
            margin: 0 0 11px 0;
            line-height: 21px;

            font-size: @font-size-small;
            font-weight: 400;

            @media @query-lg {
                margin: 0 0 2px 0;

                font-size: @font-size;
            }
        }

        &__price {
            display: flex;
            flex-direction: column;
            margin-bottom: 3px;
            text-align: right;

            @media @query-lg {
                margin-bottom: 0;
            }
        }
    }

    &__more {
        display: none;

        @media @query-lg {
            display: block;
            text-align: center;
        }
    }
}
