@list-products-item-padding: 14px;
@list-products-item-image-height: 172px;
@list-products-item-image-vertical-gap: 20px;
@list-products-item-gap: 8px;
@list-products-item-hover-shadow: 0 0 15px 0 rgba(0,0,0,.2);
@list-products-item-content-vertical-gap: 6px;

@list-products-item-variants-arrow-size: 15px;
@list-products-item-variants-height: 70px;
@list-products-item-variants-min-width: 232px;
@list-products-item-variants-image-width: 49px;

@list-products-item-count-sm: 2;
@list-products-item-count-md: 2;
@list-products-item-count-lg: 3;
@list-products-item-count-xl: 3;

.list-products {
    .reset-ul();
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -@list-products-item-gap;
    margin-bottom: 20px;

    &__item {
        width: calc(~"@{calc-base}/@{list-products-item-count-sm}");
        padding-left: @list-products-item-gap;
        margin-bottom: 24px;

        @media @query-md {
            width: calc(~"@{calc-base}/@{list-products-item-count-md}");
        }

        @media @query-lg {
            width: calc(~"@{calc-base}/@{list-products-item-count-lg}");

            border-bottom: 1px solid @color-border;
        }

        @media @query-xl {
            width: calc(~"@{calc-base}/@{list-products-item-count-xl}");
        }

        &__in {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: left;

            border-radius: @radius;
            color: @color-base;

            &:hover {
                @media @query-lg {
                    z-index: @z-index-above;

                    box-shadow: @list-products-item-hover-shadow;
                    background-color: @color-f;
                    border-radius: @radius;

                    img {
                        mix-blend-mode: multiply;
                    }
                }
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            height: @list-products-item-image-height + (@list-products-item-image-vertical-gap * 2);
            position: relative;
            width: 100%;
            padding: @list-products-item-image-vertical-gap @list-products-item-padding;

            font-size: 0;

            img {
                .center-image();
                mix-blend-mode: multiply;
            }
        }

        &__title {
            display: block;
            padding: 0 @list-products-item-padding @list-products-item-content-vertical-gap;

            color: @color-0;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: @color-0;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            padding: 0 @list-products-item-padding;
            margin-bottom: 20px;
            margin-top: auto;

            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            &__price {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                padding-bottom: @list-products-item-content-vertical-gap;

                &__main {
                    margin-right: 8px;

                    font-weight: 700;
                    font-size: 18px;
                    color: @color-0;

                    &--colored {
                        color: @color-primary;
                    }
                }

                &__old {
                    font-weight: 400;
                    font-size: @font-size-small;
                    color: @color-base-lighter;
                    text-decoration: line-through;
                }
            }

            &__availability {
                padding-bottom: @list-products-item-content-vertical-gap;

                font-size: 13px;
                color: #77b731;
            }
        }

        &__hover {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: calc(100% - 15px);

            .list-products__item__in:hover & {
                @media @query-lg {
                    display: block;
                }
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 20px;

                box-shadow: @list-products-item-hover-shadow;
                border-radius: 0 0 @radius @radius;
            }

            &__wrap {
                position: relative;
                padding: 0 10px 10px;
                z-index: @z-index-above;

                background-color: @color-f;
                border-radius: 0 0 @radius @radius;

                &__in {
                    padding: 10px;

                    background-color: @color-grey-very-light;
                    border-radius: @radius;
                }
            }
        }
    }
}
