@list-simple-dot-size: 5px;

.list-simple {
    .reset-ul();

    &__item {
        position: relative;
        padding-left: 15px;
        line-height: 21px;
        margin-bottom: 12px;
        
        font-size: @font-size-mobile;

        @media @query-lg {
            font-size: @font-size;
        }

        .list-simple--numbers & {
            counter-increment: list-simple-numbers-counter;
            padding-left: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: @list-simple-dot-size;
            height: @list-simple-dot-size;

            background-color: @color-primary;
            border-radius: 100%;

            .list-simple--numbers & {
                content: counter(list-simple-numbers-counter) ". ";
                width: auto;
                height: auto;
                top: 0;

                background-color: transparent;
                font-weight: 700;
            }
        }
    }
}
