.box-cart-empty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 2rem 0;
    margin: 1rem 0;
    text-align: center;

    background-color: @color-light;

    @media @query-sm {
        text-align: left;
    }

    @media @query-md {
        flex-direction: row;
        align-items: center;
        padding: 0 3rem;
        margin: 3rem 0;
        height: 230px;
    }

    @media @query-vl {
        padding-right: 4rem;
    }

    @media @query-xl {
        padding-right: 7rem;
    }

    &__heading {
        font-family: @font-tertiary;
        font-size: 28px;
        text-transform: none;

        @media @query-lg {
            padding-right: 1.5rem;

            font-size: 30px;
        }
    }

    &__figure {
        align-self: center;
        margin-top: 2rem;

        @media @query-sm {
            align-self: flex-end;
            margin-top: 0;
        }
    }

    &__image {
        display: block;
        max-height: 150px;

        @media @query-md {
            max-height: none;
        }
    }

    &__btn {
        font-family: @font-quartenary;
        font-size: 15px;
        letter-spacing: 0;
        text-transform: none;
    }
}
