@box-list-description-line-height: 1.8;
@box-list-top-description-line-height: 1.6;
@box-list-description-lines: 2;
@box-list-description-max-width: 930px;

@box-list-producer-image-space-around: 10px;

.box-list {
    display: flex;
    flex-direction: column;

    @media @query-lg {
        flex-direction: row;
    }

    &__panel {
        width: 100%;

        @media @query-lg {
            width: @web-panel-width;
            padding-right: @web-panel-gap;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__description {
        &__text {
            max-width: @box-list-description-max-width;
            margin: 3rem 0;

            line-height: @box-list-description-line-height;

            &--small {
                overflow: hidden;
            }

            &--top {
                display: none;
                margin: 0 auto 2rem;

                line-height: @box-list-top-description-line-height;

                @media @query-md {
                    display: block;
                }
            }
        }

        &__more {
            text-align: center;

            &__btn {
                display: none;

                &.is-visible {
                    display: inline-block;
                }

                &__icon {
                    line-height: 0;
                }
            }
        }
    }

    &__producer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: @margin-gap;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            align-self: center;
            min-width: 170px;
            padding-right: 20px;
        }

        &__text {
            align-self: flex-start;

            @media @query-md {
                align-self: center;
            }
        }
    }
}
