@box-list-description-line-height: 1.8;
@box-list-description-lines: 2;

@box-list-producer-image-space-around: 10px;

.box-list {
    display: flex;
    flex-direction: column;

    @media @query-lg {
        flex-direction: row;
    }

    &__panel {
        width: 100%;

        @media @query-lg {
            width: @web-panel-width;
            padding-right: @web-panel-gap;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__description {
        &__text {
            max-width: 930px;
            margin: 3rem 0;

            line-height: @box-list-description-line-height;

            &--small {
                overflow: hidden;
                height: @box-list-description-line-height * @box-list-description-lines;
            }
        }

        &__more {
            text-align: center;

            &__btn {
                display: none;
            }
        }
    }

    &__producer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: @margin-gap;

        @media @query-md {
            flex-direction: row;
        }

        &__image {
            align-self: center;
            min-width: 170px;
            padding-right: 20px;
        }

        &__text {
            align-self: flex-start;

            @media @query-md {
                align-self: center;
            }
        }
    }

    &-pagination {
        // TODO: Odmazat - ciste udelane pro testera, aby ve strankovani videl aktivni polozky (jsou bile dle navrhu)
        // Resime celou tu sekci v ramci vice ukolu a ty kategorie (i s podbarvenim) se budou resit v jinem ukolu nez
        // strankovani. Jakmile to promerguju az to bude, tak tohle pujde pryc.
        padding: 0.5rem;
        background-color: #dae1e4;

        @media @query-xl {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__item {
            padding: 0.75rem;
            @media @query-xl {
                padding: 1rem;
            }
        }
    }
}
