.box-order-type {
    .clearfix();

    &__item {
        float: left;
        padding: 5px 10px;

        border-top-left-radius: @radius;
        border-top-right-radius: @radius;

        @media @query-md {
            padding: 15px 18px;

            font-size: @font-size;
        }

        @media @query-vl {
            padding: 20px 25px;
        }

        &.active {
            position: relative;

            background: @color-light-secondary;
            color: @color-base;
            text-decoration: none;
            font-family: @font-quartenary;

            &::before,
            &::after {
                position: absolute;
                bottom: -11px;
                width: 22px;
                height: 22px;
                z-index: 1;
                content: '';

                background-color: inherit;
            }

            &::before {
                left: -1px;
                transform: rotate(-45deg);
            }

            &::after {
                right: -1px;
                transform: rotate(45deg);
            }
        }
    }
}
