.box-order-type {
    .clearfix();
    width: 100%;

    @media @query-vl {
        width: auto;
    }

    &__item {
        position: relative;
        display: block;
        padding: 8px 12px;
        margin-bottom: 6px;

        border-top-left-radius: @radius;
        border-top-right-radius: @radius;

        &:last-child {
            margin-bottom: 0;
        }

        @media @query-md {
            padding: 15px 18px;

            font-size: @font-size;
        }

        @media @query-lg {
            float: left;
            margin-bottom: 0;
        }

        @media @query-vl {
            padding: 20px 25px;
        }

        &.active {
            background: @color-light-secondary;
            color: @color-base;
            text-decoration: none;
            font-family: @font-quartenary;

            @media @query-lg {
                &::before,
                &::after {
                    position: absolute;
                    bottom: -11px;
                    width: 22px;
                    height: 22px;
                    z-index: 1;
                    content: '';

                    background-color: inherit;
                }

                &::before {
                    left: -1px;
                    transform: rotate(-45deg);
                }

                &::after {
                    right: -1px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
