@in-paging-item-width: 40px;
@in-paging-item-height: 50px;
@in-paging-item-margin: 0 0.25rem;
@in-paging-item-font-size: 15px;
@in-paging-item-arrow-bg: @color-f;
@in-paging-item-active-bg: @color-f;
@in-paging-item-icon-font-size: 24px;
@in-paging-item-separator-font-size: 24px;
@in-paging-item-inactive-opacity: 0.5;

.in-paging {
    &__control {
        display: flex;
        justify-content: center;

        text-align: center;

        @media @query-lg {
            justify-content: flex-start;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: @in-paging-item-width;
            height: @in-paging-item-height;
            margin: @in-paging-item-margin;

            border-radius: @radius;
            font-family: @font-quartenary;
            font-size: @in-paging-item-font-size;
            text-decoration: underline;
            color: @color-primary;

            @media @query-md {
                flex-grow: 0;
            }

            &:hover {
                background-color: @color-f;
                text-decoration: none;
            }

            &--num {
                &--active {
                    background-color: @in-paging-item-active-bg;
                    text-decoration: none;
                }
            }

            &--arrow {
                order: 1;

                background-color: @in-paging-item-arrow-bg;
                text-decoration: none;

                &--prev {
                    transform: scaleX(-1);
                }

                &--inactive {
                    opacity: @in-paging-item-inactive-opacity;
                }
            }

            &--separate {
                text-decoration: none;
            }

            &__icon {
                position: relative;
                top: 2px;

                font-size: @in-paging-item-icon-font-size;
            }

            &__separate {
                display: block;
                position: relative;
                top: -7px;

                font-size: @in-paging-item-separator-font-size;
            }
        }
    }
}
