.table-cart-preview {
    width: 100%;

    &__row {
        width: 100%;
    }

    &__cell {
        line-height: 18px;
        padding: 6px 0;
        vertical-align: baseline;

        font-size: @font-size-small;

        &--price {
            font-size: @font-size;
            text-align: right;
        }

        &__total-price {
            font-size: 24px;
            color: @color-primary;
        }

        &__image {
            display: inline-block;
            vertical-align: bottom;
            height: 18px;
            margin-left: 5px;

            img {
                max-height: 100%;
            }
        }
    }
}
