@table-cart-row-vertical-gap: 20px;
@table-cart-row-mobile-gap: 11px;
@table-cart-cell-gap: 15px;
@table-cart-cell-image-width: 93px;

.table-cart {
    border: 1px solid @color-border;
    border-bottom: 0;

    @media @query-lg {
        border: 0;
    }

    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: @table-cart-row-mobile-gap;

        border-bottom: 1px solid @color-border;

        @media @query-lg {
            padding: @table-cart-row-vertical-gap 0;
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        padding-right: @table-cart-cell-gap;

        &--image {
            width: @table-cart-cell-image-width;
            margin-bottom: @table-cart-row-vertical-gap;

            @media @query-vl {
                margin-bottom: 0;
            }
        }

        &--info {
            flex-direction: column;
            align-items: flex-start;
            width: calc(~"100% - @{table-cart-cell-image-width}");
            margin-bottom: @table-cart-row-vertical-gap;
            padding-right: 30px;

            @media @query-vl {
                flex-direction: row;
                align-items: center;
                flex: 1;
                margin-bottom: 0;
                padding-right: @table-cart-cell-gap;
            }
        }

        &--spinbox {
            width: 120px;
            padding-right: 0;

            @media @query-vl {
                width: 150px;
                padding-right: @table-cart-cell-gap;
            }
        }

        &--price-unit {
            margin-left: auto;
            padding-right: 0;

            @media @query-vl {
                width: 136px;
                padding-right: @table-cart-cell-gap;
                margin-left: 0;
            }
        }

        &--price {
            width: 136px;
            margin-left: auto;
            justify-content: flex-end;
            padding-right: 0;

            @media @query-vl {
                margin-left: 0;
                padding-right: @table-cart-cell-gap;
            }
        }

        &--action {
            position: absolute;
            top: @table-cart-row-mobile-gap;
            right: @table-cart-row-mobile-gap;
            padding-right: 0;

            @media @query-lg {
                top: @table-cart-cell-gap;
                right: 0;
            }

            @media @query-vl {
                position: static;
            }
        }

        &__image {
            height: 63px;
        }

        &__name {
            height: 100%;

            @media @query-vl {
                padding-right: @table-cart-cell-gap;
                width: 270px;
            }

            &__title {
                line-height: 18px;
                text-transform: uppercase;

                color: @color-0;
                font-size: @font-size-small;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: @color-0;
                }
            }

            &__catnum {
                line-height: 19px;

                font-size: 13px;
                color: @color-base-lighter;
            }
        }

        &__availability {
            flex: 1;
            text-align: left;

            font-weight: 700;
            font-size: 13px;

            @media @query-vl {
                text-align: center;
            }

            &__text {
                font-weight: 400;

                @media @query-vl {
                    display: block;
                }
            }
        }

        &__price {
            font-size: @font-size-small;
            color: @color-base-lighter;

            &--sale, &--action {
                color: @color-price-sale;
            }
        }

        &__price-main {
            font-size: @font-size;
            color: @color-price-sale;

            &--sale, &--action {
                color: @color-price-sale;
                font-weight: 700;
            }
        }

        &__remove {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;

            cursor: pointer;
            background-color: @color-light-secondary;
            color: @color-base-lighter;
            border-radius: 50%;
            font-size: 7px;
            transition: all 0.2s cubic-bezier(0.8, 0.2, 0.48, 1);
            text-decoration: none;

            &:hover {
                background-color: darken(@color-light-secondary, 3%);
                color: @color-base-lighter;
                text-decoration: none;
            }
        }
    }
}
