framework:
    messenger:
        buses:
            messenger.bus.default:
                middleware:
                    - 'Shopsys\FrameworkBundle\Component\Messenger\DelayedEnvelope\DelayEnvelopeMiddleware'
        failure_transport: failed
        reset_on_message: true

        routing:
            Shopsys\FrameworkBundle\Model\Product\Recalculation\ProductRecalculationPriorityRegularMessage: product_recalculation_priority_regular
            Shopsys\FrameworkBundle\Model\Product\Recalculation\ProductRecalculationPriorityHighMessage: product_recalculation_priority_high
            Shopsys\FrameworkBundle\Model\Product\Recalculation\DispatchAllProductsMessage: product_recalculation_priority_regular
            Shopsys\FrameworkBundle\Model\Order\Messenger\PlacedOrderMessage: placed_order_transport
            Symfony\Component\Mailer\Messenger\SendEmailMessage: send_email_transport
        transports:
            failed: 'doctrine://default?queue_name=failed'
            product_recalculation_priority_regular:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    vhost: '%env(MESSENGER_TRANSPORT_VHOST)%'
                    exchange:
                        name: product_recalculation_priority_regular
                        type: direct
                    queues:
                        product_recalculation_priority_regular: ~
            product_recalculation_priority_high:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    vhost: '%env(MESSENGER_TRANSPORT_VHOST)%'
                    exchange:
                        name: product_recalculation_priority_high
                        type: direct
                    queues:
                        product_recalculation_priority_high: ~
            placed_order_transport:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    vhost: '%env(MESSENGER_TRANSPORT_VHOST)%'
                    exchange:
                        name: placed_order_exchange
                        type: direct
                    queues:
                        placed_orders: ~
                retry_strategy:
                    max_retries: 5
                    delay: 60000
                    multiplier: 5
            send_email_transport:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    vhost: '%env(MESSENGER_TRANSPORT_VHOST)%'
                    exchange:
                        name: send_email_exchange
                        type: direct
                    queues:
                        send_email: ~
