@import "./footer-newsletter";
@import "./footer-wrap";
@import "./footer-bottom";

.footer {
    position: relative;

    &__copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__text {
            display: flex;
            align-items: center;
            margin: 0;
            
            color: @color-base-lighter;
            font-size: 13px;
        }
        
        &__logo {
            display: flex;
            width: 77px;
            margin-left: 7px;
        }
    }
}
