@footer-block-socials-border-color: #4f505c;
@footer-block-langs-link-gap: 60px;
@footer-block-langs-link-gap-bottom: 10px;
@footer-toggle-drop-icon-size: 8px;

// Footer block (footer with menu and contacts)
.footer__block {
    @media @query-vl {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        @media @query-md {
            display: flex;
            justify-content: space-between;
        }

        @media @query-vl {
            flex: 1;
        }

        &__item {
            margin-bottom: 1.5rem;

            @media @query-md {
                flex-grow: 1;
                padding-left: 1.5rem;
                margin-bottom: 0;
            }

            @media @query-xl {
                padding-left: 3rem;
            }
        }
    }

    &__contact {
        @media @query-vl {
            width: 27%;
        }
    }

    &__heading {
        color: @color-f;
        text-transform: uppercase;

        &--toggle {
            @media @query-md {
                pointer-events: none;
            }

            .svg {
                display: inline-block;
                position: relative;
                left: 3px;

                @media @query-md {
                    display: none;
                }

                &::before {
                    font-size: @footer-toggle-drop-icon-size;
                }
            }

            &.active .svg {
                transform: rotate(180deg);
            }
        }

        &--inner {
            @media @query-mobile-xs {
                margin-top: 25px;
            }
        }

        &--inline-xs {
            @media @query-mobile-xs {
                display: inline-block;
                vertical-align: middle;
                margin: 0 1.5rem 0 0;
            }
        }
    }

    &__label {
        display: inline-block;
        vertical-align: middle;

        font-size: 15px;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        list-style: none;

        &--bottom-spacing {
            margin-bottom: 2rem;
        }

        &--top-spacing {
            margin-top: 2rem;
        }

        &__item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            display: block;
            margin-bottom: 18px;

            font-size: @font-size-small;
            color: @color-base-lighter;
            text-decoration: none;

            &:hover {
                color: @color-base-lighter;
            }
        }
    }

    &__socials {
        display: flex;
        overflow: hidden;
        height: 92px;
        margin-bottom: 24px;

        border: 2px solid @footer-block-socials-border-color;
        border-radius: 6px;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: @calc-base / 3;

            border-left: 2px solid @footer-block-socials-border-color;

            &:first-child {
                border-left: 0;
            }
        }
    }

    &__langs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -@footer-block-langs-link-gap;
        margin-bottom: -@footer-block-langs-link-gap-bottom;
        
        &__link {
            display: flex;
            align-items: center;
            padding-left: @footer-block-langs-link-gap;
            margin-bottom: @footer-block-langs-link-gap-bottom;

            &:hover {
                text-decoration: none;

                .footer__block__langs__text {
                    text-decoration: underline;
                }    
            }
        }

        &__text {
            margin-left: 10px;

            color: @color-base-lighter;
            font-size: @font-size-small;
        }
    }

    &__toggle {
        display: none;

        @media @query-md {
            display: block;
        }
    }
}
