@footer-block-socials-border-color: #4f505c;
@footer-block-menu-item-border-color: #606476;
@footer-block-menu-item-gap: 20px;
@footer-block-langs-link-gap: 60px;
@footer-block-langs-link-gap-bottom: 10px;

// Footer block (footer with menu and contacts)
.footer__block {
    margin-bottom: 50px;

    @media @query-vl {
        display: flex;
        margin-bottom: 95px;
    }

    &__menu {
        margin: 0 -@web-padding 30px;

        @media @query-lg {
            display: flex;
            margin-bottom: 40px;
            margin-left: -@footer-block-menu-item-gap;
        }

        @media @query-vl {
            flex: 1;
            margin-bottom: 0;
        }

        &__item {
            padding: 0 @web-padding;

            border-top: 2px solid @footer-block-menu-item-border-color;

            &:last-child {
                border-bottom: 2px solid @footer-block-menu-item-border-color;

                @media @query-lg {
                    border-bottom: 0;
                }
            }

            @media @query-lg {
                width: 25%;
                padding-left: @footer-block-menu-item-gap;

                border-top: 0;
            }
        }
    }

    &__list {
        .reset-ul();

        &__item {
            margin-bottom: 5px;

            @media @query-lg {
                margin-bottom: 18px;
            }

            &:last-child {
                margin-bottom: 20px;

                @media @query-lg {
                    margin-bottom: 0;
                }
            }
        }

        &__link {
            display: block;

            font-size: @font-size-small;
            color: @color-base-lighter;
            text-decoration: none;

            &:hover {
                color: @color-base-lighter;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        @media @query-lg {
            align-items: center;
        }

        @media @query-vl {
            width: 27%;
            padding-left: @footer-block-menu-item-gap;
            align-items: flex-start;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 20px 0;

        cursor: pointer;
        color: @color-f;
        text-transform: uppercase;

        @media @query-lg {
            padding: 0;
            margin-bottom: 24px;
            pointer-events: none;
        }

        &--socials {
            display: none;

            @media @query-lg {
                display: block;
            }
        }

        .svg {
            font-size: 20px;

            @media @query-lg {
                display: none;
            }
        }

        &.active .svg {
            transform: rotate(180deg);
        }
    }

    &__toggle {
        display: none;

        @media @query-lg {
            display: block;
        }
    }

    &__socials {
        display: none;
        overflow: hidden;
        height: 92px;
        width: 100%;
        max-width: 400px;
        margin-bottom: 24px;

        border: 2px solid @footer-block-socials-border-color;
        border-radius: 6px;

        @media @query-lg {
            display: flex;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: @calc-base / 3;

            border-left: 2px solid @footer-block-socials-border-color;

            &:first-child {
                border-left: 0;
            }
        }
    }

    &__langs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -@footer-block-langs-link-gap + 20px;
        margin-bottom: -@footer-block-langs-link-gap-bottom;

        @media @query-lg {
            margin-left: -@footer-block-langs-link-gap;
        }
        
        &__link {
            display: flex;
            align-items: center;
            padding-left: @footer-block-langs-link-gap - 20px;
            margin-bottom: @footer-block-langs-link-gap-bottom;

            @media @query-lg {
                padding-left: @footer-block-langs-link-gap;
            }

            &:hover {
                text-decoration: none;

                .footer__block__langs__text {
                    text-decoration: underline;
                }    
            }
        }

        &__text {
            margin-left: 10px;

            color: @color-base-lighter;
            font-size: @font-size-small;
        }
    }
}
