@footer-newsletter-gap: 10.5rem 1rem 1.5rem;
@footer-newsletter-gap-md: 6rem 1.5rem 2rem;
@footer-newsletter-gap-lg: 2rem 3rem;
@footer-newsletter-button-width: 150px;

// newsletter
@footer-newsletter-form-width: 600px;

@footer-newsletter-image-width: 240px;
@footer-newsletter-image-width-md: 360px;
@footer-newsletter-image-height-md: 265px;

.footer__newsletter {
    position: relative;
    padding: @footer-newsletter-gap;
    margin: 1.5rem 0 3rem;

    background-color: @color-light;

    @media @query-md {
        margin-top: 0;
        padding: @footer-newsletter-gap-md;
    }

    @media @query-lg {
        padding: @footer-newsletter-gap-lg;
    }

    &__img {
        position: absolute;
        right: 0;
        top: -18px;
        width: @footer-newsletter-image-width;

        image-rendering: -webkit-optimize-contrast;

        @media @query-md {
            width: @footer-newsletter-image-width-md;
            height: @footer-newsletter-image-height-md;
        }

        @media @query-vl {
            top: -24px;
        }
    }

    &__heading {
        position: relative;
        max-width: 400px;
        margin-bottom: 1.5rem;
        z-index: 1;

        text-transform: none;

        @media @query-vl {
            max-width: 550px;
        }
    }

    &__input {
        width: 100%;
    }

    &__text {
        @media @query-lg {
            flex: 1;
            padding-right: 20px;

            p {
                line-height: 18px;
            }
        }
    }

    &__form {
        position: relative;
        z-index: 1;

        @media @query-lg {
            width: 60%;
        }

        @media @query-vl {
            width: @footer-newsletter-form-width;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.75rem;
            margin-bottom: 5px;

            border-radius: @radius;
            background-color: @color-f;

            @media @query-lg {
                text-align: right;
            }

            @media @query-vl {
                min-width: 600px;
            }
        }

        &__in {
            position: relative;
            width: 100%;
        }

        &__input {
            width: 100%;
            height: 38px;

            background-color: @color-f;
            border-color: transparent;
        }

        &__btn {
            // TODO: Should have icon, i'll do it, after designer send his icons.
            @media @query-mobile {
                min-width: 50px;

                text-indent: -9999px;
            }
        }

        .form-description {
            margin-top: 12px;

            font-size: 12px;
        }
    }

    .form-error {
        position: absolute;
        top: 50%;
        margin-top: -14px;
        right: 10px;

        &--choice {
            margin-top: -10px;
            right: -20px;
        }
    }

    input[type=checkbox].css-checkbox + .css-checkbox__image {
        margin-top: 0.5rem;

        font-size: 12px;
        color: #8d8f93;
    }

    .form-choice__label__link {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
