@header-mobile-button-size: 50px;
@header-mobile-button-border: 1px solid #e7ebed;
@header-mobile-button-border-radius: 5px;
@header-mobile-button-font-size: 33px;
@header-mobile-button-search-bg: #f0f3f4;
@header-mobile-button-dropdown-position: @web-header-mobile-dropdown-position;

@header-padding: 15px 0;
@header-padding-vl: 5px 0;

@query-header-vl-custom: ~"(min-width: 1300px)";

@header-middle-width-lg: 280px;
@header-middle-width-vl: 300px;
@header-middle-width-vl-custom: 480px;


.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: @header-padding;

    @media screen and (max-width: 992px) {
        padding-bottom: 75px;
    }

    @media @query-mobile {
        padding-bottom: 50px;
    }

    @media @query-vl {
        padding: @header-padding-vl;
    }

    &__logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-right: 8px;

        @media @query-lg {
            padding-right: 20px;
            margin-right: 0;
        }

        @media screen and (min-width: 769px) and (max-width: 992px) {
            flex-grow: 2;
        }
    }

    &__middle {
        @media @query-lg {
            width: @header-middle-width-lg;
            margin-right: 1rem;
        }

        @media screen and (max-width: 992px) {
            position: absolute;
            left: 0;
            bottom: 15px;
            width: 100%;

            .search__form__input {
                width: 100%;
            }
        }

        @media @query-mobile {
            bottom: 0;
        }

        @media @query-vl {
            width: @header-middle-width-vl;
        }

        @media @query-header-vl-custom {
            width: @header-middle-width-vl-custom;
        }
    }

    &__cart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 4px;

        @media @query-lg {
            margin-left: 0;
            padding-left: 10px;
            min-width: 180px;
        }

        @media @query-vl {
            padding-left: 20px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__mobile-button {
        display: none;

        @media @query-tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @header-mobile-button-size;
            height: @header-mobile-button-size;
            margin-left: 4px;

            border: @header-mobile-button-border;
            border-radius: @header-mobile-button-border-radius;
            outline: 0;
            cursor: pointer;
            font-size: @header-mobile-button-font-size;

            @media @query-lg {
                display: none;
            }

            &--menu {
                position: relative;
                order: 2;
            }

            &--login {
                font-size: 24px;
            }

            &__in {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: @transition color;

                color: @color-base;
                text-decoration: none;

                &.active {
                    color: @color-primary;
                    text-decoration: none;

                    & + .header__mobile-button__placeholder {
                        transform: scale(1);
                        opacity: 1;
                        visibility: visible;

                        .header__mobile-button__placeholder__line--left {
                            transform: rotate(-45deg);
                        }

                        .header__mobile-button__placeholder__line--right {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            .svg {
                display: flex;

                color: @color-primary;
            }

            &__menu {
                display: none;
                position: absolute;
                top: @header-mobile-button-dropdown-position;
                left: -@web-padding;
                right: -@web-padding;
                z-index: 10;

                background: @color-f;
                border-top: 1px solid @color-border;
                box-shadow: 0 10px 15px rgba(0,0,0, 0.2);

                a {
                    display: block;
                    padding: 3px 10px;

                    border-bottom: 1px solid @color-border;
                    text-decoration: none;
                }
            }
        }

        &__placeholder {
            display: none;

            @media @query-mobile {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 101;

                opacity: 0;
                visibility: hidden;
                transform: scale(0.5);
                background-color: @color-primary;
                border-radius: @radius;
                transition: all @transition;

                &::after {
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    width: 0;
                    height: 0;
                    content: '';
                    transform: translateX(-50%);

                    border-style: solid;
                    border-width: 8px 6px 0 6px;
                    border-color: @color-primary transparent transparent transparent;
                }
            }

            &__line {
                @media @query-mobile {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 24px;
                    height: 2px;
                    margin-left: -12px;

                    background-color: @color-f;
                    transition: all @transition;
                }
            }
        }
    }

    &--cart {
        @media @query-mobile {
            padding-bottom: 0;
        }

        .header__logo {
            max-width: none;
        }

        .header__button {
            display: none;

            @media @query-lg {
                display: block;
            }
        }

        @media @query-xl {
            .menu-iconic__item__link {
                padding-right: 0;
            }
        }
    }
}
