@header-mobile-button-size: 40px;

@header-item-gap-small: 20px;
@header-item-gap: 32px;

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 11px;

    @media @query-lg {
        padding: 15px 0 0;
    }

    @media @query-vl {
        padding: 23px 0 16px;
    }

    &__logo {
        order: 1;
        flex: 1;
        display: flex;
        margin-right: auto;

        @media @query-lg {
            align-self: flex-end;
        }

        @media @query-vl {
            flex: none;
            margin-right: @header-item-gap-small;
        }

        @media @query-xl {
            margin-right: @header-item-gap;
        }
    }

    &__info-box {
        order: 2;
        margin-left: auto;
        margin-right: @header-item-gap;
    }

    &__middle {
        width: 100%;
        order: 6;
        margin-top: 11px;

        @media @query-lg {
            order: 4;
            margin-top: 20px;
        }

        @media @query-vl {
            order: 2;
            max-width: 400px;
            flex: 1;
            margin-top: 0;
            margin-left: auto;
            margin-right: @header-item-gap-small;
        }

        @media @query-xl {
            flex: none;
            margin-right: @header-item-gap;
        }
    }

    &__links {
        order: 2;
        display: flex;

        @media @query-lg {
            margin-right: @header-item-gap-small;
            margin-left: auto;
        }

        @media @query-vl {
            order: 3;
            margin-left: 0;
        }

        @media @query-xl {
            margin-right: @header-item-gap;
        }
    }

    &__cart {
        order: 3;
        position: relative;
        display: flex;

        @media @query-vl {
            order: 4;
        }

        .in-overlay {
            position: absolute !important;

            &__in {
                border-radius: @radius;
            }
        }

        .cart.in-overlay {
            position: relative !important;
        }
    }

    &__mobile-button {
        display: none;

        @media @query-tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @header-mobile-button-size;
            height: @header-mobile-button-size;
            margin-left: 4px;

            outline: 0;
            cursor: pointer;
            font-size: 18px;

            &--menu {
                width: auto;
                order: 4;
                margin-left: 16px;
            }

            &--login {
                order: 2;
            }

            &__in {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: @transition color;
                width: 100%;
                height: 100%;

                color: @color-f;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: @color-f;
                }
            }

            &__menu {
                &__item {
                    display: block;
                    padding: 20px 30px 18px 30px;

                    border-bottom: 1px solid @color-border;
                    font-weight: 700;
                    text-decoration: none;
                    font-size: @font-size;
                    text-transform: uppercase;

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }

        @media @query-lg {
            display: none;
        }
    }

    &--cart {
        padding: 8px 0;

        @media @query-lg {
            padding: 23px 0;
        }

        .header__links {
            margin-right: 0;
        }

        .header__logo {
            align-self: center;
        }
    }
}
