@header-mobile-button-size: 40px;
@header-mobile-button-dropdown-position: 75px;
@header-padding: 15px;
@header-mobile-button-icon-size: 18px;

@header-item-gap-small: 20px;
@header-item-gap: 32px;

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0 11px;

    @media @query-lg {
        padding: @header-padding 0 0;
    }

    @media @query-vl {
        padding: 23px 0 16px;
    }

    &__logo {
        order: 1;
        flex: 1;
        display: flex;
        margin-right: auto;

        @media @query-lg {
            align-self: flex-end;
        }

        @media @query-vl {
            flex: none;
            margin-right: @header-item-gap-small;
        }

        @media @query-xl {
            margin-right: @header-item-gap;
        }
    }

    &__middle {
        width: 100%;
        order: 6;
        margin-top: 11px;

        @media @query-lg {
            order: 4;
            margin-top: 20px;
        }

        @media @query-vl {
            order: 2;
            max-width: 400px;
            flex: 1;
            margin-top: 0;
            margin-left: auto;
            margin-right: @header-item-gap-small;
        }

        @media @query-xl {
            flex: none;
            margin-right: @header-item-gap;
        }
    }

    &__links {
        order: 2;
        display: flex;

        @media @query-lg {
            margin-right: @header-item-gap-small;
            margin-left: auto;
        }

        @media @query-vl {
            order: 3;
            margin-left: 0;
        }

        @media @query-xl {
            margin-right: @header-item-gap;
        }
    }

    &__cart {
        order: 3;
        position: relative;
        display: flex;

        @media @query-vl {
            order: 4;
        }

        .in-overlay {
            position: absolute !important;

            &__in {
                border-radius: @radius;
            }
        }

        .cart.in-overlay {
            position: relative !important;
        }
    }

    &__mobile-button {
        display: none;

        @media @query-tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: @header-mobile-button-size;
            height: @header-mobile-button-size;
            margin-left: 4px;

            outline: 0;
            cursor: pointer;
            font-size: @header-mobile-button-icon-size;

            &--menu {
                position: relative;
                width: auto;
                order: 4;
                margin-left: 16px;
                z-index: @z-index-menu + 1;

                background-color: @color-orange-light;
                border-radius: @radius;
            }

            &--login {
                order: 2;
            }

            &__in {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: @transition color;
                width: 100%;
                height: 100%;

                color: @color-f;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: @color-f;
                }

                .header__mobile-button--menu & {
                    margin: 0 10px;
                    
                    color: @color-0;
                }

                &.active {
                    .header__mobile-button__placeholder {
                        transform: scale(1);
                        opacity: 1;
                        visibility: visible;

                        .header__mobile-button__placeholder__line--left {
                            transform: rotate(-45deg);
                        }

                        .header__mobile-button__placeholder__line--right {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &__text {
                width: 29px;
                margin-left: 4px;

                font-size: 11px;

                &--open {
                    display: inline;

                    .active & {
                        display: none;
                    }
                }

                &--close {
                    display: none;

                    .active & {
                        display: inline;
                    }
                }
            }

            &__menu {
                display: none;
                position: absolute;
                top: @header-mobile-button-dropdown-position;
                left: -@web-padding;
                right: -@web-padding;
                z-index: 10;
                padding: 15px 15px 20px;

                background: @color-f;
                box-shadow: 0 15px 15px rgba(0,0,0, 0.2);

                a {
                    display: block;
                    padding: 10px 15px 8px;

                    font-size: 15px;
                    color: @color-primary;
                    border: 1px solid @color-border;
                    border-top: 0;
                    text-decoration: none;

                    &:first-child {
                        border-top: 1px solid @color-border;
                        border-top-left-radius: @radius;
                        border-top-right-radius: @radius;
                    }

                    &:last-child {
                        border-bottom-left-radius: @radius;
                        border-bottom-right-radius: @radius;
                    }
                }
            }
        }

        @media @query-lg {
            display: none;
        }

        &__placeholder {
            display: none;

            @media @query-tablet {
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                width: @header-mobile-button-icon-size;
                height: 100%;
                z-index: @z-index-above;

                opacity: 0;
                visibility: hidden;
                transform: scale(0.5);
                transition: all @transition;
                background-color: @color-orange-light;
            }

            &__line {
                @media @query-tablet {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -1px;
                    width: @header-mobile-button-icon-size;
                    height: 2px;
                    margin-left: -@header-mobile-button-icon-size / 2;

                    background-color: @color-0;
                    transition: all @transition;
                }
            }
        }
    }

    &--cart {
        padding-bottom: 0;

        @media @query-lg {
            margin-top: 10px;
        }

        .header__logo {
            max-width: none;
        }

        .header__button {
            display: none;

            @media @query-lg {
                display: block;
            }
        }

        @media @query-xl {
            .menu-iconic {
                margin-right: -10px;
            }
        }

        .menu-iconic__item__link {
            position: relative;
            flex-direction: row;
            height: 56px;
            top: 12px;
            padding: 0 20px;

            background: linear-gradient(#fff, #f7f8f9);
            border-radius: @radius;
            font-size: 16px;

            .menu-iconic__item__icon {
                position: relative;
                top: 1px;
                order: 1;
                margin-left: 15px;

                font-size: 24px;
            }
        }
    }
}
