@web-footer-with-cookies-margin-bottom: 110px;
@web-footer-with-cookies-margin-bottom-md: 52px;
@web-footer-background: @color-light;
@web-footer-border: 1px solid darken(@web-footer-background, 5%);

img {
    max-width: 100%;
}

.web {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    // On some occasions we`re using together 100vw width and left: calc(-50vw + 50%).
    // This approach, doesn`t count with existing vertical scrollbar, so overflow-x hidden must be set.
    overflow-x: hidden;

    .is-safari & {
        display: block;
    }

    &__header {
        background-color: @color-primary;

        @media @query-lg {
            margin-bottom: 16px;
        }

        &--big-gap {
            margin-bottom: 18px;

            @media @query-lg {
                margin-bottom: 32px;
            }
        }

        &--big-gap-desktop {
            @media @query-lg {
                margin-bottom: 32px;
            }
        }
    }

    &__in {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
    }

    &__line {
        &--dark {
            background-color: @color-grey;
        }

        &--colored {
            background-color: @color-add-light;
        }

        &--blog {
            background: url('/public/frontend/images/blog-background.png') center/cover no-repeat;
        }

        &--bg-color {
            background: @color-light-secondary;
        }

        &--spacing {
            padding: 2rem 0;

            &--big {
                padding: 2rem 0;

                @media @query-md {
                    padding: 3rem 0;
                }
            }

            &--medium {
                padding: 2rem 0;

                @media @query-md {
                    padding: 3rem 0 2rem;
                }
            }

            &--large {
                padding: 3rem 0;

                @media @query-lg {
                    padding: 4rem 0;
                }
            }

            &--bottom-small {
                @media @query-md {
                    padding-bottom: 0.25rem;
                }
            }
        }

        &--margin-bottom {
            margin-bottom: 1.5rem;
        }

        &--margin-bottom-up {
            margin-bottom: 2rem;
        }

        &--margin-bottom-up-big {
            margin-bottom: 2rem;

            @media @query-md {
                margin-bottom: 3.5rem;
            }
        }
    }

    &__container {
        padding: 0 @web-padding;

        @media @query-xl {
            width: @web-width;
            margin: 0 auto;
        }

        &--lines {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 106px;
                height: 133px;
                transform: translateX(-100%);

                background: url('/public/frontend/images/lines.png') left no-repeat;
            }
        }

        &--max-width {
            max-width: 100%;
        }

        &__heading {
            margin-bottom: 0;
            text-align: center;

            font-size: 30px;
        }

        .web__main--with-panel & {
            padding: 0;
            width: 100%;
        }
    }

    &__main {
        &--with-panel {
            padding: 0 @web-padding;

            @media @query-lg {
                display: flex;
                width: 100%;
            }

            @media @query-vl {
                padding: 0 @web-padding;
            }

            @media @query-xl {
                width: @web-width;
                margin: 0 auto;
            }
        }
    }

    &__footer {
        flex: 0;
        will-change: padding;
        transition: @transition padding;

        &--with-cookies {
            padding-bottom: @web-footer-with-cookies-margin-bottom;

            @media @query-md {
                padding-bottom: @web-footer-with-cookies-margin-bottom-md;
            }
        }
    }

    &__overlay {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: @z-index-menu - 1;
        background-color: transparent;
        transition: all @transition;

        &--active {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
