@web-footer-with-cookies-margin-bottom: 110px;
@web-footer-with-cookies-margin-bottom-md: 52px;
@web-footer-background: @color-light;
@web-footer-border: 1px solid darken(@web-footer-background, 5%);

img {
    max-width: 100%;
}

.web {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    // On some occasions we`re using together 100vw width and left: calc(-50vw + 50%).
    // This approach, doesn`t count with existing vertical scrollbar, so overflow-x hidden must be set.
    overflow-x: hidden;

    .is-safari & {
        display: block;
    }

    &--window-activated {
        overflow: hidden;

        @media @query-vl {
            overflow: unset;
        }
    }

    &__in {
        flex: 1;
        position: relative;
    }

    &__line {
        &--grey {
            background: #f5f6f7;
        }

        &--bg-color {
            background: #f0f3f4;
        }

        &--spacing {
            padding: 2rem 0;

            &--big {
                padding: 2rem 0;

                @media @query-md {
                    padding: 3rem 0;
                }
            }

            &--large {
                padding: 3rem 0;

                @media @query-lg {
                    padding: 4rem 0;
                }
            }
        }

        &--grey-bottom-border {
            border-bottom: @web-footer-border;
        }

        &--margin-bottom {
            margin-bottom: 1.5rem;
        }

        &--zi {
            position: relative;
            z-index: 10;
        }

        &--cart {
            padding: 25px 0 4rem;

            @media @query-mobile {
                position: relative;
                padding-bottom: 230px;
            }

            @media @query-lg {
                padding: 3rem 0 8rem;
            }
        }
    }

    &__container {
        padding: 0 @web-padding-small;

        @media @query-vl {
            padding: 0 @web-padding;
        }

        @media @query-xl {
            width: @web-width;
            margin: 0 auto;
        }

        &--no-padding {
            padding: 0;
        }

        &--category-detail {
            padding-top: 1.5rem;
        }

        &--full-width {
            width: 100%;
        }

        &--max-width {
            max-width: 100%;
        }

        .web__main--with-panel & {
            padding: 0;
            width: 100%;
        }
    }

    &__main {
        padding-bottom: 20px;

        &--with-panel {
            padding: 0 @web-padding-small;

            @media @query-lg {
                display: flex;
                width: 100%;
            }

            @media @query-vl {
                padding: 0 @web-padding;
            }

            @media @query-xl {
                width: @web-width;
                margin: 0 auto;
            }
        }

        &__content {
            .web__main--with-panel & {
                margin-bottom: @margin-gap;

                @media @query-lg {
                    order: 2;
                    width: calc(~"100% - @{web-panel-width-lg}");
                }
            }
        }
    }

    &__footer {
        flex: 0;
        will-change: padding;
        transition: @transition padding;

        &--with-cookies {
            padding-bottom: @web-footer-with-cookies-margin-bottom;

            @media @query-md {
                padding-bottom: @web-footer-with-cookies-margin-bottom-md;
            }
        }
    }
}
