on: [push]
name: "Docker build"
jobs:
    build-whole-application:
        name: Build application and run standards checks and tests
        runs-on: 'ubuntu-20.04'
        steps:
            -   name: GIT checkout branch - ${{ github.ref }}
                uses: actions/checkout@v3
                with:
                    ref: ${{ github.ref }}
            -   name: Configure application
                run: echo 1 | ./scripts/configure.sh
            -   name: Install composer dependencies
                run: docker-compose exec -T php-fpm composer install
            -   name: Ensure Symfony 4 version
                run: docker-compose exec -T php-fpm composer update
            -   name: Build application
                run: docker-compose exec -T php-fpm php phing db-create test-db-create frontend-api-generate-new-keys build-demo-dev-quick error-pages-generate
            -   name: Check standards
                run: docker-compose exec -T php-fpm php phing standards
            -   name: Run tests
                run: docker-compose exec -T php-fpm php phing tests
            -   name: Run acceptance tests
                run: docker-compose exec -T php-fpm php phing tests-acceptance
            -   name: PHP-FPM container logs
                if: ${{ failure() }}
                run: docker-compose logs php-fpm
            -   name: Copy Codeception logs from container
                if: ${{ failure() }}
                run: docker cp shopsys-framework-php-fpm:/var/www/html/var/log ./var/log
            -   name: Upload Codeception logs to artifacts
                if: ${{ failure() }}
                uses: actions/upload-artifact@v2
                with:
                    name: acceptance-logs
                    path: ./var/log
