.in-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__spinbox {
        margin-left: 5px;

        .in-add-to-cart--large & {
            flex: 1;
            margin-left: 10px;
        }
    }
}
