@in-breadcrumb-item-gap: 11px;
@in-breadcrumb-item-font-size: 13px;
@in-breadcrumb-item-color: @color-primary;
@in-breadcrumb-item-color-current: #555764;

.in-breadcrumb {
    padding: 16px;
    margin-bottom: 12px;

    background-color: @color-light-secondary;
    border-radius: @radius;
    font-size: 0;

    @media @query-lg {
        padding: 19px 16px;
    }

    &__item {
        display: none;
        vertical-align: middle;
        margin-right: @in-breadcrumb-item-gap;

        font-size: @font-size;
        color: @color-0;
        text-decoration: none;

        @media @query-lg {
            display: inline-block;

            color: @in-breadcrumb-item-color;
            font-size: @in-breadcrumb-item-font-size;
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }

        &:nth-last-child(4) {
            display: inline-block;

            .svg {
                transform: rotate(90deg);

                @media @query-lg {
                    transform: rotate(-90deg);
                }
            }
        }

        &:nth-last-child(3) {
            display: inline-block;
        }

        &--separator {
            transform: rotate(180deg) translateY(2px);
            margin-right: 7.5px;

            font-size: @in-breadcrumb-item-font-size;
            color: @color-base-lighter;
            text-decoration: none;

            @media @query-lg {
                transform: rotate(0) translateY(0);
                margin-right: @in-breadcrumb-item-gap;
            }

            &:before {
                &:extend(.svg-arrow-thin:before);

                font-family: SVG;

                @media @query-lg {
                    content: '/';

                    font-family: @font-base;
                }
            }
        }

        &--current {
            color: @in-breadcrumb-item-color-current;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
