@in-icon-info-size: 16px;

.in-icon {
    display: inline-flex;
    align-items: center;

    text-decoration: none;

    &--info {
        height: @in-icon-info-size;

        color: @color-add-light;
        font-size: @in-icon-info-size;
        cursor: help;
    }

    &--link {
        &:hover {
            text-decoration: none;

            .in-icon__label {
                text-decoration: underline;
            }
        }
    }

    &--detail {
        color: @color-inactive;
    }

    &__icon {
        margin-right: 5px;

        color: @color-0;
    }
}
