.in-place {
    margin-bottom: @margin-gap;
    text-align: center;

    &--footer {
        padding: 10px 0;
        margin-bottom: 0;
    }

    &--productListMiddle {
        margin-bottom: 36px;
    }

    &--cartPreview {
        margin: 0 0 1rem;
    }
}
