version: "3.4"

services:
    postgres:
        image: postgres:12.1-alpine
        container_name: shopsys-framework-postgres
        volumes:
            - ./project-base/docker/postgres/postgres.conf:/var/lib/postgresql/data/postgresql.conf:delegated
            - ./project-base/var/postgres-data:/var/lib/postgresql/data:cached
        environment:
            - PGDATA=/var/lib/postgresql/data/pgdata
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=shopsys
        command:
            - postgres
            - -c
            - config_file=/var/lib/postgresql/data/postgresql.conf

    webserver:
        image: nginx:1.13-alpine
        container_name: shopsys-framework-webserver
        depends_on:
            - php-fpm
        volumes:
            - ./project-base/web:/var/www/html/project-base/web:cached
            - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:delegated
        ports:
            - "8000:8080"

    php-fpm:
        build:
            context: .
            dockerfile: project-base/docker/php-fpm/Dockerfile
            target: development
            args:
                www_data_uid: 501
                www_data_gid: 20
                project_root: project-base
        container_name: shopsys-framework-php-fpm
        volumes:
            - shopsys-framework-sync:/var/www/html
            - ./project-base/web:/var/www/html/project-base/web:cached
            - ./.git/:/var/www/html/.git:delegated
        ports:
            - "35729:35729"

    redis:
        image: redis:5.0-alpine
        container_name: shopsys-framework-redis

    redis-admin:
        image: erikdubbelboer/phpredisadmin:v1.10.2
        container_name: shopsys-framework-redis-admin
        environment:
            - REDIS_1_HOST=redis
        ports:
            - "1600:80"

    selenium-server:
        image: selenium/standalone-chrome:3.141.5
        container_name: shopsys-framework-acceptance-tests
        ports:
            - "4400:4444"
        environment:
            - HUB_PORT_4444_TCP_ADDR=hub
            - HUB_PORT_4444_TCP_PORT=4444

    adminer:
        image: adminer:4.7.6
        container_name: shopsys-framework-adminer
        ports:
            - "1100:8080"

    smtp-server:
        image: namshi/smtp:latest
        container_name: shopsys-framework-smtp-server

    elasticsearch:
        build:
            context: .
            dockerfile: project-base/docker/elasticsearch/Dockerfile
        container_name: shopsys-framework-elasticsearch
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
        ports:
            - "9200:9200"
        volumes:
            - ./project-base/var/elasticsearch-data:/usr/share/elasticsearch/data:cached
        environment:
            - discovery.type=single-node

    kibana:
        image: docker.elastic.co/kibana/kibana-oss:7.6.0
        container_name: shopsys-framework-kibana
        depends_on:
            - elasticsearch
        ports:
            - "5601:5601"

    mkdocs:
        build:
            context: .
            dockerfile: docker/mkdocs/Dockerfile
        ports:
            - "1300:8000"
        volumes:
            - shopsys-framework-sync:/var/www/html

volumes:
    shopsys-framework-sync:
        external: true
