version: '2'
syncs:
    shopsys-framework-sync:
        sync_userid: 501
        src: './'
        sync_excludes:
            - .git
            - .idea
            - .docker-sync
            - .DS_Store
            - node_modules
            - storefront
            - var/cache
            - var/elasticsearch-data
            - var/postgres-data
            - web
        host_disk_mount_mode: 'delegated'

    shopsys-storefront-sync:
        sync_userid: 501
        src: './storefront'
        host_disk_mount_mode: 'delegated'
