version: "3.4"

services:
    webserver:
        restart: always
        image: nginx:1.13-alpine
        depends_on:
            - php-fpm
        volumes:
            - web-volume:/var/www/html/project-base/app/web
            - nginx-conf:/etc/nginx/conf.d/
        labels:
            - traefik.backend=BRANCH_NAME
            - traefik.http.routers.BRANCH_NAME.rule=Host(TRAEFIK_HOSTS)
            - traefik.http.routers.BRANCH_NAME.entrypoints=http,https
            - traefik.http.routers.BRANCH_NAME.tls.certresolver=letsencrypt
            - traefik.http.services.BRANCH_NAME.loadbalancer.server.port=8080
            - traefik.docker.network=github-runner_traefik-network
            - traefik.enable=true
        networks:
            - default
            - github-runner_traefik-network

    php-fpm:
        restart: always
        image: php-fpm-image
        volumes:
            - web-volume:/var/www/html/project-base/app/web
            - nginx-conf:/var/www/html/docker/nginx
            - postgres-conf:/var/www/html/project-base/app/docker/postgres
        environment:
            IGNORE_DEFAULT_ADMIN_PASSWORD_CHECK: 1
            DATABASE_NAME: BRANCH_NAME
            ELASTIC_SEARCH_INDEX_PREFIX: BRANCH_NAME
            REDIS_PREFIX: BRANCH_NAME
        networks:
            - default
            - services-network
        labels:
            - traefik.enable=false

    storefront:
        restart: always
        image: storefront-image
        environment:
            REDIS_PREFIX: BRANCH_NAME
        networks:
            - default
            - services-network
        labels:
            - traefik.enable=false

volumes:
    web-volume:
    nginx-conf:
    postgres-conf:

networks:
    github-runner_traefik-network:
        external: true
    services-network:
        name: github-runner_default
        external: true
    default:
