services:
    postgres:
        image: postgres:18-alpine
        container_name: shopsys-framework-postgres
        volumes:
            - ./project-base/app/docker/postgres/postgres.conf:/etc/postgresql/postgresql.conf
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=shopsys
        command:
            - postgres
            - -c
            - config_file=/etc/postgresql/postgresql.conf

    webserver:
        image: nginx:1.29-alpine
        container_name: shopsys-framework-webserver
        depends_on:
            - php-fpm
            - storefront
        volumes:
            - web-data:/var/www/html/project-base/app/web
            - ./project-base/docker/nginx/nginx.conf:/etc/nginx/templates/default.conf.template:ro
            - ./project-base/docker/nginx/12-set-env-variables.envsh:/docker-entrypoint.d/12-set-env-variables.envsh:ro
        ports:
            - "8000:8080"

    storefront:
        restart: always
        image: storefront-image
        user: root
        container_name: shopsys-framework-storefront
        command:
            - dev
        ports:
            - "3000:3000"
        healthcheck:
            test: wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1
            start_period: 30s
            interval: 30s
            timeout: 10s
            retries: 5
        volumes:
            - ./project-base/storefront:/home/node/app

    php-fpm:
        image: php-fpm-image
        container_name: shopsys-framework-php-fpm
        environment:
            - MESSENGER_TRANSPORT_DSN=in-memory://
        volumes:
            - web-data:/var/www/html/project-base/app/web
        ports:
            - "35729:35729"

    redis:
        image: redis:7.4-alpine
        container_name: shopsys-framework-redis

    elasticsearch:
        image: elasticsearch-image
        container_name: shopsys-framework-elasticsearch
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
        ports:
            - "9200:9200"
        environment:
            - discovery.type=single-node

    img-proxy:
        image: ghcr.io/imgproxy/imgproxy:latest
        container_name: shopsys-framework-img-proxy
        environment:
            IMGPROXY_AUTO_WEBP: true
            IMGPROXY_ENFORCE_WEBP: true
        ports:
            - "8060:8080"

volumes:
    web-data:
        driver: local
