on:
    workflow_dispatch:
        inputs:
            branch_name:
                description: 'Branch name'
                required: true
                type: string
name: Manually cancel review
jobs:
    cancel-review:
        if:  ${{ inputs.branch_name }} != ${{ vars.MAIN_BRANCH_NAME }}
        name: Cancel review
        runs-on: [self-hosted, linux, review-stage]
        steps:
            -   name: GIT checkout branch - ${{ vars.MAIN_BRANCH_NAME }}
                uses: actions/checkout@v3
                with:
                    ref: 'refs/heads/${{ vars.MAIN_BRANCH_NAME }}'
                    path: manually-cancel-review
            -   name: Cancel review
                env:
                    BRANCH_NAME: ${{ inputs.branch_name }}
                working-directory: manually-cancel-review
                run: |
                    ./.github/cancel-review.sh
