on:
    schedule:
        -   cron: '0 3 * * *'
    workflow_dispatch:
name: Rebuild Docker images
jobs:
    rebuild-master-images:
        name: Rebuild ${{ matrix.branches }} branch Docker images in Github Container Registry
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                branches: ['master', '9.1', '10.0', '11.0', '12.0']
            fail-fast: false
            max-parallel: 1
        permissions:
            contents: read
            packages: write
        steps:
            -   name: GIT checkout branch - refs/heads/${{ matrix.branches }}
                uses: actions/checkout@v3
                with:
                    ref: refs/heads/${{ matrix.branches }}
            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v2
                with:
                    registry: ghcr.io
                    username: ${{ secrets.ACTIONS_USER }}
                    password: ${{ secrets.ACTIONS_TOKEN }}
            -   name: Generate PHP-FPM tag
                env:
                    DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
                run: |
                    DOCKER_PHP_FPM_IMAGE_TAG=github-action-`find project-base/docker/php-fpm -type f -exec stat -c "%a %n" {} \; -exec cat {} \; | md5sum | awk '{ print $1 }'`
                    echo "DOCKER_PHP_FPM_IMAGE_TAG=${DOCKER_PHP_FPM_IMAGE_TAG}" >> $GITHUB_ENV
                    echo "DOCKER_USERNAME=${DOCKER_USERNAME}" >> $GITHUB_ENV
            -   name: Build PHP-FPM image and push it to Github Container Registry
                run: .github/build-php-fpm-image.sh
            -   name: Generate Elasticseach tag
                run: |
                    DOCKER_ELASTICSEARCH_IMAGE_TAG=github-action-`find project-base/docker/elasticsearch -type f -exec stat -c "%a %n" {} \; -exec cat {} \; | md5sum | awk '{ print $1 }'`
                    echo "DOCKER_ELASTICSEARCH_IMAGE_TAG=${DOCKER_ELASTICSEARCH_IMAGE_TAG}" >> $GITHUB_ENV
            -   name: Build Elasticsearch image and push it to Github Container Registry
                run: .github/build-elasticsearch-image.sh
