on:
    schedule:
        -   cron: '0 3 * * *'
    workflow_dispatch:
name: Rebuild Docker images
jobs:
    rebuild-php-fpm-images-old:
        name: Rebuild ${{ matrix.branches }} branch PHP-FPM Docker images in GitHub Container Registry - before JavaScript Storefront
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                branches: ['12.0', '12.1']
            fail-fast: false
        permissions:
            contents: read
            packages: write
        steps:
            -   name: GIT checkout branch - refs/heads/${{ matrix.branches }}
                uses: actions/checkout@v4
                with:
                    ref: refs/heads/${{ matrix.branches }}
            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}
            -   name: Build PHP-FPM image and push it to GitHub Container Registry
                run: |
                    DOCKER_PHP_FPM_IMAGE_TAG=github-action-`find project-base/docker/php-fpm -type f -exec stat -c "%a %n" {} \; -exec cat {} \; | md5sum | awk '{ print $1 }'`
                    DOCKER_PHP_FPM_REPOSITORY_TAG=ghcr.io/${{ github.repository_owner }}/php-fpm:${DOCKER_PHP_FPM_IMAGE_TAG}
                    .github/build-php-fpm-image.sh ${DOCKER_PHP_FPM_REPOSITORY_TAG}
                    docker image push ${DOCKER_PHP_FPM_REPOSITORY_TAG}
    rebuild-elasticsearch-images-old:
        name: Rebuild ${{ matrix.branches }} branch Elasticsearch Docker images in GitHub Container Registry - before JavaScript Storefront
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                branches: ['12.0', '12.1']
            fail-fast: false
        permissions:
            contents: read
            packages: write
        steps:
            -   name: GIT checkout branch - refs/heads/${{ matrix.branches }}
                uses: actions/checkout@v4
                with:
                    ref: refs/heads/${{ matrix.branches }}
            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}
            -   name: Build Elasticsearch image and push it to GitHub Container Registry
                run: |
                    DOCKER_ELASTICSEARCH_IMAGE_TAG=github-action-`find project-base/docker/elasticsearch -type f -exec stat -c "%a %n" {} \; -exec cat {} \; | md5sum | awk '{ print $1 }'`
                    DOCKER_ELASTICSEARCH_REPOSITORY_TAG=ghcr.io/${{ github.repository_owner }}/elasticsearch:${DOCKER_ELASTICSEARCH_IMAGE_TAG}
                    .github/build-elasticsearch-image.sh ${DOCKER_ELASTICSEARCH_REPOSITORY_TAG}
                    docker image push ${DOCKER_ELASTICSEARCH_REPOSITORY_TAG}
    rebuild-elasticsearch-images:
        name: Rebuild ${{ matrix.branches }} branch Elasticsearch Docker images in GitHub Container Registry - with JavaScript Storefront
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                branches: ['13.0', '14.0', '15.0', '16.0']
            fail-fast: false
        permissions:
            contents: read
            packages: write
        steps:
            -   name: GIT checkout branch - refs/heads/${{ matrix.branches }}
                uses: actions/checkout@v4
                with:
                    ref: refs/heads/${{ matrix.branches }}
            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}
            -   name: Build Elasticsearch image and push it to GitHub Container Registry
                run: |
                    DOCKER_ELASTICSEARCH_IMAGE_TAG=github-action-`find project-base/app/docker/elasticsearch -type f -exec stat -c "%a %n" {} \; -exec cat {} \; | md5sum | awk '{ print $1 }'`
                    DOCKER_ELASTICSEARCH_REPOSITORY_TAG=ghcr.io/${{ github.repository_owner }}/elasticsearch:${DOCKER_ELASTICSEARCH_IMAGE_TAG}
                    .github/build-elasticsearch-image.sh ${DOCKER_ELASTICSEARCH_REPOSITORY_TAG}
                    docker image push ${DOCKER_ELASTICSEARCH_REPOSITORY_TAG}
    rebuild-storefront-ci-images:
        name: Rebuild ${{ matrix.branches }} branch Storefront CI Docker images in GitHub Container Registry
        runs-on: ubuntu-22.04
        strategy:
            matrix:
                branches: ['13.0', '14.0', '15.0', '16.0']
            fail-fast: false
        permissions:
            contents: read
            packages: write
        steps:
            -   name: GIT checkout branch - refs/heads/${{ matrix.branches }}
                uses: actions/checkout@v4
                with:
                    ref: refs/heads/${{ matrix.branches }}
            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}
            -   name: Build Storefront CI image and push it to GitHub Container Registry
                run: |
                    DOCKER_STOREFRONT_CI_IMAGE_TAG=github-action-`find project-base/storefront/docker -type f -exec stat -c "%a %n" {} \; -exec cat {} \; | md5sum | awk '{ print $1 }'`-ci
                    DOCKER_STOREFRONT_CI_REPOSITORY_TAG=ghcr.io/${{ github.repository_owner }}/storefront:${DOCKER_STOREFRONT_CI_IMAGE_TAG}
                    .github/build-storefront-ci-image.sh ${DOCKER_STOREFRONT_CI_REPOSITORY_TAG}
                    docker image push ${DOCKER_STOREFRONT_CI_REPOSITORY_TAG}
