/.idea
/docs/generated
/nbproject
/node_modules
/var/*
!/var/.gitkeep
/vendor
/DEVELOPMENT
/PRODUCTION
/TEST
/MAINTENANCE
/Gruntfile.js
/.php_cs.cache
/.docker-sync
.DS_Store
/docker-compose.yml
/docker-sync.yml
/.env.local
/.env.local.php
/.env.*.local

/web/build/
npm-debug.log
yarn-error.log
