parametersSchema:
    projectRootDirectory: string()

parameters:

    treatPhpDocTypesAsCertain: false
    symfony:
        container_xml_path: '%projectRootDirectory%/var/cache/dev/srcApp_KernelDevDebugContainer.xml'
        constant_hassers: false
    projectRootDirectory: %currentWorkingDirectory%

    ignoreErrors:
        -
            # We need to have undefined variable for testing purposes
            message: '#^Undefined variable: \$undefined$#'
            path: %projectRootDirectory%/src/Controller/Test/ErrorHandlerController.php
        -
            # We need to have undefined variable for testing purposes
            message: '#^Expression "\$undefined\[42\]" on a separate line does not do anything\.$#'
            path: %projectRootDirectory%/src/Controller/Test/ErrorHandlerController.php
        -
            # Ignore annotations in generated code
            message: '#^PHPDoc tag @(param|return) has invalid value (.|\n)+ expected type at offset \d+$#'
            path: %projectRootDirectory%/tests/App/Test/Codeception/_generated/AcceptanceTesterActions.php
        -
            # Ignore annotations in generated code
            message: '#^PHPDoc tag @throws with type .+ is not subtype of Throwable$#'
            path: %projectRootDirectory%/tests/App/Test/Codeception/_generated/AcceptanceTesterActions.php
        -
            message: '#^Method Doctrine\\Persistence\\ObjectManager::flush\(\) invoked with 1 parameter, 0 required\.$#'
            path: *
includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-doctrine/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-phpunit/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/rules.neon
