.table-cart-preview {
    width: 100%;

    &__body {
        display: block;

        &__row,
        &__col {
            display: block;
        }
    }

    &__section {
        display: flex;
        padding: 6px 0;
        width: 100%;
        margin: 0;

        border: 1px solid @color-border-light;

        &:first-child {
            border-top-left-radius: @radius;
            border-top-right-radius: @radius;
        }

        &:last-child {
            margin-bottom: 15px;

            border-bottom-left-radius: @radius;
            border-bottom-right-radius: @radius;
        }

        &__body {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        & + .table-cart-preview__section {
            border-top: 0;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;

        &--section-price {
            .table-cart-preview__cell {
                color: @color-primary;
            }
        }

        &--important {
            padding-top: 5px;
        }
    }

    &__cell {
        padding: 4px 12px;

        font-size: 12px;

        .table-cart-preview__row--total & {
            font-weight: bold;
        }

        &--price {
            padding-left: 5px;
            text-align: right;

            .table-cart-preview__row--total & {
                color: @color-price-main;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            font-size: 12px;
            color: @color-primary;

            &__img {
                width: 22px;
            }
        }

        &--transport,
        &--payment {
            img {
                position: relative;
                top: -1px;
                display: inline-block;
                vertical-align: middle;
                max-height: 13px;
                max-width: none;
                margin-left: 3px;
            }
        }

        &--payment {
            display: flex;

            img {
                margin-left: 12px;
            }
        }
    }
}
