.table-cart-preview {
    width: 100%;

    &__body {
        display: block;
        margin: 10px 0 8px;
        padding: 5px 0;

        border: 1px solid @color-border-light;
        border-radius: @radius;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__cell {
        padding: 6px 12px;

        font-size: 12px;

        .table-cart-preview__row--total & {
            font-weight: bold;
        }

        &--price {
            padding-left: 5px;
            text-align: right;

            .table-cart-preview__row--total & {
                color: @color-price-main;
            }
        }
    }
}
