@table-cart-image-width: 90px;
@table-cart-image-height: 90px;
@table-cart-image-gap: 10px;

.table-cart {
    &__product-sku {
        color: #646f7c;
        line-height: 1.3;
    }

    &__cell {
        &--action {
            a {
                display: inline-block;
                padding: 5px;

                text-decoration: none;
                color: @color-inactive;
                font-size: 10px;

                &:hover {
                    color: @color-red;
                }
            }
        }

        &--footer {
            &__price-final {
                font-size: 17px;
                color: @color-primary;
            }
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: @table-cart-image-height;
            width: @table-cart-image-width;

            img {
                .center-image();

                @media @query-mobile {
                    max-width: 80%;
                }
            }
        }

        &__product-name {
            display: block;

            font-size: 16px;
            line-height: 24px;

            &__prefix {
                display: block;

                font-size: 14px;
                line-height: 16px;
            }
        }

        &__avail {
            color: #73a90c;
            font-weight: 400;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
        }

        &__caption {
            color: #15161e;
        }

        &__remove {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 22px;
            color: @color-primary;

            &:hover {
                color: @color-add;
            }
        }
    }

    &__row {
        &--footer {
            width: 365px;
            padding: 0 45px 0 5px;

            border: 1px solid @color-border;
            border-radius: @radius;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: -10px;
    }

    &-preview {
        &__row--previous-price {
            td, td span {
                font-size: 15px;
                color: @color-light-secondary;
            }
        }

        &__cell__title {
            font-size: 14px;
            color: @color-primary;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
        }
    }
}

@media @query-tablet {
    .table-cart {
        width: 100%;
        display: block;

        tbody, tfoot {
            display: block;
        }

        thead {
            display: none;
        }

        &__row {
            display: block;
            padding: 12px 0;
            position: relative;

            border-bottom: 1px solid @color-border-tertiary;

            &:last-child {
                border-bottom: 0;
            }

            @media @query-md {
                max-width: 100%;
            }

            &--footer {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
                margin-top: 10px;

                border: 0;
            }
        }

        &__cell {
            display: block;

            &--image {
                float: left;
                width: 90px;
                margin-top: 15px;
            }

            &--name {
                padding-left: @table-cart-image-width + @table-cart-image-gap;
                padding-right: 40px;
            }

            &--price {
                display: none;
            }

            &--amount {
                position: absolute;
                right: 12px;
                bottom: 15px;
            }

            &--action {
                position: absolute;
                top: 3px;
                right: 12px;
            }

            &--avail,
            &--price-final {
                padding-left: @table-cart-image-width + @table-cart-image-gap;
            }

            &--price-final {
                padding-top: 6px;
            }

            &--total-price {
                tfoot & {
                    display: block;
                    text-align: center;

                    font-weight: bold;

                    span {
                        font-size: 14px;
                        color: @color-price-main;
                    }
                }
            }

            &__price-mobile {
                margin-top: 5px;

                font-weight: bold;
            }
        }
    }
}

@media @query-lg {
    .table-cart {
        width: 100%;

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            border-bottom: 1px solid lighten(@color-border, 5%);

            &--content:last-child {
                border-bottom: 0;
            }
        }

        &__cell {
            padding: 20px 8px;
            min-width: 100px;
            text-align: left;

            font-size: 13px;
            color: #979ca9;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;

            &--footer {
                padding: 5px 8px;

                border: 0;
            }

            &--image {
                width: @table-cart-image-width + @table-cart-image-gap;
                min-width: @table-cart-image-width + @table-cart-image-gap;
                white-space: nowrap;

                color: @color-primary;
                font-size: 28px;
                text-transform: none;
                line-height: 1.4;
            }

            &--name {
                flex-grow: 1;
                padding-left: 15px;
                padding-right: 50px;
            }

            &--amount {
                min-width: 110px;
                text-align: center;
            }

            &--avail {
                min-width: 130px;
            }

            &--price {
                text-align: right;
            }

            &--price-final {
                min-width: 120px;
                text-align: right;
            }

            &--action {
                min-width: 40px;
                max-width: 40px;
                padding-right: 0;
                text-align: right;
            }

            &--total-price {
                text-align: right;

                font-weight: bold;

                span {
                    display: inline-block;
                    margin-left: 5px;

                    color: @color-price-main;
                    font-size: 16px;
                }
            }

            &__price-mobile {
                display: none;
            }
        }
    }
}

@media @query-xl {
    .table-cart {
        &__cell {
            &--avail {
                min-width: 150px;
            }

            &--price-final {
                min-width: 110px;
            }

            &--price {
                padding-right: 16px;
            }
        }
    }
}
