@table-cart-cell-gap: 15px;

.table-cart {
    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px 0;

        border-bottom: 1px solid @color-border;
    }

    &__cell {
        display: flex;
        align-items: center;
        padding-right: @table-cart-cell-gap;

        &--image {
            width: 93px;
        }

        &--info {
            flex: 1;
        }

        &--spinbox {
            width: 150px;
        }

        &--action {
            padding-right: 0;
        }

        &--price-unit {
            width: 136px;
        }

        &--price {
            width: 136px;
            justify-content: flex-end;
        }

        &__name {
            width: 250px;
            height: 100%;
            padding-right: @table-cart-cell-gap;

            &__title {
                line-height: 18px;
                text-transform: uppercase;

                color: @color-0;
                font-size: @font-size-small;
                font-weight: 700;
                text-decoration: none;
            }

            &__catnum {
                line-height: 19px;

                font-size: 13px;
                color: @color-base-lighter;
            }
        }

        &__availability {
            flex: 1;
            text-align: center;

            font-weight: 700;
            font-size: 13px;

            &__text {
                display: block;

                font-weight: 400;
            }
        }

        &__price {
            font-size: @font-size-small;
            color: @color-base-lighter;

            &--main {
                font-size: @font-size;
                color: @color-price-sale;
            }

            &--sale {
                color: @color-price-sale;
            }

            &--action {
                color: @color-price-sale;
            }
        }

        &__remove {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;

            cursor: pointer;
            background-color: @color-light-secondary;
            color: @color-base-lighter;
            border-radius: 50%;
            font-size: 7px;
            transition: all 0.2s cubic-bezier(0.8, 0.2, 0.48, 1);
            text-decoration: none;

            &:hover {
                background-color: darken(@color-light-secondary, 3%);
                color: @color-base-lighter;
                text-decoration: none;
            }
        }
    }
}
