.table-main {
    display: block;

    tbody {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    tr {
        background: @color-f;

        &:nth-child(2n) {
            background: @color-light-secondary;
        }
    }

    td, th {
        padding: 15px;
    }

    th {
        padding: 6px 15px;
        line-height: 17px;
        vertical-align: bottom;

        color: @color-base-lighter;
        font-size: 13px;
        font-weight: 400;
    }

    td {
        line-height: 18px;

        font-size: @font-size-small;
    }
}
