.table-params {
    width: 100%;

    tr {
        border-top: 1px solid @color-border;

        &:first-child {
            border-top: 0;
        }
    }

    td, th {
        padding: 8px 0;
        line-height: 18px;

        font-size: @font-size-small;
    }

    th {
        text-align: left;

        font-weight: bold;
        text-transform: uppercase;
    }

    td {
        text-align: right;
    }
}
